<!-- ko if: IsEdit()===false -->
<div class="form-group">
    <label for="ctrlUserID" class="col-md-2 control-label">@MemeMVC.Resource.UserInstance.Admin.Label_Table_UserID</label>
    <div class="col-md-10">
        <span data-bind="html:UserName"></span>
    </div>
</div>
<!-- /ko -->
<!-- ko if: IsEdit()===true -->
<div class="form-group">
    <label for="ctrlUserID" class="col-md-2 control-label">@MemeMVC.Resource.UserInstance.Admin.Label_Table_UserID</label>
    <div class="col-md-10">
        <select id="ctrlUserID" data-bind="options: $parent.UsersVM().ArrUser,optionsText:'UserName',optionsValue:'UserID',optionsCaption:'@MemeMVC.Resource.UserInstance.Admin.PlaceHolder_Table_UserID', value:UserID" class="form-control col-md-12" ></select>
    </div>
</div>
<!-- /ko -->
