<div id="gridUserInstance" class='contenttable'>
    <table width="100%" class="table table-bordered table-hover">
        <thead>
            <tr>
                <td class="k-header" style="text-align: center">
                </td>
                <td class="k-header" style="text-align: center">
                 @MemeMVC.Resource.UserInstance.Admin.Label_Table_OrderNo
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('UserID');}">@MemeMVC.Resource.UserInstance.Admin.Label_Table_UserID  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='UserID'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='UserID'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='UserID'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('Guid');}">@MemeMVC.Resource.UserInstance.Admin.Label_Table_Guid  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='Guid'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='Guid'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='Guid'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
            </tr>
        </thead>
        <tbody data-bind="template:{name:'UserInstanceItem',foreach:ArrUserInstance}">
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
              <div class="row">
                    <div class="control-group col-md-4">
                        <div class="controls">
                            <a class="btn btn-default" data-bind="click:startAddUserInstance"><i class="glyphicon glyphicon-plus" title="@MemeMVC.Resource.UserInstance.Admin.Button_New" ></i>@MemeMVC.Resource.UserInstance.Admin.Button_New</a>
                        </div>
                    </div>
                    <div class=" col-md-8">
                        <div class="pull-right" data-bind="with:Paging">
                            <ul class="pagination">
                               <li > <a data-bind="html:'@MemeMVC.Resource.UserInstance.Admin.Text_TotalItems <b>' + TotalItems() + '</b> @MemeMVC.Resource.UserInstance.Admin.Text_ItemName &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; @MemeMVC.Resource.UserInstance.Admin.Text_Page <b>'+ PageIndex() + '/' + TotalPages() +'</b>'"></a></li>
                               <li data-bind="css:{disabled:PageIndex()==0}"><a data-bind="    click:$parent.gotoPrevPage">&laquo;</a></li>
                               <!-- ko foreach:Pages -->
                               <li data-bind="css:{active:$parent.PageIndex()==$data}"><a data-bind="    html:$data ,click:$parents[1].gotoPage" ></a></li>
                               <!-- /ko -->
                               <li data-bind="css:{disabled:PageIndex()>=TotalPages()}"><a data-bind="    click:$parent.gotoNextPage">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                 </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<script id="UserInstanceItem" type="text/html">
<!-- ko if: IsEdit() === false -->
<tr data-bind="css:{normalrow:(($index()%2)==0),alternativerow:($index()%2!=0)}">
        <td style="text-align:center" class="col-md-1" >
            <button class="btn btn-sm" data-bind="visible:AllowEdit, click:$parent.startEditUserInstance" title="@MemeMVC.Resource.UserInstance.Admin.Tooltip_Edit"><i class="glyphicon glyphicon-pencil" ></i></button>
            <button class="btn btn-sm" data-bind="visible:AllowRemove, click:$parent.removeUserInstance" title="@MemeMVC.Resource.UserInstance.Admin.Tooltip_Remove"><i class="glyphicon glyphicon-trash" ></i></button>
        </td>
        <td class="col-md-1" style="text-align:center" >
            <span data-bind="html:(($parent.Paging().PageIndex()-1)*$parent.Paging().PageSize() + $index()+1)"></span>
        </td>
        <td class="col-md-2">
             <span  data-bind="html:UserName" ></span>
        </td>
</tr>
<!-- /ko -->
<!-- ko if: IsEdit() === true -->
<tr  data-bind="css:{normalrow:(($index()%2)==0),alternativerow:($index()%2!=0)}">
        <td class="col-md-1" style="text-align:center" >
            <button class="btn btn-sm" data-bind="click:$parent.finishEditUserInstance" title="@MemeMVC.Resource.UserInstance.Admin.Tooltip_Save" ><i class="glyphicon glyphicon-ok" ></i></button>
            <button class="btn btn-sm" data-bind="click:$parent.cancelEditUserInstance" title="@MemeMVC.Resource.UserInstance.Admin.Tooltip_Cancel"><i class="glyphicon glyphicon-remove"></i></button>
        </td>
        <td class="col-md-1" style="text-align:center">
            <span data-bind="html:(($parent.Paging().PageIndex()-1)*$parent.Paging().PageSize() + $index()+1)"></span>
        </td>
        <td class="col-md-2">
             <select data-bind="options: $parent.UsersVM().ArrUser, optionsText:'UserName',optionsValue:'UserID',optionsCaption:'@MemeMVC.Resource.UserInstance.Admin.PlaceHolder_Table_UserID', value:UserID" class="form-control col-md-12" ></select>
        </td>
</tr>
<!-- /ko -->
</script>
