@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section styleContent{
}
<div class="row">
    <div class="col-md-12" data-bind="with:$root.UserInstanceVM">
        <div class="row" data-bind="visible:Processing().GetProcessing('UserInstance')()" >
           <div class="col-md-6 col-md-offset-6" style="position:absolute">
               <img src="~/Images/kloading.gif" alt="Loading ..." />
           </div>
        </div>
        <form id="formUserInstance" class="form-horizontal" role="form" data-bind="with:UserInstance">
             <div class="row titleholder">
                <div class="col-md-6">
                      <div class="moduletitle">
                          <span>@MemeMVC.Resource.UserInstance.Admin.Title_Create</span>
                      </div>
                </div>
                <div class="pull-right" data-bind="visible:$root.Processing().Completed()==100">
                    <!-- ko if: IsEdit() === false -->
                     <button class="btn btn-sm" data-bind="visible:AllowEdit, click:$parent.startEditUserInstance"><i class="glyphicon glyphicon-pencil" ></i> @MemeMVC.Resource.UserInstance.Admin.Button_Detail_Edit</button>
                     <button class="btn btn-sm" data-bind="visible:AllowRemove, click:$parent.removeUserInstance" ><i class="glyphicon glyphicon-trash" ></i> @MemeMVC.Resource.UserInstance.Admin.Button_Detail_Remove</button>
                    <!-- /ko -->
                    <!-- ko if: IsEdit() === true -->
                    <button class="btn btn-sm" data-bind="click:$parent.finishEditUserInstance" ><i class="glyphicon glyphicon-ok" ></i> @MemeMVC.Resource.UserInstance.Admin.Button_Detail_Save</button>
                    <button class="btn btn-sm" data-bind="click:$parent.cancelEditUserInstance" ><i class="glyphicon glyphicon-remove"></i> @MemeMVC.Resource.UserInstance.Admin.Button_Detail_Cancel</button>
                    <!-- /ko -->
                    <button class="btn btn-sm" data-bind="click: $parent.goBackToHome"><i class="glyphicon glyphicon-arrow-left"></i>@MemeMVC.Resource.UserInstance.Admin.Button_Detail_Back</button>
                </div>
             </div>
             @Html.Partial("_FormUserInstance")
             <div class="row titleholder">
                <div class="col-md-6">
                </div>
                <div class="pull-right" data-bind="visible:$root.Processing().Completed()==100">
                    <!-- ko if: IsEdit() === false -->
                     <button class="btn btn-sm" data-bind="visible:AllowEdit, click:$parent.startEditUserInstance"><i class="glyphicon glyphicon-pencil" ></i> @MemeMVC.Resource.UserInstance.Admin.Button_Detail_Edit</button>
                     <button class="btn btn-sm" data-bind="visible:AllowRemove, click:$parent.removeUserInstance" ><i class="glyphicon glyphicon-trash" ></i> @MemeMVC.Resource.UserInstance.Admin.Button_Detail_Remove</button>
                    <!-- /ko -->
                    <!-- ko if: IsEdit() === true -->
                    <button class="btn btn-sm" data-bind="click:$parent.finishEditUserInstance" ><i class="glyphicon glyphicon-ok" ></i> @MemeMVC.Resource.UserInstance.Admin.Button_Detail_Save</button>
                    <button class="btn btn-sm" data-bind="click:$parent.cancelEditUserInstance" ><i class="glyphicon glyphicon-remove"></i> @MemeMVC.Resource.UserInstance.Admin.Button_Detail_Cancel</button>
                    <!-- /ko -->
                    <button class="btn btn-sm" data-bind="click: $parent.goBackToHome"><i class="glyphicon glyphicon-arrow-left"></i>@MemeMVC.Resource.UserInstance.Admin.Button_Detail_Back</button>
                </div>
             </div>
         </form>
    </div>
</div>
@section popup{
}
@section scripts{
    @Html.Partial("_CreateJScript")
}
