<div class="row" data-bind="with:EntitysVM">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="dark">
                    <div class="row">
                        <div class="col-md-5">
                            <span>@MemeMVC.Resource.Entity.Admin.Title </span>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="@MemeMVC.Resource.Entity.Admin.PlaceHolder_Search" data-bind="value:SearchCode" />
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button" data-bind="click:searchEntitys" style="margin-top:4px;">
                                        <i class="glyphicon glyphicon-search"></i>@MemeMVC.Resource.Entity.Admin.Button_Search
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-bind="visible:Processing().GetProcessing('Entitys')" class="row" style="position: absolute">
            <div class="col-md-5 col-md-offset-5">
                <img src="~/Images/kloading.gif" alt="Loading..." />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("_TableEntity")
            </div>
        </div>
    </div>
</div>
