<script type="text/javascript">
    var EntityViewModel = function () {
        var self = this;
        self.GetUrl = {
            getEntity: "@Url.Action("Get", "Entity")",
            saveEntity: "@Url.Action("Save", "Entity")",
            removeEntity: "@Url.Action("Remove", "Entity")",
            gotoMaster: "@Url.Action("Admin", "Entity")",
            getGUIDString: "@Url.Action("GetGUIDString", "Entity")"
        };
        self.EntityID = ko.observable(null);
        self.Entity = ko.observable(null);
        self.Transition = ko.observable(null);
        self.Processing = ko.observable(null);
        self.FFInit = ko.observable(null);
        self.InitModel = function (transition, processing) {
            self.Transition = transition;
            self.Processing = processing;
        };
        self.SetFFInit = function (ffinit) {
            self.FFInit(ffinit);
        };
        self.SetEntityID = function (id) {
            self.EntityID(id);
        }
        self.InitData = function () {
            InitEntity();
        };
        self.startEditEntity = function (entity) {
            entity.OldValue(ko.toJS(entity));
            entity.IsEdit(true);
        }
        self.finishEditEntity = function (entity) {
            SaveEntity(entity);
        }
        self.cancelEditEntity = function (entity) {
            ResetEntity(entity);
            entity.IsEdit(false);
        }
        self.removeEntity = function (entity) {
            DeleteEntity(entity);
        };
        self.completeEntity = function (entity) {
            CompleteEntity(entity);
        };
        self.goBackToHome = function () {
            window.location.href = self.GetUrl.gotoMaster;
        };
        function InitEntity() {
            self.Processing().SetProcessing("Entity", true);
            if (self.EntityID() > 0) {
                $.post(self.GetUrl.getEntity, { id: self.EntityID() }, FinishInitEntity);
            } else {
                $.post(self.GetUrl.getGUIDString, {}, FinishInitEntityGUID);
            }
        };
        function FinishInitEntity(data) {
            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                self.Entity(self.ConvertDataToEntity(data.Entity));
            }
            if (self.FFInit() != null) self.FFInit()();
            self.Processing().SetProcessing("Entity", false);
        }
        function FinishInitEntityGUID(data) {
            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                var newEntity = new Entity(
                       0,
                       "",
                       "",
                       ""
                   );
                newEntity.GUID(data.GUIDString);
                self.Entity(newEntity);
                self.Entity().AllowEdit(true);
                self.Entity().AllowRemove(true);
                self.Entity().AllowSendTo(false);
                self.Entity().AllowPrint(false);
                self.Entity().AllowAddDetail(true);
                self.Entity().IsEdit(true);
            }
            self.Processing().SetProcessing("Entity", false);
        }
        function SaveEntity(entity) {
            if (ValidateEntity(entity)) {
                self.Processing().SetProcessing("Entity", true);
                $.post(self.GetUrl.saveEntity, ConvertEntityToPostObject(entity), FinishSaveEntity);
            }
        }
        function ValidateEntity(item) {
            return true;
        }
        function FinishSaveEntity(data) {
            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                self.Entity().EntityID(data.Entity.EntityID);
                self.EntityID(data.Entity.EntityID);
                self.Entity().IsEdit(false);
            } else {
                bootbox.alert("@MemeMVC.Resource.Entity.Admin.Message_SaveFail");
            }
            self.Processing().SetProcessing("Entity", false);
        }
        function DeleteEntity(entity) {
            self.Processing().SetProcessing("Entity", true);
            bootbox.confirm("<b>@MemeMVC.Resource.Entity.Admin.Message_ConfirmDelete</b>", function (result) {
                if (result) {
                    if (entity != undefined) {
                        $.post(self.GetUrl.removeEntity, { id: self.Entity().EntityID() }, function (data) {
                            self.Processing().SetProcessing("Entity", false);
                            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                                window.location.href = self.GetUrl.gotoMaster;
                            } else {
                                bootbox.alert("@MemeMVC.Resource.Entity.Admin.Message_NotConnectAPI");
                            }
                        });
                    }
                }
            });
        }
        function CompleteEntity(entity) {
        }
        function ConvertEntityToPostObject(entity) {
            var postObject = {
                EntityID: entity.EntityID(),
                Name: entity.Name(),
                Property: entity.Property(),
                Data: entity.Data(),
                GUID: entity.GUID()
            };
            return postObject;
        }
        function ResetEntity(entity) {
            entity.EntityID(entity.OldValue().EntityID);
            entity.Name(entity.OldValue().Name);
            entity.Property(entity.OldValue().Property);
            entity.Data(entity.OldValue().Data);
        }
        self.ConvertDataToEntity = function (dataItem) {
            var entity = new Entity(
                                         dataItem.EntityID,
                                         dataItem.Name,
                                         dataItem.Property,
                                         dataItem.Data
                                         );
            return entity;
        }
    };
</script>
