<!-- ko if: IsEdit()===false -->
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.Entity.Admin.Label_Table_Name</label>
            <div class="col-md-10">
                <span data-bind="html:Name" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.Entity.Admin.Label_Table_Property</label>
            <div class="col-md-10">
                <span data-bind="html:Property" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.Entity.Admin.Label_Table_Data</label>
            <div class="col-md-10">
                <span data-bind="html:Data" ></span>
            </div>
        </div>
<!-- /ko -->
<!-- ko if: IsEdit()===true -->
        <div class="form-group">
            <label for="ctrlName" class="col-md-2 control-label">@MemeMVC.Resource.Entity.Admin.Label_Table_Name</label>
            <div class="col-md-10">
                <input id="ctrlName" type="text" data-bind="value:Name" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlProperty" class="col-md-2 control-label">@MemeMVC.Resource.Entity.Admin.Label_Table_Property</label>
            <div class="col-md-10">
                <input id="ctrlProperty" type="text" data-bind="value:Property" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlData" class="col-md-2 control-label">@MemeMVC.Resource.Entity.Admin.Label_Table_Data</label>
            <div class="col-md-10">
                <input id="ctrlData" type="text" data-bind="value:Data" class="form-control col-md-12" />
            </div>
        </div>
<!-- /ko -->
