

blockquote {
  border-left: 4px solid #2E8CFA;
  margin-left: 0px;
  padding-left: 15px;
  margin-right: 0px;
}

.switcher {
  width: 150px;
  position: fixed;
  top: 20px;
  left: 10px;
  font-family: Helvetica, Arial;
  font-weight: bold;
  font-size: 15px;
}

.switcher .switch-toggle {
  margin-bottom: 10px;
}

.popcontainer {
  width: 840px;
  margin: 80px auto;
}

.popeditor {
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  font-weight: normal;
  width: 100%;
  height: 760px;
  line-height: normal;
  outline: none;
}

.hide {
  display: none;
}
