@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section styleContent{
     <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.0.2/firebase.js"></script>
}
<div class="row">
    <div class="col-md-12">
          <div id='messagesDiv'></div>
        <input type='text' id='nameInput' placeholder='Name'/>
        <input type='text' id='messageInput' placeholder='Message'/>
    </div>
</div>
@section popup{
}
@section scripts{
    <script type="text/javascript">
        var myDataRef = new Firebase('https://mememap.firebaseio.com/');
        $('#messageInput').keypress(function (e) {
            if (e.keyCode == 13) {
                var name = $('#nameInput').val();
                var text = $('#messageInput').val();
                myDataRef.push({ name: name, text: text });
                $('#messageInput').val('');
            }
        });
        myDataRef.on('child_added', function (snapshot) {
            //We'll fill this in later.
            var message = snapshot.val();
            displayChatMessage(message.name, message.text);
        });
        function displayChatMessage(name, text) {
            $('<div/>').text(text).prepend($('<em/>').text(name + ': ')).appendTo($('#messagesDiv'));
            $('#messagesDiv')[0].scrollTop = $('#messagesDiv')[0].scrollHeight;
        };
    </script>
}
