﻿

nav ul ul li>a{
    font-size:12px;
}

nav ul li a {
    font-size:12px;
}

aside{
    background-color: #FFFFFF;
    background-image:none;
}

#main{
    background-color: #FFFFFF;
}

#container {
    background-color: rgb(239,240,240);
    border: solid 1px #f4f4f4;
    width: 100%;
    height: 500px;
    box-shadow: 0px 0px 3px #888888;
}

#myloadingcover {
    background-color: rgb(239,240,240);
    border: solid 1px #f4f4f4;
    width: 100%;
    height: 500px;
    box-shadow: 0px 0px 3px #888888;
}

.formtitle{
    float:left; font-size:14px;font-family:Abel;font-weight:bold;margin-top:-3px;
}

#xcontainer {
    background-size: 22px 22px;
    background-image: -webkit-repeating-linear-gradient(45deg, rgba(127, 191, 255, .4), rgba(127, 191, 255, .4) 1px, transparent 2px, transparent 15px), -webkit-repeating-linear-gradient(-45deg, rgba(255, 182, 193, .4), rgba(255, 182, 193, .4) 1px, transparent 2px, transparent 15px);
    background-image: -moz-repeating-linear-gradient(45deg, rgba(0, 191, 255, .5), rgba(0, 191, 255, .5) 1px, transparent 2px, transparent 15px), -moz-repeating-linear-gradient(-45deg, rgba(255, 182, 193, .5), rgba(255, 182, 193, .5) 1px, transparent 2px, transparent 15px);
    background-image: -o-repeating-linear-gradient(45deg, rgba(0, 191, 255, .5), rgba(0, 191, 255, .5) 1px, transparent 2px, transparent 15px), -o-repeating-linear-gradient(-45deg, rgba(255, 182, 193, .5), rgba(255, 182, 193, .5) 1px, transparent 2px, transparent 15px);
    background-image: repeating-linear-gradient(45deg, rgba(127, 191, 255, .5), rgba(127, 191, 255, .5) 1px, transparent 2px, transparent 15px), repeating-linear-gradient(-45deg, rgba(255, 182, 193, .5), rgba(255, 182, 193, .5) 1px, transparent 2px, transparent 15px);
}

.ideaInput {
    position: absolute;
    border: none;
    z-index: 999;
    background-color: transparent;
    color: #F8F8F8;
    font-family: Abel;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    resize: none;
}

    .ideaInput:focus {
        outline: none;
    }

#linkEditWidget {
    background-color: yellow;
    z-index: 999;
    display: none;
    position: absolute;
}

.active {
    background-color: none;
    color: #000000;
    font-weight:bold;
}

#header{
    border-bottom:solid 1px #cbcbcb ;

}

#header, .inbox-footer, .superbox-show {
    /*background-image:linear-gradient(to bottom,#ffba00 99%,#ab7d02 100%);*/
    background-color: #ffffff;
}


#project-context > :first-child {
    color:#525860;
    
}

#project-selector {
    color:#1d2e45;
    font-size:16px;
    font-family:Abel;
}

.header-search>input[type="text"]{
    
    font-size:12px;
    font-family:Tahoma;
}
#header>:first-child{
    width:350px;
}
#logo{
    width:300px;
    text-align:center;
}

#logo-group span#activity{
    color:#1c98cc;
}

.btn-header > :first-child > a {
    color:#1c98cc;
}

.btn-header > :first-child > a:hover {
    color:#ffba00;
}

.login-info a:hover{
    color:#188dd8;
}

.minifyme{
    height:38px;
    border-radius:2px 0px 0px 2px;
    font-size:26px;
    border-bottom:0px solid #ffffff;
    color:#eeeeee;
	box-shadow: -1px 0px 4px #aaaaaa;
}

#show-shortcut{
    font-family:Tahoma;
}

.login-info a span {
    font-size:15px;
    font-weight:bold;
    -webkit-font-smoothing:antialiased;
	font-family:Abel;
	color:#1c98cc;
}

.minifyme:hover{
	background-color:#ffeab0;
}

.login-info a:hover span {
    
	color:#ffba00;
}

#header{
    font-family:Tahoma;
}

.dropdownselect{
    float:left;
    position:relative;
}

.dropdown-menu>li>a{
	font-family:Tahoma;
	font-size:12px !important;
}

.dropdown-menu>li>a >i{
	font-size:16px !important;
}


nav > ul > li   a{
	font-family:Tahoma;
	font-size:12px !important;
}

nav ul li a{
	padding:5px 10px 5px 5px
}

nav > ul > li   >a{
	font-size:14px !important;
	font-weight:bold;
    font-family:Abel;
	padding-top:8px;
	padding-bottom:8px;
}
nav>ul>li>ul>li>a{
	padding-top:5px;
	padding-bottom:5px;
}
nav ul ul li>a{
	padding-left:10px;
}
nav ul ul{
	padding-top:0px;
}

nav > ul > li > a b{
	top:6px;
	right:0px;
}

nav ul b{
	font-size:18px;
}

.pagetitle{
	position:absolute;
	top:10px; left:20px;
	z-index:1000;
	color:#333333;
	
}
.page-title{
    margin-top:0px;
    margin-bottom:0px;
}
.pagecontrol{
	/*position:absolute;
	top:55px; left:40px;
	z-index:1000;*/
    float:left;
    margin-left:0px;
    margin-top:0px;
}

.pagecontrol button{
	box-shadow: 0px 0px 4px #aaaaaa;
}
.mainmaptoolbar{
    width:680px; border-bottom: solid 1px #d0d0d0;  margin-right:10px;padding-top:14px;padding-left:20px; margin-top:10px;
    box-shadow: 0px 0px 4px #aaaaaa; border-left: solid 4px #d0d0d0; 
}

nav{
	margin-top:30px;
}
.slider{
    margin-bottom:20px;
}

.mapcontrol{
	height:50px;
	position:absolute;
	right:0px;
	top:0px;
	z-index:1000;
}
.maptoolbar{
	width:94px;
	height:320px;
	position:absolute;
	left:20px;
	top:120px;
	z-index:1000;
	border:solid 1px #dddddd; 
	background-color:#ffffff;
	box-shadow: 0px 0px 4px #aaaaaa;
	border-radius:2px 2px 0px 2px;
}

.maptoolbar a {
	margin-left:8px;
	margin-top:8px;
}

.slider-track{
	background-color:#979797;
	
}

.slider.slider-horizontal .slider-track{
	height:2px;
}

.slider.slider-horizontal .slider-handle{
	margin-top:-9px;
}

.mapcontrolbtn{
	box-shadow: 0px 0px 4px #999999;
}

.slider-track{
	box-shadow: 0px 0px 2px #bbbbbb;
}
.titlelink{
	font-size:24px;
	font-family:Abel;
	font-weight:bold;	
	-webkit-font-smoothing:antialiased;
}
.titlelink:hover{
	
}

#projectlist .titlelink{
	
	color:#F8B00F;
}

#projectlist.titlelink:hover{
	color:#F8B00F;
	text-decoration:none;
}

#maplist .titlelink{
	color:#1c98cc;
}

#maplist .titlelink:hover{
	color:#1c98cc;
	
}
.tc_inner_card{
	padding:5px;
}

.project-title{
	font-size:34px;
	font-family:Abel;
	font-weight:bold;	
	color:#ffba00;
}

button.btn:hover{
	background-color:#ffffff !important;
	color:#000000;
}

.jarviswidget-color-blue>header{
	background-color:#737373 ;
}

.jarviswidget-color-blueDark>header{
	background-color:#737373 ;
}

input, button, select, textarea{
	font-family:Arial;
}

.btn{
	font-family:Abel;
	font-size:12px;
	font-weight:bold;
}

#login .login-header-big{
	font-family:Tahoma;
	font-size:32px;
	font-weight:bold;
	color:#ffba00 !important;
}

#loginpanel {
	font-family:Tahoma;
	font-size:14px;
}

.about-heading{
	font-family:Tahoma;
	font-size:14px;
}
.paragraph-header
{
	font-family:Tahoma;
	font-size:22px;
}

.form header{
	font-family:Tahoma;
	font-size:26px;
	font-weight:bold;
	color:#ffba00 ;
}

.well
{
	background-color:#ffffff;
}

#project-selector:hover {
    color:#ffba00 ;
}


#mynodeeditor {
	position: absolute;
	display: none;
	z-index: 1003;
	background: #fff;
	top: 48px;
	left: 16px;
	width: 344px;
	height: auto;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-box-shadow: 0 2px 4px rgba(30,30,100,.25);
	-moz-box-shadow: 0 2px 4px rgba(30,30,100,.25);
	box-shadow: 0 2px 4px rgba(30,30,100,.25);
	padding: 10px;
	background: #fff;
	border: 1px solid #b3b3b3
}
#mynodeeditor:after,#mynodeeditor:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none
}
#mynodeeditor:after {
	border-color: rgba(255,255,255,0);
	border-bottom-color: #fff;
	border-width: 7px;
	left: 50%;
	margin-left: -7px
}
#mynodeeditor:before {
	border-color: rgba(131,131,131,0);
	border-bottom-color: #838383;
	border-width: 8px;
	left: 50%;
	margin-left: -8px
}

#mynodeeditor {
	width: 299px;
	height: auto;
	left: 400px;
	top: 49px
}
#mynodeeditor:before {
	margin-left: -14px
}
#mynodeeditor:after {
	margin-left: -13px
}

.beactive#mynodeeditor {
	-webkit-animation-name: flipInY;
	-moz-animation-name: flipInY;
	-o-animation-name: flipInY;
	animation-name: flipInY;
	-webkit-animation-duration: .7s;
	-moz-animation-duration: .7s;
	-o-animation-duration: .7s;
	animation-duration: .7s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both
}

.close{
    font-size:30px;
}

.dark 
{    
	
	padding: 10px;
	padding-left:20px;
	margin-bottom: 10px;
	position: relative;
	border-left: 4px solid rgb(66, 139, 202);
	font-size: 22px;
	font-family:Abel;
	font-weight:bold;
	color:rgb(66, 139, 202);
    margin-right:50px;
}

.nodetypeselection{
    margin:10px;
    cursor:pointer;
    padding:10px;
}
.nodetypeselection:hover{
    border:dashed 4px #aaaaaa;
    
}

#logo img{
    margin-top:12px;
    border-bottom:1px solid #e21259;
}

.toolbaraction{
    margin-left:10px;
    font-size:22px;
}

.toolbaraction-top{
    float:left;
    width:100%;
    margin-top:0px;
    font-size:16px;
}

.toolbaractionbtn-small{
    text-align:center;
    box-shadow: 0px 0px 4px #999999;
    height: 25px;
    width: 35px;
    float:left;
    padding-left:0px;
    padding-top:3px;
    border-radius: 35px;
    -moz-border-radius:35px;
    -webkit-border-radius:35px;
    border: 1px solid #aaaaaa;
    background-color:#ffffff;
    font-size:12px;
    color:#999999;
}
.toolbaractionbtn-small:hover{    
    background-color:rgb(239,240,240);
    border: 1px solid #ffba00;
}
.toolbaractionbtn{
    text-align:center;
    box-shadow: 0px 0px 4px #999999;
    padding-left:0px;
    padding-top:5px;
    height: 30px;
    width: 40px;
    float:left;
    border-radius: 40px;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    border: 1px solid #aaaaaa;
    background-color:#ffffff;
    font-size:14px;
    color:#999999;
    
}
.toolbaractionbtn:hover{    
    background-color:rgb(239,240,240);
    border: 1px solid #ffba00;
}

.tab-content p{
    font-weight:normal;
    font-size:12px;
}

.ProgressingStatus{
    font-size:9px;
}

.tab-content{
    float:left;
    width:100%;
}

.modal-body{
    padding-bottom:0px;
}

.noteditorpanel{
    background-color:#ffffff; margin-top:15px;
    -webkit-box-shadow: 0 2px 4px rgba(30,30,100,.25);
	-moz-box-shadow: 0 2px 4px rgba(30,30,100,.25);
	box-shadow: 0 2px 4px rgba(30,30,100,.25);
    padding:5px;
    padding-right:20px;
}

.form-row label{
    font-family:Abel;
    font-weight:bold;
    font-size:12px;
}


.noteditorcontainer{
    
}

.videoviewerpanel{
    background-color:#ffffff; margin-top:15px;
    -webkit-box-shadow: 0 2px 4px rgba(30,30,100,.25);
	-moz-box-shadow: 0 2px 4px rgba(30,30,100,.25);
	box-shadow: 0 2px 4px rgba(30,30,100,.25);
    padding:5px;
    padding-right:20px;
}



.popeditor{
    min-height:500px;
}

#searchpanel{
     -webkit-box-shadow: 0 2px 5px 1px rgba(0,0,0,0.1);
    box-shadow:         0 2px 5px 1px rgba(0,0,0,0.1);
}

#searchpanel:hover{
    opacity:1;
}

.tool-item {
    width:120px;
    text-align:left;
}

.tool-container {
    background:none;
    background-color:#ffffff;
    border-radius: 5px;
    padding: 10px;
}
.tool-left .tool-item, .tool-right .tool-item{
    border-top:solid 0px #ffffff;
    border-bottom:solid 0px #ffffff;
}
