<!-- ko if: IsEdit()===false -->
        <div class="form-group">
            <label for="ctrlUserInstanceID" class="col-md-2 control-label">@MemeMVC.Resource.Project.Admin.Label_Table_UserInstanceID</label>
            <div class="col-md-10">
                <span  data-bind="html: UserName" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.Project.Admin.Label_Table_Name</label>
            <div class="col-md-10">
                <span data-bind="html: Name" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.Project.Admin.Label_Table_Description</label>
            <div class="col-md-10">
                <span data-bind="html: Description" ></span>
            </div>
        </div>
<!-- /ko -->
<!-- ko if: IsEdit()===true -->
        <div class="form-group">
            <label for="ctrlUserInstanceID" class="col-md-2 control-label">@MemeMVC.Resource.Project.Admin.Label_Table_UserInstanceID</label>
            <div class="col-md-10">
                <select id="ctrlUserInstanceID" data-bind="options: $parent.UserInstancesVM().ArrUserInstance,optionsText:'UserName',optionsValue:'UserInstanceID',optionsCaption:'@MemeMVC.Resource.Project.Admin.PlaceHolder_Table_UserInstanceID',value:UserInstanceID" class="form-control col-md-12" ></select>
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlName" class="col-md-2 control-label">@MemeMVC.Resource.Project.Admin.Label_Table_Name</label>
            <div class="col-md-10">
                <input id="ctrlName" type="text" data-bind="value: Name" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlDescription" class="col-md-2 control-label">@MemeMVC.Resource.Project.Admin.Label_Table_Description</label>
            <div class="col-md-10">
                <input id="ctrlDescription" type="text" data-bind="value: Description" class="form-control col-md-12" />
            </div>
        </div>
<!-- /ko -->
