<script type="text/javascript">
    var ProjectViewModel = function () {
        var self = this;
        self.GetUrl = {
            getProject: "@Url.Action("Get", "Project")",
            saveProject: "@Url.Action("Save", "Project")",
            removeProject: "@Url.Action("Remove", "Project")",
            gotoMaster: "@Url.Action("Admin", "Project")",
            getGUIDString: "@Url.Action("GetGUIDString", "Project")"
        };
        self.ProjectID = ko.observable(null);
        self.Project = ko.observable(null);
        self.Transition = ko.observable(null);
        self.Processing = ko.observable(null);
        self.FFInit = ko.observable(null);
        self.UserInstancesVM = ko.observable(null);
        self.InitModel = function (transition, processing) {
            self.Transition = transition;
            self.Processing = processing;
        };
        self.SetFFInit = function (ffinit) {
            self.FFInit(ffinit);
        };
        self.SetProjectID = function (id) {
            self.ProjectID(id);
        }
        self.SetUserInstancesVM = function (userinstancesvm) {
            self.UserInstancesVM = userinstancesvm;
        };
        self.InitData = function () {
            InitProject();
        };
        self.startEditProject = function (project) {
            project.OldValue(ko.toJS(project));
            project.IsEdit(true);
        }
        self.finishEditProject = function (project) {
            SaveProject(project);
        }
        self.cancelEditProject = function (project) {
            ResetProject(project);
            project.IsEdit(false);
        }
        self.removeProject = function (project) {
            DeleteProject(project);
        };
        self.completeProject = function (project) {
            CompleteProject(project);
        };
        self.goBackToHome = function () {
            window.location.href = self.GetUrl.gotoMaster;
        };
        function InitProject() {
            self.Processing().SetProcessing("Project", true);
            if (self.ProjectID() > 0) {
                $.post(self.GetUrl.getProject, { id: self.ProjectID() }, FinishInitProject);
            } else {
                $.post(self.GetUrl.getGUIDString, {}, FinishInitProjectGUID);
            }
        };
        function FinishInitProject(data) {
            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                self.Project(self.ConvertDataToProject(data.Project));                
            }
            if (self.FFInit() != null) self.FFInit()();
            self.Processing().SetProcessing("Project", false);
        }
        function FinishInitProjectGUID(data) {
            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                var newProject = new Project(
                       0,
                       0,
                       "",
                       ""
                   );
                newProject.GUID(data.GUIDString);
                self.Project(newProject);
                self.Project().AllowEdit(true);
                self.Project().AllowRemove(true);
                self.Project().AllowSendTo(false);
                self.Project().AllowPrint(false);
                self.Project().AllowAddDetail(true);
                self.Project().IsEdit(true);
            }
            self.Processing().SetProcessing("Project", false);
        }
        function SaveProject(project) {
            if (ValidateProject(project)) {
                self.Processing().SetProcessing("Project", true);
                $.post(self.GetUrl.saveProject, ConvertProjectToPostObject(project), FinishSaveProject);
            }
        }
        function ValidateProject(item) {
            if (item.UserInstanceID() != null) {
                if (self.UserInstancesVM() != null) {
                    var userinstance = ko.utils.arrayFirst(self.UserInstancesVM().ArrUserInstance(), function (userinstance1) {
                        return userinstance1.UserInstanceID() == item.UserInstanceID();
                    });
                    if (userinstance != null) {
                        item.UserName(userinstance.UserName());
                    }
                }
            }
            else {
                item.UserName("");
            }
            return true;
        }
        function FinishSaveProject(data) {
            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                self.Project().ProjectID(data.Project.ProjectID);
                self.ProjectID(data.Project.ProjectID);
                self.Project().IsEdit(false);
            } else {
                bootbox.alert("@MemeMVC.Resource.Project.Admin.Message_SaveFail");
            }
            self.Processing().SetProcessing("Project", false);
        }
        function DeleteProject(project) {
            self.Processing().SetProcessing("Project", true);
            bootbox.confirm("<b>@MemeMVC.Resource.Project.Admin.Message_ConfirmDelete</b>", function (result) {
                if (result) {
                    if (project != undefined) {
                        $.post(self.GetUrl.removeProject, { id: self.Project().ProjectID() }, function (data) {
                            self.Processing().SetProcessing("Project", false);
                            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                                window.location.href = self.GetUrl.gotoMaster;
                            } else {
                                bootbox.alert("@MemeMVC.Resource.Project.Admin.Message_NotConnectAPI");
                            }
                        });
                    }
                }
            });
        }
        function CompleteProject(project) {
        }
        function ConvertProjectToPostObject(project) {
            var postObject = {
                ProjectID: project.ProjectID(),
                UserInstanceID: project.UserInstanceID(),
                Name: project.Name(),
                Description: project.Description(),
                GUID: project.GUID()
            };
            return postObject;
        }
        function ResetProject(project) {
            project.ProjectID(project.OldValue().ProjectID);
            project.UserInstanceID(project.OldValue().UserInstanceID);
            project.Name(project.OldValue().Name);
            project.Description(project.OldValue().Description);
        }
        self.ConvertDataToProject = function (dataItem) {
            var project = new Project(
                                         dataItem.ProjectID,
                                         dataItem.UserInstanceID,
                                         dataItem.Name,
                                         dataItem.Description
                                         );
            project.UserName(dataItem.UserName);
            return project;
        }
    };
</script>
