<div id="gridProject" class='contenttable'>
    <table width="100%" class="table table-bordered table-hover">
        <thead>
            <tr>
                <td class="k-header" style="text-align: center">
                </td>
                <td class="k-header" style="text-align: center">
                 @MemeMVC.Resource.Project.Admin.Label_Table_OrderNo
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('UserInstanceID');}">@MemeMVC.Resource.Project.Admin.Label_Table_UserInstanceID  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='UserInstanceID'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='UserInstanceID'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='UserInstanceID'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('Name');}">@MemeMVC.Resource.Project.Admin.Label_Table_Name  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='Name'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='Name'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='Name'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('Description');}">@MemeMVC.Resource.Project.Admin.Label_Table_Description  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='Description'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='Description'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='Description'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
            </tr>
        </thead>
        <tbody data-bind="template:{name:'ProjectItem',foreach:ArrProject}">
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
              <div class="row">
                    <div class="control-group col-md-4">
                        <div class="controls">
                            <a class="btn btn-default" data-bind="click:startAddProject"><i class="glyphicon glyphicon-plus" title="@MemeMVC.Resource.Project.Admin.Button_New" ></i>@MemeMVC.Resource.Project.Admin.Button_New</a>
                        </div>
                    </div>
                    <div class=" col-md-8">
                        <div class="pull-right" data-bind="with:Paging">
                            <ul class="pagination">
                               <li > <a data-bind="html:'@MemeMVC.Resource.Project.Admin.Text_TotalItems <b>' + TotalItems() + '</b> @MemeMVC.Resource.Project.Admin.Text_ItemName &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; @MemeMVC.Resource.Project.Admin.Text_Page <b>'+ PageIndex() + '/' + TotalPages() +'</b>'"></a></li>
                               <li data-bind="css:{disabled:PageIndex()==0}"><a data-bind="click:$parent.gotoPrevPage">&laquo;</a></li>
                               <!-- ko foreach:Pages -->
                               <li data-bind="css:{active:$parent.PageIndex()==$data}"><a data-bind="html:$data ,click:$parents[1].gotoPage" ></a></li>
                               <!-- /ko -->
                               <li data-bind="css:{disabled:PageIndex()>=TotalPages()}"><a data-bind="click:$parent.gotoNextPage">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                 </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<script id="ProjectItem" type="text/html">
<!-- ko if: IsEdit() === false -->
<tr data-bind="css:{normalrow:(($index()%2)==0),alternativerow:($index()%2!=0)}">
        <td style="text-align:center" class="col-md-1" >
            <button class="btn btn-sm" data-bind="visible:AllowEdit, click:$parent.startEditProject" title="@MemeMVC.Resource.Project.Admin.Tooltip_Edit"><i class="glyphicon glyphicon-pencil" ></i></button>
            <button class="btn btn-sm" data-bind="visible:AllowRemove, click:$parent.removeProject" title="@MemeMVC.Resource.Project.Admin.Tooltip_Remove"><i class="glyphicon glyphicon-trash" ></i></button>
        </td>
        <td class="col-md-1" style="text-align:center" >
            <span data-bind="html:(($parent.Paging().PageIndex()-1)*$parent.Paging().PageSize() + $index()+1)"></span>
        </td>
        <td class="col-md-2">
             <span  data-bind="html:UserName" ></span>
        </td>
        <td class="col-md-2">
            <span data-bind="html:Name" ></span>
        </td>
        <td class="col-md-2">
            <span data-bind="html:Description" ></span>
        </td>
</tr>
<!-- /ko -->
<!-- ko if: IsEdit() === true -->
<tr  data-bind="css:{normalrow:(($index()%2)==0),alternativerow:($index()%2!=0)}">
        <td class="col-md-1" style="text-align:center" >
            <button class="btn btn-sm" data-bind="click:$parent.finishEditProject" title="@MemeMVC.Resource.Project.Admin.Tooltip_Save" ><i class="glyphicon glyphicon-ok" ></i></button>
            <button class="btn btn-sm" data-bind="click:$parent.cancelEditProject" title="@MemeMVC.Resource.Project.Admin.Tooltip_Cancel"><i class="glyphicon glyphicon-remove"></i></button>
        </td>
        <td class="col-md-1" style="text-align:center">
            <span data-bind="html:(($parent.Paging().PageIndex()-1)*$parent.Paging().PageSize() + $index()+1)"></span>
        </td>
        <td class="col-md-2">
             <select data-bind="options: $parent.UserInstancesVM().ArrUserInstance,optionsText:'UserName',optionsValue:'UserInstanceID',optionsCaption:'@MemeMVC.Resource.Project.Admin.PlaceHolder_Table_UserInstanceID',value:UserInstanceID" class="form-control col-md-12" ></select>
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:Name"  class="form-control col-md-12" />
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:Description"  class="form-control col-md-12" />
        </td>
</tr>
<!-- /ko -->
</script>
