@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section styleContent{
}
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_ArrPageProject")
    </div>
</div>
@section popup{
}
@section scripts{
    @Html.Partial("_AdminJScript")
}
