@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section styleContent{
}
<div class="row">
    <div class="col-md-12" data-bind="with:$root.ProjectVM">
        <div class="row" data-bind="visible:Processing().GetProcessing('Project')()" >
           <div class="col-md-6 col-md-offset-6" style="position:absolute">
               <img src="~/Images/kloading.gif" alt="Loading ..." />
           </div>
        </div>
        <form id="formProject" class="form-horizontal" role="form" data-bind="with:Project">
                @Html.Partial("_FormProject")
           </form>
    </div>
</div>
@section popup{
}
@section scripts{
    @Html.Partial("_EditJScript")
}
