﻿@{
    Layout = "~/Views/Shared/_MemeLayout.cshtml";    
}
<link id="base-style" href="~/Content/memeplugin/tip_cards.css" rel="stylesheet">
<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- MAIN CONTENT -->
    <div id="content" data-bind="with: ProjectsVM">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="controls">
                    <a class="btn btn-default" data-bind="click: startAddProject">
                        <i class="glyphicon glyphicon-plus" title="Add new project"></i>New Project</a>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="border-bottom: solid 1px #dddddd;">
                <!-- input: search field -->
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                           <div class="header-search pull-left " style="padding-top:10px;">
                                <input type="text" placeholder="Find project" id="search-fld"  data-bind="value:GetSearchParam('SearchCode').Value"/>
                                <button data-bind="click:searchProjects" style="padding-top:8px;">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        <div class="pull-right" data-bind="with:Paging">
                            <ul class="pagination">
                                <li><a data-bind="html:'@MemeMVC.Resource.Project.Admin.Text_TotalItems <b>' + TotalItems() + '</b> @MemeMVC.Resource.Project.Admin.Text_ItemName &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; @MemeMVC.Resource.Project.Admin.Text_Page <b>'+ PageIndex() + '/' + TotalPages() +'</b>'"></a></li>
                                <li data-bind="css:{disabled:PageIndex()==0}"><a data-bind="click:$parent.gotoPrevPage">&laquo;</a></li>
                                <!-- ko foreach:Pages -->
                                <li data-bind="css:{active:$parent.PageIndex()==$data}"><a data-bind="html:$data ,click:$parents[1].gotoPage"></a></li>
                                <!-- /ko -->
                                <li data-bind="css:{disabled:PageIndex()>=TotalPages()}"><a data-bind="click:$parent.gotoNextPage">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end input: search field -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul id="projectlist" class="tips" data-bind="foreach: ArrProject">
                    <li class="hiddentip">
                        <div class="tip" data-bind="attr: {id:'tip'+ $index()}">
                            <div style="height: 200px;">
                                <!-- ko if: IsEdit() === false -->
                                <a class="titlelink" data-bind="attr: {href: '@Url.Action("Detail1", "Map")' + '/'+ ProjectID() }">
                                    <span data-bind="    html: Name"></span></a>
                                <!-- /ko -->
                                <!-- ko if: IsEdit() === true -->
                                <input data-bind="value: Name" />
                                <!-- /ko -->
                                <p>
                                    <b><span data-bind="html:NumOfMap"></span></b> Maps
                                    <br />
                                    <b>Last Access</b>
                                    <br />
                                    <span data-bind="html:LastAccessDate"></span>
                                    <br />
                                </p>
                                <div style="height: 30px; position: absolute; bottom: 0px;">
                                    <!-- ko if: IsEdit() === false -->
                                    <button class="btn btn-sm" data-bind="visible: AllowEdit, click: $parent.startEditProject" 
                                    title="@MemeMVC.Resource.Project.Admin.Tooltip_Edit">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </button>
                                    <button class="btn btn-sm" data-bind="visible: AllowRemove, click: $parent.removeProject" 
                                    title="@MemeMVC.Resource.Project.Admin.Tooltip_Remove">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                    <!-- /ko -->
                                    <!-- ko if: IsEdit() === true -->
                                    <button class="btn btn-sm" data-bind="click: $root.finishEditProject" 
                                    title="@MemeMVC.Resource.Project.Admin.Tooltip_Save" >
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </button>
                                    <button class="btn btn-sm" data-bind="click: $parent.cancelEditProject" 
                                    title="@MemeMVC.Resource.Project.Admin.Tooltip_Cancel">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                    <!-- /ko -->
                                </div>
                            </div>

                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->
@section popup{
}
@section scripts{

    @Html.Partial("_IndexJScript")
}
