﻿@{
    Layout = "~/Views/Shared/_MemeLayout.cshtml";    
}
<link id="base-style" href="~/Content/memeplugin/tip_cards.css" rel="stylesheet">
<!-- MAIN PANEL -->
<div id="main" role="main">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-success" href="@Url.Action("LinkedInAuthorize","User")">LinkedIn Login</a>
        </div>
    </div>
</div>
<!-- END MAIN PANEL -->
@section popup{
}
@section scripts{

    @*@Html.Partial("_IndexJScript")*@
}
