﻿@{
    Layout = "~/Views/Shared/_MemeLayout.cshtml";    
}
<link id="base-style" href="~/Content/memeplugin/tip_cards.css" rel="stylesheet">
<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- MAIN CONTENT -->
    <div id="content"  data-bind="with: ProjectsVM">

        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark"><i class="fa fa-folder-open"></i><span>&nbsp;My Projects</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="border-bottom:solid 1px #dddddd; margin-bottom:10px; padding-bottom:10px;">
                <div class="controls">
                        <a class="btn btn-default" data-bind="click: startAddProject">
                            <i class="glyphicon glyphicon-plus" title="Add new project" >

                            </i>New Project</a>
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">                
                <ul id="projectlist" class="tips"  data-bind="foreach: ArrProject">
                    <li>                        
                        <div class="tip" data-bind="attr: {id:'tip'+ $index()}">
                            <div style="height:200px;">
                                <!-- ko if: IsEdit() === false -->
                                <a class="titlelink" data-bind="attr: {href: '@Url.Action("Detail1", "Map")' + '/'+ ProjectID() }">
                                    <span data-bind="    html: Name"></span></a>
                                <!-- /ko -->
                                <!-- ko if: IsEdit() === true -->
                                 <input data-bind="value: Name" />
                                <!-- /ko -->
                                <p>
                                    <b>3</b> Maps <br />
                                    <b>Last Access</b> <br />
                                    14 Jan 2014 10:00AM <br />
                                </p>
                                <div style="height:30px; position:absolute;bottom:0px;">
                                <!-- ko if: IsEdit() === false -->
                                <button class="btn btn-sm" data-bind="visible: AllowEdit, click: $parent.startEditProject" 
                                    title="@MemeMVC.Resource.Project.Admin.Tooltip_Edit">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </button>
                                <button class="btn btn-sm" data-bind="visible: AllowRemove, click: $parent.removeProject" 
                                    title="@MemeMVC.Resource.Project.Admin.Tooltip_Remove">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </button>
                                 <!-- /ko -->
                                <!-- ko if: IsEdit() === true -->
                                <button class="btn btn-sm" data-bind="click: $root.finishEditProject" 
                                    title="@MemeMVC.Resource.Project.Admin.Tooltip_Save" ><i class="glyphicon glyphicon-ok"></i></button>
                                <button class="btn btn-sm" data-bind="click: $parent.cancelEditProject" 
                                    title="@MemeMVC.Resource.Project.Admin.Tooltip_Cancel"><i class="glyphicon glyphicon-remove"></i></button>
                                <!-- /ko -->
                                </div>
                            </div>
                            
                        </div>
                    </li>
                    
                </ul>
            </div>
           
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->
@section popup{
}
@section scripts{

    @Html.Partial("_IndexJScript")
}
