﻿body
{
    padding-top: 60px;
    padding-bottom: 0px;
    font-size:12px;
}
/*top menu*/
.dropdown-menu .sub-menu
{
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu
{
    visibility: visible;
    display: block;
}

.navbar .sub-menu:before
{
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after
{
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
.submenu-show
{
    border-radius: 2px;
    display: block;
    left: 100%;
    margin-top: -25px !important;
    moz-border-radius: 2px;
    position: absolute;
    webkit-border-radius: 2px;
}
.submenu-hide
{
    display: none !important;
    float: right;
    position: relative;
    top: auto;
}
.navbar .submenu-show:before
{
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.navbar .submenu-show:after
{
    border-bottom: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-top: 6px solid transparent;
    left: 10px;
    left: -6px;
    top: 11px;
}

.btn-group .dropdown-toggle
{ 
    border-radius: 2px 2px 2px 2px;
}

.dropdown-menu
{ 
    border-radius: 2px 2px 2px 2px;
}

.dropdown-submenu >.dropdown-menu
{ 
    border-radius: 2px 2px 2px 2px !important;
}

.zonebox{
    /*border:3px #FFF solid;
    
    min-height: 20px;
      padding: 19px;
      margin-bottom: 20px;
      background-color: #ffffff;
      
      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,175,219,0.6) ;
         -moz-box-shadow: 0px 0px 5px 0px rgba(0,175,219,0.6) ;
              box-shadow: 0px 0px 5px 0px rgba(0,175,219,0.6) ;
    min-height: 100px;
    */
    
      padding: 0px;
      margin-bottom: 0px;
      background-color: #ffffff;
}

#mainbackground{    
    /*background: url('paper.jpg');
    background-color:#ffffff;
    background-repeat:repeat;*/
    
    background-color: #ffffff;
    background: url('img/light_background.png');
    position:fixed;
    top:0px; left:0px; width:100%; height:100%;    
}


body{
}
.IsRead
{
    /*background-color:Teal;border:1px solid #000000;*/
    
}
 .imtemimgcontainer
 {
     text-align:center;
 }

.itemimg
{
    /*box-shadow:0px 1px 3px rgba(0,0,0,0.4);*/
    border:solid #333333 1px;
    margin-bottom:4px;
}
.itemlink a
{
    font-family:Segoe UI;
    font-size:12px;
    color:#111111;
    font-weight:bolder;
}
.itemlink a:hover
{
    text-decoration:none;
    color:#000000;
}
.itembody
{
    font-size:11px;
    font-family:Segoe UI;
    color:#444444;
}
.itemsource
{
    font-size:9px;
    font-family:Segoe UI;
    font-style:italic;
    color:#666666;
}
.IsRead .itemimg
{
    border:solid #cccccc 1px;
    /*opacity:0.6;
    filter:alpha(opacity=60); */
}
.IsRead .itemlink a
{
    color:#888888;
    font-size:12px;
}
.IsRead .itembody,.IsRead .itemsource
{
    color:#aaaaaa;
}
.IsRead .itembody
{
    font-size:11px;
}
.IsRead .itemsource
{
    font-size:9px;
}

.footermenu
{
    font-size:11px;
}

.copyright
{
    font-size:10px;
    color:#818c94;
}


hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #cccccc;
}


.navbar-inner
{
    background-image:linear-gradient(#ffffff,#ffffff);
}
/*
.btn-group .dropdpdown-toggle
{
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}

.btn-info
{
    text-shadow:0px,0px,0px,0px;
    background-image:linear-gradient(rgb(47,150,180),rgb(47,150,180));
    background-color:rgb(73,175,205);
}
*/

.btn
{
    font-size:11px;
    padding-top:2px;
    padding-bottom:2px;
}

.colname
{
     max-width:160px; height:30px; overflow:hidden; 
}

colblockquote {  
  height:20px;
  background: rgb(47, 150, 180);  
  padding: 2px;  
  position: relative;  
  display:block;
}  

colblockquote div{  
  font-size:10px;
  color:White;
}  

.arrow {  
 width: 0;  
 height: 0;  
 line-height: 0;  
 border-top: 5px solid rgb(47, 150, 180);  
 border-left: 3px solid white;  
 border-right: 5px solid white;  
 position: absolute;  
 bottom: -5px;  
 right: 5px;  
}  



.pitemcontent
{
     overflow-y:hidden; 
     padding:5px;
}
.pcitemcontent
{
     overflow-y:auto; 
     padding:5px;
}

.mydivider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  border-bottom: 1px solid #eeeeee;
}

[class^="icon-"],
[class*=" icon-"] {  
  margin-top: -1px;
}

ul.bottompart 
{
    list-style-type:none;
}


.bottompart li 
{
    float:left;
}

#magicGrid_Toolbar_Item
{
    margin-top:10px;
    height:50px;
}