.mdContent{
	padding:10px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.mdContent h1, .mdContent h2,.mdContent h3,.mdContent h4,.mdContent h5,.mdContent h6{
	
	font-weight:lighter;
}