.dg-container{
  width: 100%;
  height: 350px;
  position: relative;
}
.dg-wrapper{
  width: 481px;
  height: 316px;
  margin: 0 auto;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
}
.dg-wrapper a{
  width: 482px;
  height: 316px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.dg-wrapper a.dg-transition{
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
  display: block;
  padding: 41px 0px 0px 1px;
}
.dg-wrapper a div{
  font-style: italic;
  text-align: center;
  line-height: 50px;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
  color: #333;
  font-size: 16px;
  width: 100%;
  bottom: -55px;
  display: none;
  position: absolute;
}
.dg-wrapper a.dg-center div{
  display: block;
}
.dg-container nav{
  width: 58px;
  position: absolute;
  z-index: 1000;
  bottom: 40px;
  left: 50%;
  margin-left: -29px;
}
.dg-container nav span{
  text-indent: -9000px;
  float: left;
  cursor:pointer;
  width: 24px;
  height: 25px;
  opacity: 0.8;
}
.dg-container nav span:hover{
  opacity: 1;
}
.dg-container nav span.dg-next{
  background-position: top right;
  margin-left: 10px;
}

.section:heading {
  padding-bottom: 17px;
  margin: 18px 0;
  font-size:14px;
  border-bottom: 1px solid #eeeeee;
}

.section:heading h1 {
  line-height: 1;
}

.section:heading small {
  line-height: 5;
}

.features_sec {font-size: 80px;  text-align:center; padding-bottom:20px; font-weight:200;}
 .features_sec p { font-weight:200;}
 .features_sec h2 { font-weight:200;}
 .features_sec i { color:#62BB7D; }



  .button {
    background: #00a6fc;
    display: inline-block;
    text-align: center;
    padding: 9px 34px 11px;
    color: #fff;
    text-decoration: none;
    line-height: 1;
    font-weight:400;
font-family: 'Open Sans', sans-serif;
    position: relative;
    cursor: pointer;
    border: none;
  }

    /* Don't use native buttons on iOS */
  input[type=submit].button { -webkit-appearance: none; }

  .button.nice {
    background: #00a6fcrepeat-x 0 -34px;
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.28);
    background: #00a6fc repeat-x 0 -34px, -moz-linear-gradient(top, rgba(255,255,255,.4) 0%, transparent 100%);
    background: #00a6fc  repeat-x 0 -34px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.4)), color-stop(100%,transparent));
    border: 1px solid #0593dc;
    -webkit-transition: background-color .15s ease-in-out;
    -moz-transition: background-color .15s ease-in-out;
    -o-transition: background-color .15s ease-in-out;
  }

  .button.radius {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  .button.round {
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
  }

  .button.full-width {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
  }

  .button.left-align {
    text-align: left;
    text-indent: 12px;
  }

  /* Sizes ---------- */
  .small.button       { font-size: 11px; padding: 8px 20px 10px; width: auto; }
  .medium.button       { font-size: 13px; width: auto; }
  .large.button       { font-size: 26px; padding: 21px 58px 23px; width: auto; }

  /* Nice Sizes ---------- */
  .nice.small.button     { background-position: 0 -36px; }
  .nice.large.button     { background-position: 0 -30px; }

  /* Colors ---------- */
  .blue.button      { background-color: #46BEF9;  }
  .red.button        { background-color: #EB4F38; }
  .white.button      {border:1px solid  #D6D6D6; background:#D6D6D6;
 color: #333; }
  .black.button      { background-color: #141414; }

    .signin.button      { background-color: #5BB877; }



  /* Nice Colors ---------- */
  .nice.blue.button    { border: 1px solid #0593dc;  }
  .nice.red.button    { border: 1px solid #b90b0b;  }
  .nice.white.button    { border: 1px solid #cacaca; text-shadow: none !important; }
  .nice.black.button    { border: 1px solid #000; }

    .nice.signin.button    { border: 1px solid #000; }


  /* Hovers ---------- */
  .button:hover, .button:focus         { background-color: #0192dd; color: #fff; }
  .blue.button:hover, .blue.button:focus    { background-color: #64C8FA;   }
  .red.button:hover, .red.button:focus     { background-color: #EF7261;   }
  .white.button:hover, .white.button:focus  { background-color: #E5E5E5; color: #333; }
  .black.button:hover, .black.button:focus  { background-color: #000; }

    .signin.button:hover, .signin.button:focus  { background-color: #48A865; }



  /* Disabled ---------- */
  .button.disabled, .button[disabled] { opacity: 0.6; cursor: default; }




img.opacity {


  opacity: 0.45;
  filter: alpha(opacity=45);
   -webkit-transition: opacity 1s linear;
  }

img.opacity:hover {
  opacity: 1;
  filter: alpha(opacity=100);
   -webkit-transition: opacity 1s linear;
  }


 .signin_sec {color:grey; display:block; width:400px; margin-left:auto; margin-right:auto; }
  .signin_sec h2 {color: #32A856; font-family: 'Open Sans', sans-serif; text-align:center; font-weight:200; font-size:80px;
 }

 .signin_inner  {margin-top:70px;  overflow:hidden; display:block; width:400px; margin-left:auto; margin-right:auto;}
  .signin_inner form input[type="text"] ,input[type="password"] {border:1px solid #D6D6D6; padding:2px; width:360px; font-family: 'Open Sans', sans-serif; font-size:11px;}
    .signin_inner a  {width:215px;}
        .signin_inner p a  {font-weight:300;}


     .contact_form { font-size:16px; padding:10px;}
          .contact_form form  input  {font-size:16px; padding:10px;}
                    .contact_form form  textarea  {resize:none; font-size:16px; padding:10px;}


        .footer_sec  {display:block; margin-top:40px; height:60px; border-top:1px solid #E6E6E6; background:#F0F0F0; font-family: 'Open Sans', sans-serif;}
        .footer_sec p {   padding:20px; font-size:11px;  }