﻿body {
	background-color: #ffffff;
	padding-bottom: 0px;
    font-size:12px;
    font-family:PT Sans;
    overflow:hidden;
}

.zonebox{

    
      padding: 10px;
      margin-bottom: 0px;
      background-color: #ffffff;
}

.IsRead
{
    /*background-color:Teal;border:1px solid #000000;*/
    
}
 .imtemimgcontainer
 {
     text-align:center;
 }

.itemimg
{
    /*box-shadow:0px 1px 3px rgba(0,0,0,0.4);*/
    border:solid #333333 1px;
    margin-bottom:4px;
}
.itemlink a
{
    
    font-family:Roboto Condensed;
    font-size:16px;
    color:#111111;
    
    
}
.itemlink a:hover
{
    
}
.itembody
{
    padding-top:15px;
    font-size:13px;
    font-family:Helvetica;
    color:#444444;
    padding-top:10px;
    margin-bottom:14px;
}
.itemsource
{
    font-size:9px;
    font-family:PT Sans;
    font-style:italic;
    color:#666666;
}
.IsRead .itemimg
{
    border:solid #cccccc 1px;
    /*opacity:0.6;
    filter:alpha(opacity=60); */
}
.IsRead .itemlink a
{
    color:#888888;
    font-size:12px;
}
.IsRead .itembody,.IsRead .itemsource
{
    color:#aaaaaa;
}
.IsRead .itembody
{
    font-size:11px;
}
.IsRead .itemsource
{
    font-size:9px;
}

.footermenu
{
    font-size:11px;
}

.copyright
{
    font-size:10px;
    color:#818c94;
}


hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #cccccc;
}


.btn
{
    font-size:11px;
    padding-top:2px;
    padding-bottom:2px;
    background-image:none;
    border:0px none;
}

.btn-inverse
{
    background-color:#343434;
    border:0px none;
}

textarea, input[type="text"]
{
    font-size:11px!important;
}

.navbar-inverse .brand, .navbar-inverse .nav >li >a
{
    color:#ffffff;
}

.btn-group > .btn , .btn-group > .dropdown-menu, .btn-group > .popover
{
    font-size:11px;
}

.arrow {  
 width: 0;  
 height: 0;  
 line-height: 0;  
 border-top: 5px solid rgb(47, 150, 180);  
 border-left: 3px solid white;  
 border-right: 5px solid white;  
 position: absolute;  
 bottom: -5px;  
 right: 5px;  
}  



.pitemcontent
{
     overflow-y:hidden; 
     padding:5px;
}
.pcitemcontent
{
     overflow-y:auto; 
     padding:5px;
}

.mydivider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  border-bottom: 1px solid #eeeeee;
}

[class^="icon-"],
[class*=" icon-"] {  
  margin-top: -1px;
}

ul.bottompart 
{
    list-style-type:none;
}


.bottompart li 
{
    float:left;
}

.box
{    
    margin: 5px;
    margin-top:15px;
    padding: 5px;
    font-size: 11px;
    line-height: 1.4em;
    width: 220px;
    float: left;
    border-bottom:solid 1px #eeeeee;
}
#panelViewDetail
{
    background-color: #d8d5d2;
    position: absolute;
    z-index: 10000;
    height: 0px;
}
#contentarea
{
    padding: 10px;
}


#outerspace
{
    overflow:hidden;    
}



.maincontainer
{
    position: absolute;
	left: 0px;
	top: 0px;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}

.slideLeft {
	left: -250px;
}

#leftspace
{
    width:250px;
    z-index:10;
    position:relative;
    top:0px; left:0px;
    float:left;
    
}
#rightspace
{
    background-color:#ffffff; 
    padding-top:0px;    
    z-index:8;
    width:0px; 
    position:relative;
    top:0px; left:0px;
    float:left;
}
#rightspacecontainer
{    
    display:block;
    position: relative;
	left: 0px;
	top: 0px;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}



#sidepanel
{      
    background-color:rgb(243, 243, 245); 
    padding-top:150px;
    padding-left:10px;
    display:block;
    float:left;
    position:relative;
}
.sidepanel
{
    
    box-shadow: -2px 0px 2px rgba(50,50,50,0.1);
}


#mainpanel
{
     
    padding-left:10px;
    padding-top:150px;
    float:left;
    display:block;
}

.paneltitle
{
    font-size:26px;
    font-family:Roboto Condensed;
    font-weight:bold;
    height:40px;
    box-shadow: 0px 1px 1px rgba(50,50,50,0.1);
    
}



*:focus {
    outline: none;
    noFocusLine: expression(this.onFocus=this.blur());
    ie-dummy: expression(this.hideFocus=true);
 }



#navmain
{
    width:240px;
    height:200px;
    overflow: hidden;
}

#navmain ul 
{
    width:220px;
	list-style: none;

}

#navmain ul li {
	position: relative;
	
	
	z-index: 2;

}
#navmain ul li a
{
    color: #252525;
}
#navmain ul li a:hover
{
    font-weight:bold;

}
#navmain ul li:nth-child(odd) a{
	
}