
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
body {
    color: #211922;
    font-family: "helvetica neue",arial,sans-serif;
    font-size: 10px;
}
li {
    list-style: none outside none;
}
.education {
    color: #7b6f6f;
    font-family: 'Georgia';
    font-size: 22px;
    line-height: 1.4;
    margin-left: -303px;
    position: fixed;
    top: 0;
    left: 50%;
    width: 606px;
    -webkit-transition: opacity 1s;
    -webkit-transition-delay: 0.3s;
    -webkit-transform: translateZ(0);
}


.wrapper {
    margin-top: 220px;
    position: relative;
    z-index: 99;
}

.shadow {
    -moz-box-shadow: 0 -2px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 -2px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 -2px 20px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    -webkit-transform: translateZ(0);
}

.content {
  padding-top: 35px;
  background: #fdfdfd;
  position: relative;
  overflow: hidden;
  min-height: 100px
}

#CompleteContainer .content_wrapper {
    position: relative;
    z-index: 10;
    width: 100%;
    background: #F7F8F8;
}

.header {
    margin: 0 0 35px;
    padding-top: 35px;
    text-align: center;
}

.header h1 {
    color: #333333;
    font-family: 'Georgia';
    font-size: 35px;
    text-align: center;
     font-weight: normal;
}


/*Registration Page*/

#CompletePhoto {
    background: #fff;
    -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.5);
    box-shadow: 0 1px 3px rgba(34,25,25,0.5);
    float: left;
    padding: 4px;
    position: relative;
    width: 211px;
}
#CompletePhoto .frame {
    max-height: 223px;
    overflow: hidden;
}
#CompletePhoto img {
    background: #fcf9f9;
    display: block;
    width: 100%;
}
#CompletePhoto .buttons {
    bottom: 15px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
#CompletePhoto .upload {
  min-width: 125px;
}

#CompleteContainer {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#CompleteContainer .social_banner {
    background: url(../images/join/rule_589x4.png) no-repeat bottom center;
    margin: -24px 0 20px;
    padding-bottom: 20px;
}
#CompleteContainer .social_banner h2, #CompleteContainer .follow_friends {
    background: #d8dfea url(../images/registration/fb-icon-small.png) 9px center no-repeat;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: #221919;
    font-size: 16px;
    line-height: 20px;
    min-height: 21px;
    padding: 12px 9px 9px 43px;
}
#CompleteContainer .social_banner.twitter h2, #CompleteContainer .follow_friends.twitter {
    background-color: #c1d6df;
    background-image: url(../images/registration/twitter-icon-small.png);
    padding-left: 37px;
}


#CompleteAccount {
    margin-left: 234px;
    padding: 0 14px 20px;
    *zoom: 1;
}
.hidePhoto #CompleteAccount {
  margin: 0 auto;
}
#CompleteAccount .fields {
    margin-bottom: 10px;
}
#CompleteAccount .field {
    font-size: 24px;
    font-weight: 300;
    margin: 0 -14px;
    padding: 14px;
    position: relative;
}
#CompleteAccount .separator {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    margin: 30px 0;
    padding-bottom: 0;
    padding-top: 0;
}
#CompleteAccount input {
    background: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #a4a2a2;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8);
    -webkit-box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8);
    box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8);
    display: block;
    font-size: 24px;
    font-weight: 300;
    padding: 10px 14px 5px;
    position: relative;
    -webkit-transition: all 0.08s ease-in-out;
    -moz-transition: all 0.08s ease-in-out;
    width: 100%;
    z-index: 3;
}
.oldIE #CompleteAccount input {
    width: 325px;
}
#CompleteAccount input::-webkit-input-placeholder {
    color: #a9a3a3;
}
#CompleteAccount input.placeholder {
    color: #a9a3a3;
}
#CompleteAccount input:-moz-placeholder {
    color: #a9a3a3;
}
#CompleteAccount label {
    display: none;
}
#CompleteAccount select {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
#CompleteAccount .FancySelect {
    width: auto;
}
#CompleteAccount .FancySelectList {
    right: -1px;
    width: auto;
}
#CompleteAccount .helper {
    color: #221919;
    font-size: 13px;
    line-height: 15px;
    margin: 12px 0 0 15px;
    display: none;
}
/* if we use display: none; file upload dialog doesn't open in android
   visibility: hidden; no bueno for ie 7/8
*/
#CompleteAccount .fileInput {
    position: absolute;
    left: -9999px;
}
#CompleteContainer .wrapper {
    position: relative;
    margin-top: 0px;
}
#CompleteContainer.fb_appcenter .wrapper {
    margin-top: 220px;
}
#CompleteContainer .shadow {
    display: none;
    z-index: 1;
}
#CompleteContainer.fb_appcenter .shadow {
    display: block;
}
#CompleteContainer .content_wrapper {
    position: relative;
    z-index: 10;
    width: 100%;
    background: #F7F8F8;
}
#CompleteContainer.fb_appcenter .content_wrapper {
    margin-top: -20px;
    background: #FDFDFD;
}
#CompleteContainer .content {
    position: relative;
    padding: 5px;
    width: 606px;
    margin: 0 auto;
    background: none;
    padding-top: 0px;
    z-index: 20;
}
#CompleteContainer .education {
    display: none;
}
#CompleteContainer.fb_appcenter .education {
    margin-left: -512px;
    text-align: left;
    width: 1024px;
    z-index: -1;
    display: block;
}
#CompleteContainer .education .bg {
    background: url(../images/join/bg_ill_signup_512x216.png) no-repeat bottom left;
}
#CompleteContainer .education .text {
    padding: 0 126px 0 536px;
}
#CompleteContainer .education p:first-child {
    margin-bottom: 12px;
}


/* Input Focus */
#CompleteAccount input:focus {
    border-color: #024091;
    -moz-box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8), 0 0 14px rgba(82,169,235,0.35);
    -webkit-box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8), 0 0 14px rgba(82,169,235,0.35);
    box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8), 0 0 14px rgba(82,169,235,0.35);
}

/* Input Error */
#CompleteAccount .BoardError {
    background: #f3e9e9;
    border: 1px solid #f2d0d1;
    padding: 13px;
}
#CompleteAccount .BoardError .helper {
    display: block;
}
#CompleteAccount .BoardError input {
    border-color: #910202;
}
#CompleteAccount .BoardError input:focus {
    border-color: #910202;
    -moz-box-shadow: 0 0 14px rgba(235,82,82,0.35), 0 1px rgba(255,255,255,0.8);
    -webkit-box-shadow: 0 0 14px rgba(235,82,82,0.35), 0 1px rgba(255,255,255,0.8);
    box-shadow: 0 0 14px rgba(235,82,82,0.35), 0 1px rgba(255,255,255,0.8);
}
#CompleteAccount .terms {
    font-size: 14px;
    margin-bottom: 24px;
}

#CompleteAccount .follow_friends, #CompleteAccount .follow_friends.twitter {
    background-color: #fff;
    border: 1px solid #ddd;
}

#CompleteAccount .follow_friends label {
    display: inline-block;
    font-size: 13px;
    padding: 0 0 0 0.2em;
    vertical-align: middle;
}

#CompleteAccount .follow_friends input {
    display: inline-block;
    margin: -1px 0 0 5px;
    vertical-align: middle;
    width: auto;
}

.mobile .header .h_wrapper {
  width: auto;
}
.mobile .pin {
    width: 88px;
    padding: 2px;
}
.mobile .pin, .mobile .pin:hover .mobile .pin.like {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ddd;
}
.mobile .pin img {
    width: 100%;
}
.mobile .fb_name {
    display: block;
}
.mobile .education {
    left: 0;
    margin: 0;
    font-size: 13px;
    width: 100%;
    -webkit-transform: none;
}
.mobile .education .text .inner {
    height: 135px;
}
.mobile .wrapper {
    margin-top: 135px;
    padding-top: 0;
    border-top: 1px solid rgba(0,0,0,0.03);
}
.mobile .shadow {
    padding: 0 10px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: 1px solid #ccc;
}
.mobile .content {
  padding: 0;
}
.mobile .header {
    padding: 0;
    margin: 17px 0;
}
.mobile .header h1 {
    font-size: 20px;
}
.mobile .header p {
    font-size: 12px;
    margin-top: 8px;
}
.mobile .header .h_wrapper {
    width: 100%;
}
.mobile .FooterBarShadow {
    display: none;
}
.mobile .FooterBar {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
}
.mobile .FooterBar .container {
    -moz-box-shadow: 0 -1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 -1px 3px rgba(34,25,25,0.4);
    box-shadow: 0 -1px 3px rgba(34,25,25,0.4);
    width: 100%;
    padding: 12px 0;
}
.mobile #PinSelector .FooterBar .Button {
    left: 50%;
    margin-left: -105px;
    width: 210px;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
}
.mobile #PinSelector.ready .FooterBar .Button {
    opacity: 1;
}
.mobile .FooterBar .Button {
    padding: .45em;
}
.mobile .FooterBar .prev {
    left: 10px;
}
.mobile .FooterBar .next {
    right: 10px;
}
.mobile #TermsDialog {
    overflow: visible;
    position: static;
    -webkit-transform: none;
}
.mobile #TermsDialog .modal {
    height: auto;
    margin: 0;
    padding: 0;
    position: static;
    width: auto;
}
.mobile #TermsDialog .modal .header {
    left: 0;
    margin: 0;
    padding: 18px 10px 8px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}
.mobile #TermsDialog .modal .body {
    height: auto;
    left: 0;
    padding: 0 10px;
    position: relative;
    right: 0;
    top: 70px;
    width: auto;
}

.mobile .intermission {
    background-image: url(../images/join/rule_split_295x2.png);
    font-size: 12px;
}
.mobile .intermission .text {
    padding: 0 5px;
}


/* Fancy Select */
.FancySelect {position: relative; display: block; width: 308px; padding: 6px 30px 6px 12px; background-color: #f0eded; background: -moz-linear-gradient(#fffcfc, #f0eded); background: -o-linear-gradient(#fffcfc, #f0eded); background: -webkit-linear-gradient(#fffcfc, #f0eded); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcfc', endColorstr='#f0eded'); cursor: pointer; border: 1px solid #ad9c9c; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; box-shadow: inset 0 1px 1px rgba(34,25,25,0.1), 0 1px #fff; -moz-box-shadow: inset 0 1px 1px rgba(34,25,25,0.1), 0 1px #fff; -webkit-box-shadow: inset 0 1px 1px rgba(34,25,25,0.1), 0 1px #fff;}
.FancySelect:hover {background-color: #ebe8e8; background: -moz-linear-gradient(#f9f6f6, #ebe8e8); background: -o-linear-gradient(#f9f6f6, #ebe8e8); background: -webkit-linear-gradient(#f9f6f6, #ebe8e8); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f6f6', endColorstr='#ebe8e8'); border-color: #8c7e7e;}
.FancySelect:active {background-color: #c21f24; background: -moz-linear-gradient(#d62228, #c21f24); background: -o-linear-gradient(#d62228, #c21f24); background: -webkit-linear-gradient(#d62228, #c21f24); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d62228', endColorstr='#c21f24'); border-color: #524d4d; box-shadow: inset 0 1px 1px rgba(34,25,25,0.5), 0 2px 2px white; -moz-box-shadow: inset 0 1px 1px rgba(34,25,25,0.5), 0 2px 2px white; -webkit-box-shadow: inset 0 1px 1px rgba(34,25,25,0.5), 0 2px 2px white;}

.FancySelect .CurrentSelection {display: block; font-size: 18px; white-space: nowrap; overflow: hidden;}
.FancySelect:active .CurrentSelection {color: #fff; text-shadow: none;}

.FancySelect .DownArrow {position: absolute; top: 14px; right: 14px; width: 11px; height: 9px; background: url(../images/downArrow.png) center top no-repeat;}
.FancySelect:hover .DownArrow {background-position: center;}
.FancySelect:active .DownArrow {background-position: center bottom;}

.FancySelectList {display: none; position: absolute; z-index: 9999; top: -1px; left: -1px; width: 350px; background-color: #fff; border: 1px solid #aaa; box-shadow: 0 0 17px #bbb; -moz-box-shadow: 0 0 17px #bbb; -webkit-box-shadow: 0 0 17px #bbb; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;}
.FancySelectList .wrapper { max-height: 300px; overflow-x: hidden; overflow-y: auto; }
.FancySelectList li {position: relative; display: block; float: none; width: auto; margin: 0; font-size: 18px; padding: 5px 46px 5px 8px; list-style: none; line-height: 1.15em; color: #524d4d; cursor: pointer;}
.FancySelectList li:hover {color: #221919; background-color: #ebe8e8;}
.FancySelectList li:active {color: #fff; background-color: #cb2027; text-shadow: none;}
.FancySelectList li:first-child {border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0;}


/* General use styles copied from pinboard.css */
/* New Buttons -- no nested spans */
.Button {border: 1px solid transparent; -moz-border-radius: .3em; -webkit-border-radius: .3em; border-radius: .3em; -moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35); -webkit-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35); box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35); cursor: pointer; display: inline-block; font-family:"helvetica neue",arial,sans-serif; font-weight: bold; line-height: 1em; margin: 0; padding: .45em .825em .45em; text-align: center; -moz-transition: all .05s ease-in-out; -o-transition: all .05s ease-in-out; -webkit-transition: all .05s ease-in-out;}
.Button:focus {outline: none;}
.Button:hover {text-decoration: none;}
.Button:active {-moz-transition: none; -o-transition: none; -webkit-transition: none;}
button.Button::-moz-focus-inner {padding: 0; border: 0;}

.Button.Button13 {-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; font-size: 13px; }
.Button.Button18 {-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; font-size: 18px; }
.Button.Button24 {-moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; font-size: 24px; }

/* Red Button */
.Button.RedButton {background-color: #d43638; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eb5367), to(#d43638), color-stop(.5,#e04751), color-stop(.5,#de404a));  background-image: -moz-linear-gradient(top, #eb5367, #e04751 50%, #de404a 50%, #d43638); background-image: -o-linear-gradient(top, #eb5367, #e04751 50%, #de404a 50%, #d43638); background-image: -webkit-linear-gradient(top, #eb5367, #e04751 50%, #de404a 50%, #d43638); border-color: #910101; color: #fcf9f9; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb5367', endColorstr='#d43638'); text-shadow: 0 -1px rgba(34,25,25,0.5);}
.Button.RedButton:hover {background-color: #d63e40; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ea5d6e), to(#d63e40), color-stop(.5,#e3535d),color-stop(.5,#e04a54)); background-image: -moz-linear-gradient(top, #ea5d6e, #e3535d 50%, #e04a54 50%, #d63e40); background-image: -o-linear-gradient(top, #ea5d6e, #e3535d 50%, #e04a54 50%, #d63e40); background-image: -webkit-linear-gradient(top, #ea5d6e, #e3535d 50%, #e04a54 50%, #d63e40); border-color: #ad0303; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea5d6e', endColorstr='#d63e40'); text-shadow: 0 -1px rgba(34,25,25,0.3);}
.Button.RedButton:active {background-color: #c83031; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d5414b), to(#c83031), color-stop(.5,#d5414b),color-stop(.5,#d33d46)); background-image: -moz-linear-gradient(top, #dd4b5d, #d5414b 50%, #d33d46 50%, #c83031); background-image: -o-linear-gradient(top, #dd4b5d, #d5414b 50%, #d33d46 50%, #c83031); background-image: -webkit-linear-gradient(top, #dd4b5d, #d5414b 50%, #d33d46 50%, #c83031); border-color: #510000; color: #f2f0f0; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4b5d', endColorstr='#c83031'); text-shadow: 0 -1px rgba(34,25,25,0.6);}

.Button.RedButton.Button13:hover {box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 6px rgba(235,82,82,0.25); -moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 6px rgba(235,82,82,0.25); -webkit-box-shadow:  0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 6px rgba(235,82,82,0.25);}
.Button.RedButton.Button13:active {box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 2px rgba(235,82,82,0.35); -moz-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 2px rgba(235,82,82,0.35); -webkit-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 2px rgba(235,82,82,0.35);}
.Button.RedButton.Button18:hover {box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 10px rgba(235,82,82,0.25); -moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 10px rgba(235,82,82,0.25); -webkit-box-shadow:  0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 10px rgba(235,82,82,0.25);}
.Button.RedButton.Button18:active {box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 3px rgba(235,82,82,0.35); -moz-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 3px rgba(235,82,82,0.35); -webkit-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 3px rgba(235,82,82,0.35);}
.Button.RedButton.Button24:hover {box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 14px rgba(235,82,82,0.25); -moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 14px rgba(235,82,82,0.25); -webkit-box-shadow:  0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 14px rgba(235,82,82,0.25);}
.Button.RedButton.Button24:active {box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 4px rgba(235,82,82,0.35); -moz-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 4px rgba(235,82,82,0.35); -webkit-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 4px rgba(235,82,82,0.35);}

/* White Button */
.Button.WhiteButton {background-color: #f0eded; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfafb), to(#f0eded), color-stop(.5,#f9f7f7),color-stop(.5,#f6f3f4)); background-image: -moz-linear-gradient(top, #fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded); background-image: -o-linear-gradient(top, #fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded); background-image: -webkit-linear-gradient(top, #fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded); border-color: #bbb; color: #524d4d; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfafb', endColorstr='#f0eded'); text-shadow: 0 1px rgba(255,255,255,0.9);}
.Button.WhiteButton:hover {background-color: #f2f0f0; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfcfc), to(#f2f0f0), color-stop(.5,#fbf9f9),color-stop(.5,#f7f5f6)); background-image: -moz-linear-gradient(top, #fdfcfc, #fbf9f9 50%, #f7f5f6 50%, #f2f0f0); background-image: -o-linear-gradient(top, #fdfcfc, #fbf9f9 50%, #f7f5f6 50%, #f2f0f0); background-image: -webkit-linear-gradient(top, #fdfcfc, #fbf9f9 50%, #f7f5f6 50%, #f2f0f0); border-color: #c3c3c3; color: #666060; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfcfc', endColorstr='#f2f0f0'); text-shadow: 0 1px rgba(255,255,255,1);}
.Button.WhiteButton:active {background-color: #ebe8e8; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f4f5), to(#ebe8e8), color-stop(.5,#f3f0f0),color-stop(.5,#f1eeef)); background-image: -moz-linear-gradient(top, #f8f4f5, #f3f0f0 50%, #f1eeef 50%, #ebe8e8); background-image: -o-linear-gradient(top, #f8f4f5, #f3f0f0 50%, #f1eeef 50%, #ebe8e8); background-image: -webkit-linear-gradient(top, #f8f4f5, #f3f0f0 50%, #f1eeef 50%, #ebe8e8); border-color: #b7b7b7; color: #454141; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f4f5', endColorstr='#ebe8e8'); text-shadow: 0 1px rgba(255,255,255,0.8);}

.Button.WhiteButton.Button13:hover {box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 6px rgba(232,230,230,0.75); -moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 6px rgba(232,230,230,0.75); -webkit-box-shadow:  0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 6px rgba(232,230,230,0.75);}
.Button.WhiteButton.Button13:active {box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 2px rgba(232,230,230,0.5); -moz-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 2px rgba(232,230,230,0.5); -webkit-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 2px rgba(232,230,230,0.5);}

.Button.WhiteButton.ContrastButton {border: 0; -moz-box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 0 0 1px rgba(140,126,126,0.5); -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 0 0 1px rgba(140,126,126,0.5); box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 0 0 1px rgba(140,126,126,0.5);}
.Button.WhiteButton.ContrastButton:hover {-moz-box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 0 0 1px rgba(140,126,126,0.5), 0 1px 2px rgba(35,24,24,0.75); -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 0 0 1px rgba(140,126,126,0.5), 0 1px 2px rgba(35,24,24,0.75); box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 0 0 1px rgba(140,126,126,0.5), 0 1px 2px rgba(35,24,24,0.75);}
.Button.WhiteButton.ContrastButton:active {-moz-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 0 1px rgba(140,126,126,0.5), 0 0 1px rgba(232,230,230,0.5); -webkit-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 0 1px rgba(140,126,126,0.5), 0 0 1px rgba(232,230,230,0.5); box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 0 1px rgba(140,126,126,0.5), 0 0 1px rgba(232,230,230,0.5);}


/* Disabled Button */
.Button.disabled {background: #f2f0f0 !important; border-color: #d1cdcd !important; -moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35) !important; -webkit-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35) !important; box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35) !important; color: #d1cdcd !important; cursor: default; filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important; text-shadow: 0 -1px rgba(34,25,25,0.01) !important;}
.Button.disabled.clickable {cursor: pointer;}