﻿@using System.Web.Mvc
@using Base.ViewModel.Core.Template;
@model dynamic
@{
     List<FieldMappingPoint> fields =  ViewBag.MappingPoints;
     string name = Html.ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix;
     
     FieldMappingPoint field = fields.SingleOrDefault(f => f.FieldName == name);
     if(field==null)
     {
         field = new FieldMappingPoint(0, 0, false, false, "", 0, 0, 0, 0, 0, 0, name, "", null);
     }    
}
@if (field.HasLabel)
{ 
    <div class="span@(field.LabelSpan) offset@(field.LabelOffset)">
        @Html.LabelForModel(field.LabelText) 
    </div>
}
<div class="span@(field.FieldSpan) offset@(field.FieldOffset)">
    @RenderBody()
</div>

