﻿@using Base.ViewModel.Core.Template
@model dynamic
@{
	Layout = "~/Views/Shared/DisplayTemplates/_Layout.cshtml";	   	
}
@{
    List<FieldMappingPoint> fields = ViewBag.MappingPoints;
    string name = Html.ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix;
    FieldMappingPoint field = fields.SingleOrDefault(f => f.FieldName == name);
    if (field == null)
    {
        field = new FieldMappingPoint(0, 0, true, true, "", 0, 0, 0, 0, 0, 0, name, "", null);
    }    
}
<a class="btn systembutton" style="float:right" id = "@field.FieldName" href="@Html.ViewContext.ViewData.Model.ToString()"><i class="glyphicon glyphicon-plus"></i> @field.LabelText</a>