﻿@model  WebAPI.Model.DTO.PhotoGallery


<link rel="stylesheet" href="~/Content/css/bootstrap-image-gallery.min.css">
<div class="container">
    
    <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
    @foreach (var s in Model.ListPhoto)
    { 
       <a   rel="gallery" href = "/@(Model.Path)/@(Model.FolderName)/@(s)">
           <img  style="height:70px; width:70px" src="/@(Model.Path)/@(Model.FolderName)/@(s)" alt="@(s)" title="@(s)" />
       </a>
    }
    </div>
    <br>
</div>


<div id="modal-gallery" class="modal modal-gallery hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn modal-download" target="_blank">
            <i class="icon-download"></i>
            <span>Download</span>
        </a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
            <i class="icon-play icon-white"></i>
            <span>Slideshow</span>
        </a>
        <a class="btn btn-info modal-prev">
            <i class="icon-arrow-left icon-white"></i>
            <span>Previous</span>
        </a>
        <a class="btn btn-primary modal-next">
            <span>Next</span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
    </div>
</div>
