﻿@{
    Layout = "~/Views/Shared/EditorTemplates/_FieldLayout.cshtml";
}
<div class=" thumbnail" style="width: 200px; height: 150px;">
    <img src="@Model" alt="@Model" style="height:100px" />
    <a id="btnUpload" role="button" class="btn" data-toggle="modal" data-target="#myModal">
        Upload</a> 
</div>
<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
     @using (Html.BeginForm("UploadProfilePicture", "User", FormMethod.Post, new { id = "formUpload", enctype = "multipart/form-data" }))
        {
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×</button>
        <h3 id="myModalLabel">
            Upload your profile picture</h3>
    </div>
    <div class="modal-body">
       
            <div class="fileupload fileupload-new" data-provides="fileupload">
                <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                    <img src="@Model" /></div>
                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px;
                    max-height: 150px; line-height: 20px;">
                </div>
                <div>
                    <span class="btn btn-file"><span class="fileupload-new">Select image</span><span
                        class="fileupload-exists">Change</span><input name="PhotoFile" id="File" type="file"/></span> <a href="#" class="btn fileupload-exists"
                            data-dismiss="fileupload">Remove</a>
                </div>
            </div>
        
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Close</button>
        <input id="btnSaveChanges" class="btn btn-primary" type="submit" value="Upload"/>
    </div>
    }
</div>
<script type="text/javascript" language="javascript">
    $(function () {
        $("#btnUpload").bind("click", function (e) {
            e.preventDefault();
            $('#myModal').modal('shown', function () {
                $('#myModal').modal({
                    keyboard: true
                });

            });
        });

    });
</script>
