﻿@model List<WebAPI.Model.DTO.KeyWordDTO>
@{
    Layout = "~/Views/Shared/EditorTemplates/_FieldLayout.cshtml";
}
@{
    List<Base.ViewModel.Core.Template.FieldMappingPoint> fields = ViewBag.MappingPoints;
    string name = Html.ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix;
    Base.ViewModel.Core.Template.FieldMappingPoint field = fields.SingleOrDefault(f => f.FieldName == name);
    if (field == null)
    {
        field = new Base.ViewModel.Core.Template.FieldMappingPoint(0, 0, true, true, "", 0, 0, 0, 0, 0, 0, name, "", null);
    }    
}
<table>
@for (int i = 0; i < Model.Count; i++)
{
    <tr>
        <td>
            @Model[i].LanguageName    
        </td>
        <td style="width:53px"></td>
        <td>
             <input id="@(name)[@(i)]_KeyWordValue" name="@(name)[@(i)].KeyWordValue" type="text" value="@Model[i].KeyWordValue" readonly="true"/>
             <input id="@(name)[@(i)]_LanguageID" name="@(name)[@(i)].LanguageID" type="hidden" value="@Model[i].LanguageID"/>
             <input id="@(name)[@(i)]_KeyWordID" name="@(name)[@(i)].KeyWordID" type="hidden" value="@Model[i].KeyWordID"/>
        </td>
     </tr>
}
</table>