﻿@model Base.ViewModel.Core.Template.ListViewTemplate
@{
    string name = Html.ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix;
    string id = name.Replace(".", "_");
}
<div id="@(id)_content">
    @{
        for (int i = 0; i < Model.ListItemTemplate.Count; i += Model.ItemOnRow)
        {
        <ul class="thumbnails row">
            @{
            int spansize = 12 / Model.ItemOnRow;
            for (int j = i; j < i + Model.ItemOnRow && j < Model.ListItemTemplate.Count; j++)
            {
                <li class="span@(spansize)"><a href="#" class="thumbnail">
                    @Html.Raw(Model.ListItemTemplate[j].DisplayContent)
                </a></li>
            }    
            }
        </ul>
        }
    }
</div>
<div id="@(id)_paging" class="pagination">
    <ul>
        @{
            int totalPage = Model.TotalCount / Model.PageSize;
            if (Model.TotalCount % Model.PageSize != 0)
            {
                totalPage++;
            }
            if (Model.PageIndex > 0)
            {
            <li><a href="#" onclick="return GetListView(0,@(Model.PageSize),@(Model.ItemOnRow))">
                First</a></li>
            }
            if (Model.PageIndex > 0)
            {
            <li><a href="#" onclick="return GetListView(@(Model.PageIndex - 1),@(Model.PageSize),@(Model.ItemOnRow))">
                Prev</a></li>
            }
            if (Model.PageIndex - 2 >= 0)
            {
            <li><a href='#' onclick="return GetListView( @(Model.PageIndex - 2),@(Model.PageSize),@(Model.ItemOnRow))">@(Model.PageIndex + 1 - 2)</a></li>
            }
            if (Model.PageIndex - 1 >= 0)
            {
            <li><a href='#' onclick="return GetListView( @(Model.PageIndex - 1),@(Model.PageSize),@(Model.ItemOnRow))">@(Model.PageIndex + 1 - 1)</a></li>
            }
            
            <li class="active"><a href='#' onclick="return GetListView( @(Model.PageIndex),@(Model.PageSize),@(Model.ItemOnRow))">@(Model.PageIndex + 1)</a></li>
            
            if (Model.PageIndex + 1 < totalPage)
            {
            <li><a href='#' onclick="return GetListView( @(Model.PageIndex + 1),@(Model.PageSize),@(Model.ItemOnRow))">@(Model.PageIndex + 1 + 1)</a></li>
            }
            if (Model.PageIndex + 2 < totalPage)
            {
            <li><a href='#' onclick="return GetListView( @(Model.PageIndex + 2),@(Model.PageSize),@(Model.ItemOnRow))">@(Model.PageIndex + 1 + 2)</a></li>

            }
            if (Model.PageIndex < totalPage)
            {
            <li><a href="#" onclick="return GetListView(@(Model.PageIndex + 1),@(Model.PageSize),@(Model.ItemOnRow))">
                Next</a></li>
            }
            if (Model.PageIndex < totalPage)
            {
            <li><a href="#" onclick="return GetListView(@(totalPage - 1),@(Model.PageSize),@(Model.ItemOnRow))">
                Last</a></li>
            }
           
            <li><a>@(Model.PageIndex + 1)/@(totalPage) Page</a> </li>
               
            <li><a>Go to
                <input id = "txtgoto"  type="text" style="width: 35px;
                    padding: 0px; margin: 0px"  onblur=" BindGoTo(this.value);"  onkeyup="checkNumber();" />
            </a></li>
        }
    </ul>
</div>
<script type="text/javascript">



            function checkNumber()  { 
                $('#txtgoto').val($('#txtgoto').val().replace(/[^0-9\.]/g,''));
            }
$(function(){
  
});
function BindGoTo(e)
{
                var gotovalue = $('#txtgoto').val();
                gotovalue =  parseInt(gotovalue) ;
                if(0<gotovalue&&gotovalue<= @(totalPage) )
                {
                    GetListView(gotovalue-1,@(Model.PageSize),@(Model.ItemOnRow));
                }
 }   
                                

    function GetListView(pageIndex, pageSize, itemOnRow) {
        var url = "@(Model.AjaxSelection)?pageIndex=" + pageIndex + "&pageSize=" + pageSize + "&itemOnRow=" + itemOnRow;
        $.getJSON(url, function (data) {
            var htmlString = "";
            for (var i = 0; i < data.ListItemTemplate.length; i += data.ItemOnRow) {
                htmlString += "<ul class='thumbnails row'>";
                var spansize = 12 / data.ItemOnRow;
                for (var j = i; j < i + data.ItemOnRow && j < data.ListItemTemplate.length; j++) {
                    htmlString += "<li class='span" + spansize + "'>";
                    htmlString += "<a href='#' class='thumbnail'>";
                    htmlString += data.ListItemTemplate[j].DisplayContent
                    htmlString += "   </a>";
                    htmlString += "</li>";
                }
                htmlString += "</ul>";
            }
            $("#@(id)_content").html(htmlString);

            var pagingHtml = "<ul>";
            //1 2 3
            var totalPage = data.TotalCount / data.PageSize;
            //Prev Button
            if (data.PageIndex > 0) {
                pagingHtml += "<li ><a href='#' onclick='return GetListView(0," + data.PageSize + "," + data.ItemOnRow + ")'>First</a></li>";
            }
            if (data.PageIndex > 0) {
                pagingHtml += "<li ><a href='#' onclick='return GetListView(" + (data.PageIndex - 1) + "," + data.PageSize + "," + data.ItemOnRow + ")'>Prev</a></li>";
            }

            if (pageIndex - 2 >= 0) pagingHtml += "<li ><a href='#' onclick='return GetListView(" + (pageIndex - 2) + "," + data.PageSize + "," + data.ItemOnRow + ")'>" + ((pageIndex + 1) - 2) + "</a></li>";
            if (pageIndex - 1 >= 0) pagingHtml += "<li ><a href='#' onclick='return GetListView(" + (pageIndex - 1) + "," + data.PageSize + "," + data.ItemOnRow + ")'>" + ((pageIndex + 1) - 1) + "</a></li>";
            pagingHtml += "<li class='active'><a href='#' onclick='return GetListView(" + (pageIndex) + "," + data.PageSize + "," + data.ItemOnRow + ")'>" + (pageIndex + 1) + "</a></li>";
            if (pageIndex + 1 < totalPage) pagingHtml += "<li><a href='#' onclick='return GetListView(" + (pageIndex + 1) + "," + data.PageSize + "," + data.ItemOnRow + ")'>" + ((pageIndex + 1) + 1) + "</a></li>";
            if (pageIndex + 2 < totalPage) pagingHtml += "<li><a href='#' onclick='return GetListView(" + (pageIndex + 2) + "," + data.PageSize + "," + data.ItemOnRow + ")'>" + ((pageIndex + 1) + 2) + "</a></li>";

            //Next Button
            if (data.PageIndex < totalPage - 1) {
                pagingHtml += "<li><a href='#' onclick='return GetListView(" + (data.PageIndex + 1) + "," + data.PageSize + "," + data.ItemOnRow + ")'>Next</a></li>";
            }
            if (data.PageIndex < totalPage - 1) {
                pagingHtml += "<li><a href='#' onclick='return GetListView(" + Math.round(totalPage - 1) + "," + data.PageSize + "," + data.ItemOnRow + ")'>Last</a></li>";
            }
            pagingHtml += "<li><a>" + (pageIndex + 1) + "/" + Math.round(totalPage) + " Page</a></li>";
            pagingHtml += "<li><a>Go to <input id='txtgoto'  type='text' style='width: 35px; padding: 0px; margin: 0px' onblur='BindGoTo(this.value);'   onkeyup='checkNumber();'  /></a></li>"
            pagingHtml += "</ul>";
            $("#@(id)_paging").html(pagingHtml);
          
        });
       
        return false;
    }
   
</script>
