﻿@using Kendo.Mvc
@using Base.ViewModel.Core.Template
@model Base.ViewModel.Core.Template.MenuTemplate
@{
    Layout = "~/Views/Shared/EditorTemplates/_FieldLayout.cshtml";
}
@if (Model.MenuType == MenuType.Tree)
{
        @(Html.Kendo().TreeView()
                .Name("TreeView")
                .DragAndDrop(true)
                    .Events(events => events
                        .Drop("onNodeDrop")
                    )
                .BindTo(Model.MenuData, mappings =>
                {
                    mappings.For<MenuData>(binding => binding
                            .ItemDataBound((tree, menu) =>
                            {
                                tree.Url = menu.URL;
                                tree.Text = menu.DisplayText;
                                tree.Expanded = true;
                            })
                            .Children(menu => menu.ChildMenus));

                }).HtmlAttributes(new { @class = "t-group" })

        ) 
        <script type="text/javascript">
            function onNodeDrop(e) {
                var dropContainer = $(e.dropTarget).closest('.drop-container');
                var treeview = $('#TreeView').data('tTreeView');
                var nodeText = treeview.getItemText(e.item);
            }
        </script>
}
else if (Model.MenuType == MenuType.Button)
{
    @RenderButtonMenus(Model.MenuData)
}
else if (Model.MenuType == MenuType.VerticalList)
{
    @RenderVerticalMenus(Model.MenuData)
}
else if (Model.MenuType == MenuType.HorizonList)
{ 
    @RenderHorizonMenus(Model.MenuData)
}
 @helper RenderButtonMenus(List<MenuData> listMenu)
     {
        @:<div id="@Model.MenuName" class="btn-toolbar" style="margin: 0;">
             foreach (var menu in listMenu)
             { 
                @RenderButtonMenuItem(menu) 
             }
        @:</div>
    }
   @helper RenderButtonMenuItem(MenuData menuItem)
       {
           if (menuItem.ChildMenus.Count > 0)
           {
               if (menuItem.MenuLevel >= 1)
               {
                    @:<li class="dropdown submenu">
                       @: <a id="@(Model.MenuName)_@menuItem.MenuID" 
                       if (menuItem.UseURL)
                       {
                          @: href="@(menuItem.URL)"
                       }
                       else
                       {
                           @: onclick="@(menuItem.JavascriptAction)"
                       }
                       @: class="dropdown-toggle" data-toggle="dropdown" >
                       
                       @menuItem.DisplayText 
                       @:<i class="icon-arrow-right"></i>
                       @:</a>
                       @RenderButtonChildMenuItem(menuItem)
                    @:</li>
                }
           else
           { 
                    @:<div class="btn-group">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">@menuItem.DisplayText<span class="caret">  </span></button>
                        @RenderButtonChildMenuItem(menuItem)
                    @:</div>
               }
           }
           else
           {
             @:<li>
                  
                    @:<a id="@(Model.MenuName)_@menuItem.MenuID" 
                    if (menuItem.UseURL)
                    {
                       @: href="@(menuItem.URL)"
                    }
                    else
                    {
                        @: onclick="@(menuItem.JavascriptAction)"
                    }
                    @:>
                     @menuItem.DisplayText 
                  @:</a>
                @:</li>
             }
    }
     @helper RenderButtonChildMenuItem(MenuData menuItem)
         {
             if (menuItem.MenuLevel >= 1)
             {
                @:<ul class="dropdown-menu submenu-show submenu-hide"> 
            }
             else
             { 
                @:<ul class="dropdown-menu" role="menu" aria-labelledby="@(Model.MenuName)_@menuItem.MenuID"> 
            }
             foreach (var menu in menuItem.ChildMenus)
             {
                @RenderVerticalMenuItem(menu)
             }
           @:</ul>
        }
    @helper RenderVerticalMenus(List<MenuData> listMenu)
        {
        @:  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px; *width: 180px;" >
                    foreach (var menu in listMenu)
                    { 
                       @RenderVerticalMenuItem(menu) 
                    }
        @:  </ul>
    }
      @helper RenderVerticalMenuItem(MenuData menuItem)
          {
              if (menuItem.ChildMenus.Count > 0)
              {
                  if (menuItem.MenuLevel >= 1)
                  {
                    @:<li class="dropdown submenu">
                        @:<a id="menuitem_@menuItem.MenuID" tabindex="-1" 
                          if (menuItem.UseURL)
                           {
                              @: href="@(menuItem.URL)"
                           }
                           else
                           {
                               @: onclick="@(menuItem.JavascriptAction)"
                           }
                         @:  class="dropdown-toggle" data-toggle="dropdown" >
                             @menuItem.DisplayText 
                             @:<i class="icon-arrow-right"></i>
                        @:</a>
                        @RenderVerticalChildMenuItem(menuItem)
                    @:</li>
                }
                  else
                  { 
                    @:<li class="dropdown submenu">
                        @:<a id="menuitem_@menuItem.MenuID" tabindex="-1" 
                         if (menuItem.UseURL)
                           {
                              @: href="@(menuItem.URL)"
                           }
                           else
                           {
                               @: onclick="@(menuItem.JavascriptAction)"
                           } 
                           @:class="dropdown-toggle" data-toggle="dropdown" >
                             @menuItem.DisplayText 
                            @:<i class="icon-arrow-right"></i>
                        @:</a>
                        @RenderVerticalChildMenuItem(menuItem)
                    @:</li>
                }
              }
              else
              {
             @:<li >
                  if (menuItem.UseURL)
                  { 
                        @:<a id="@(Model.MenuName)_@menuItem.MenuID" tabindex="-1" href="@menuItem.URL">
                  }
                  else
                  {
                  
                    @:<a id="@(Model.MenuName)_@menuItem.MenuID" tabindex="-1"
                    if (menuItem.UseURL)
                    {
                       @: href="@(menuItem.URL)"
                    }
                    else
                    {
                        @: onclick="@(menuItem.JavascriptAction)"
                    }
                    @:>
                  }
                     @menuItem.DisplayText 
                  @:</a>
                @:</li>
             }
    }
      @helper RenderVerticalChildMenuItem(MenuData menuItem)
          {
             @:<ul class="dropdown-menu" role="menu" aria-labelledby="@(Model.MenuName)_@menuItem.MenuID"> 
              foreach (var menu in menuItem.ChildMenus)
              {
                @RenderVerticalMenuItem(menu)
              }
            @:</ul>
        }
   
  @helper RenderHorizonMenus(List<MenuData> listMenu)
      {
        @:<div id="@Model.MenuName" class="navbar">
        @:   <div class="navbar-inner">
        @:         <ul class="nav" >
                         foreach (var menu in listMenu)
                         { 
                            @RenderHorizonMenuItem(menu) 
                         }
        @:       </ul>
        @:   </div>
        @:</div>
    }
  
   @helper RenderHorizonMenuItem(MenuData menuItem)
       {
           if (menuItem.ChildMenus.Count > 0)
           {
               if (menuItem.MenuLevel >= 1)
               {
                @:<li class="dropdown submenu">
                    @:<a id="menuitem_@menuItem.MenuID"  
                    if (menuItem.UseURL)
                           {
                              @: href="@(menuItem.URL)"
                           }
                           else
                           {
                               @: onclick="@(menuItem.JavascriptAction)"
                           } 
                         @:class="dropdown-toggle" data-toggle="dropdown" >
                         @menuItem.DisplayText 
                         @:<i class="icon-arrow-right"></i>
                    @:</a>
                    @RenderHorizonChildMenuItem(menuItem)
                @:</li>
            }
               else
               { 
                @:<li class="dropdown">
                    @:<a id="menuitem_@menuItem.MenuID"  
                    if (menuItem.UseURL)
                           {
                              @: href="@(menuItem.URL)"
                           }
                           else
                           {
                               @: onclick="@(menuItem.JavascriptAction)"
                           } 
                         @:data-toggle="dropdown" class="dropdown-toggle">
                         @menuItem.DisplayText 
                         @:<b class="caret"></b>
                    @:</a>
                    @RenderHorizonChildMenuItem(menuItem)
                @:</li>
            }
           }
           else
           {
            @:<li>
                    @:<a id="@(Model.MenuName)_@menuItem.MenuID" tabindex="-1"
                    if (menuItem.UseURL)
                    {
                       @: href="@(menuItem.URL)"
                    }
                    else
                    {
                        @: onclick="@(menuItem.JavascriptAction)"
                    }
                    @:>
                     @menuItem.DisplayText 
                  @:</a>
            @:</li>
        }
    }
    @helper RenderHorizonChildMenuItem(MenuData menuItem)
        {
            if (menuItem.MenuLevel >= 1)
            {
                @:<ul class="dropdown-menu submenu-show submenu-hide"> 
            }
            else
            { 
                @:<ul class="dropdown-menu"> 
            }

            foreach (var menu in menuItem.ChildMenus)
            {
                @RenderHorizonMenuItem(menu)
            }
           @:</ul>
        }