﻿@using Base.ViewModel.Core.Template;
@model dynamic
@if (Model == null)
{ 
    @ViewData.ModelMetadata.NullDisplayText
}
else
{

    CommonPageTemplate template = ViewData.Model.PageTemplate;
    ViewBag.MappingPoints = template.MappingPoints; //setting for mapping point will be used for childs section
    ViewBag.ExtraFields = template.ExtraFields;
    if (template.StyleRegisters.Count > 0)
    {
        foreach (var sc in template.StyleRegisters.Where(s => s.StyleType == StyleType.StyleFile))
        {
           <link href="@Url.Content(sc.Source)" rel="stylesheet" type="text/css" />
        }

        foreach (var sc in template.StyleRegisters.Where(s => s.StyleType == StyleType.StyleBlock))
        { 
             @:<style type="text/css">
                 @(Html.Raw(sc.Source))
             @:</Style> 
        }
    }
    if (template.ZoneTree != null)
    {
        @ShowWithZones(template.ZoneTree, template.MultiTabs, template.MappingPoints, 12)
    }
    else
    {
        @ShowWithoutZone(template.MultiTabs, template.MappingPoints)
    }

    if (template.ScriptRegisters.Count > 0)
    {
        foreach (var sc in template.ScriptRegisters.Where(s => s.ScriptType == ScriptType.ScriptFile))
        {
           <script type="text/javascript" src="@Url.Content(sc.Source)" language="javascript"></script>  
        }


        foreach (var sc in template.ScriptRegisters.Where(s => s.ScriptType == ScriptType.ScriptBlock))
        { 
             @:<script type="text/javascript" language="javascript">
                 @(Html.Raw(sc.Source))
             @:</script> 
        }
    }

}

@helper ShowWithZones(List<ZoneTemplate> tree, List<MultiTabTemplate> multiTabs, List<FieldMappingPoint> fields, int maxSpan)
    {
        var listZone = tree.OrderBy(z => z.Row).ThenBy(z => z.Column);
        string rowfluid = string.Empty;
        int zoneSpan = 0;
        int zoneCount = 0;
        foreach (ZoneTemplate zone in listZone)
        {
            zoneCount++;
            zoneSpan += zone.Span;
            rowfluid = zone.IsRowFluid ? "row" : "row";
            if (zone.IsRowFluid) { maxSpan = 12; }
            if (zoneCount == 1)
            {
                 @:<div class="@rowfluid">
            }
            else if (zoneSpan > maxSpan)
            {
              @:</div>
              @:<div class="@rowfluid">
              zoneSpan = zone.Span;
            }
            @ShowWithZone(zone, multiTabs, fields)
            if (zoneCount == tree.Count)
            { 
                @:</div>
            }
        }
}

@helper ShowWithZone(ZoneTemplate zone, List<MultiTabTemplate> multiTabs, List<FieldMappingPoint> fields)
    {
        string rowfluid = zone.IsRowFluid ? "row" : "row";
    @:<div class="span@(zone.Span) offset@(zone.Offset)">
    @:<div id="@zone.Name" class="zonebox">
    var listProp = fields.Where(f => f.ContainerName == zone.Name).OrderBy(f => f.Row).ThenBy(f => f.Column);
    int i = 0;
    int rowCount = listProp.Count();
    int row = 0;
    int fieldSpan = 0;
    int maxSpan = 12;
    foreach (var prop in listProp)
    {
        i++;
        fieldSpan += prop.LabelSpan + prop.FieldSpan + prop.ValidationSpan;
        if (i == 1)
        {
            row = prop.Row;
            @:<div class="row">
        }
        if (row != prop.Row || fieldSpan > maxSpan)
        {
            @:</div>
            @:<div class="row"> 
            
        }
        if (prop.TemplateName == DisplayControlTemplate.MultiTab)
        {
            MultiTabTemplate tabControl = multiTabs.SingleOrDefault(m => m.Name == prop.FieldName);
            if (tabControl != null)
            { 
                @:<div class="span@(prop.FieldSpan) offset@(prop.FieldOffset)">
                @ShowWithMultiTabControl(tabControl, fields, rowfluid,multiTabs)
                @:</div>
            }
        }
        else
        {
            @Html.Display(prop.FieldName, prop.TemplateName)
        }
        if (fieldSpan > maxSpan)
        {
            fieldSpan = prop.LabelSpan + prop.FieldSpan + prop.ValidationSpan;
        }
        if (row != prop.Row)
        {
            row = prop.Row;
            fieldSpan = prop.LabelSpan + prop.FieldSpan + prop.ValidationSpan;
        }
        if (i == rowCount)
        {
           @:</div>   
        }
    }
    if (zone.Childs != null && zone.Childs.Count > 0)
    {
        int childSpan = 0;
        int childCount = 0;
        foreach (var child in zone.Childs)
        {
            childSpan += child.Span;
            childCount++;
            if (childCount == 1)
            {
                @:<div class="@rowfluid">
            }
            if (childSpan > maxSpan)
            {
                @:</div>
                @:<div class="@rowfluid">
                if (child.Span > maxSpan)
                {
                    child.Span = zone.Span;
                }
                childSpan = child.Span;

            }
            @ShowWithZone(child, multiTabs, fields)
            if (childCount == zone.Childs.Count)
            {
                @:</div> 
            }
        }
    }
            @:</div>
        @:</div>
}
@helper ShowWithoutZone(List<MultiTabTemplate> multiTabs, List<FieldMappingPoint> fields)
    {
        string rowfluid = "row";
        var listProp = fields.OrderBy(f => f.Row).ThenBy(f => f.Column);
        int i = 0;
        int rowCount = listProp.Count();
        int row = 0;
        foreach (var prop in listProp)
        {
            i++;

            if (i == 1)
            {
                row = prop.Row;
                
                 @:<div class="@rowfluid">
            }
            if (row != prop.Row)
            {
                 @:</div><div class="@rowfluid"> 
            }
            if (prop.TemplateName == DisplayControlTemplate.MultiTab)
            {
                MultiTabTemplate tabControl = multiTabs.SingleOrDefault(m => m.Name == prop.FieldName);
                if (tabControl != null)
                { 
                    @:<div class="span@(prop.FieldSpan) offset@(prop.FieldOffset)">
                    @ShowWithMultiTabControl(tabControl, fields, rowfluid,multiTabs)
                    @:</div>
                }
            }
            else
            {
                @Html.Display(prop.FieldName, prop.TemplateName)
            }
            if (row != prop.Row)
            {
                row = prop.Row;
            }
            if (i == rowCount)
            {
        @:</div>   
        }
        }
}
@helper ShowWithMultiTabControl(MultiTabTemplate tabcontrol, List<FieldMappingPoint> fields, string rowfluid,List<MultiTabTemplate> multiTabs)
    {
    <div id="tabcontrol_@(tabcontrol.Name)" class="tabbable @tabcontrol.GetTabType()">
        <ul class="nav nav-tabs">
        
            @foreach (MultiTabPanelTemplate panel in tabcontrol.TabPanels)
            {
                 <li class="@panel.GetIsActive()"><a href="#tabpanel_@panel.PanelName" data-toggle="tab">@panel.DisPlayName</a></li>
            }
           
        </ul>
        <div class="tab-content">
            @foreach (MultiTabPanelTemplate panel in tabcontrol.TabPanels)
            {
               @ShowWithTabPanel(panel, fields, rowfluid,multiTabs)
            }
        </div>
    </div>
}
@helper ShowWithTabPanel(MultiTabPanelTemplate panel, List<FieldMappingPoint> fields, string rowfluid,List<MultiTabTemplate> multiTabs)
    {
        var listProp = fields.Where(f => f.ContainerName == panel.PanelName).OrderBy(f => f.Row).ThenBy(f => f.Column);
        int i = 0;
        int rowCount = listProp.Count();
        int row = 0;
        rowfluid ="row";
    @:<div class="tab-pane @panel.GetIsActive()" id="tabpanel_@(panel.PanelName)">
    @*foreach (var prop in listProp)
    {
        i++;
        if (i == 1)
        {
            row = prop.Row;
            @:<div class="row">
        }
        if (row != prop.Row)
        {
            @:</div>
            @:<div class="row"> 
        }
        @Html.Display(prop.FieldName, prop.TemplateName)
        if (row != prop.Row)
        {
            row = prop.Row;
        }
        if (i == rowCount)
        {
           @:</div>   
        }
    }*@
        foreach (var prop in listProp)
        {
            i++;

            if (i == 1)
            {
                row = prop.Row;
                
                 @:<div class="@rowfluid">
            }
            if (row != prop.Row)
            {
                 @:</div><div class="@rowfluid"> 
            }
            if (prop.TemplateName == DisplayControlTemplate.MultiTab)
            {
                MultiTabTemplate tabControl = multiTabs.SingleOrDefault(m => m.Name == prop.FieldName);
                if (tabControl != null)
                { 
                    @:<div class="span@(prop.FieldSpan) offset@(prop.FieldOffset)">
                    @ShowWithMultiTabControl(tabControl, fields, rowfluid,multiTabs)
                    @:</div>
                }
            }
            else
            {
                @Html.Display(prop.FieldName, prop.TemplateName)
            }
            if (row != prop.Row)
            {
                row = prop.Row;
            }
            if (i == rowCount)
            {
               @:</div>   
            }
         }
    @:</div>
}
