﻿@model WebAPI.Model.DTO.OrderConversationDTO
@{
    Layout = "~/Views/Shared/EditorTemplates/_FieldLayout.cshtml";
}
@{
if (Model.CreatedBy == null)
{
   <p>Log in to post comment</p>
}
else
{
    using (Html.BeginForm("Create", "OrderConversation", FormMethod.Post, null))
    {
    
 
            @Html.TextAreaFor(t => Model.Conversation, 10, 50, new { @class="col-md-12"})
            <input  type="submit" value="Post Conversation" />
        @Html.HiddenFor(t => Model.CreatedBy)
        @Html.HiddenFor(t => Model.TaskOrderID)
        @Html.HiddenFor(t=> Model.TaskID)
    }
}
}
