﻿@using Kendo.Mvc
@model Base.ViewModel.Core.Template.GridTemplate
@{
    Layout = "~/Views/Shared/DisplayTemplates/_Layout.cshtml";	 
}

@{
        if (string.IsNullOrWhiteSpace(Model.RowTemplate))
        {
            var GridControl = Html.Kendo().Grid<System.Data.DataRow>(Model.datatable.Rows.Cast<System.Data.DataRow>());
            if (Model.HasClientBinding)
            {
                GridControl.DataSource(dataSource => dataSource
                                            .Ajax().Events(e => e.RequestStart(Model.ClientBindingMethod)));
            }
            /*if (Model.HasScrollBinding)
            {
                GridControl.Pageable(page => { page.Style(GridPagerStyles.Status).PageOnScroll(true); });
            }
            else
            {
                GridControl.Pageable(page => { page.PageTo(Model.PageIndex + 1); });
            }*/
            if (!String.IsNullOrEmpty(Model.Height)){
                GridControl.Scrollable(c => c.Height(Model.Height));
            }
            
            @( GridControl.Name(Model.GridName)
            .Columns(columns =>
            {
                columns.LoadSettings(Model.ColumnConfigs);
            })            
            .EnableCustomBinding(true)
            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Read(read => read.Action(Model.SelectAjaxAction, Model.ControllerName))
                                            .PageSize(Model.PageSize)
                                            //.PageTo(Model.PageIndex + 1)
                                            //.Model(model => model.Id(Model.KeyName))
                                            .Total(Model.TotalCount)
                                            
                        )
            .Sortable()
            .Selectable()
            .Pageable()
            .Resizable(resizing => resizing.Columns(true))
            )
        }
        else
        {
            var GridControl1 = Html.Kendo().Grid<System.Data.DataRow>(Model.datatable.Rows.Cast<System.Data.DataRow>());
            if (Model.HasClientBinding)
            {
                GridControl1.DataSource(dataSource => dataSource
                                            .Ajax().Events(e => e.RequestStart(Model.ClientBindingMethod)));
            }
            /*if(Model.HasScrollBinding)
            {
                GridControl1.Pageable(page => { page.Style(GridPagerStyles.Status).PageOnScroll(true); });
            }
            else
            {
                GridControl1.Pageable(page => { page.PageSize(Model.PageSize); page.PageTo(Model.PageIndex + 1); page.Total(Model.TotalCount); });
            }*/
             @(GridControl1
            .Name(Model.GridName)
             .Columns(columns =>
             {
                 columns.LoadSettings(Model.ColumnConfigs);
             })
            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Read(read => read.Action(Model.SelectAjaxAction, Model.ControllerName))
                                            .Model(model => model.Id(Model.KeyName))
                                            .PageSize(Model.PageSize)
                //.PageTo(Model.PageIndex + 1)
                                            .Total(Model.TotalCount)
                                            
                        )
            .EnableCustomBinding(true)
            .ClientRowTemplate(grid => Model.RowTemplate)
            .Resizable(resizing => resizing.Columns(true))
            .Pageable()
            )
        
        }
 }