﻿@model MagicGrid.ViewModel.ScrollerViewModel
@{
    Layout = "~/Views/Shared/DisplayTemplates/_Layout.cshtml";	  
 }
@{
    string name = Html.ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix;
    name = name.Replace('.', '_');
    string listData = string.Empty;
    for(int i = 0;i< Model.ScrollerDetails.Count;i++)
    {
        listData += string.Format(@" var slide{0} = new SlideContent{1}();
		slide{0}.image= '{2}';
		slide{0}.htmlcontrol= '{3}';
        photos{1}[{0}] = slide{0};
        ", i, name, Model.ScrollerDetails[i].ImageURL, (Model.ScrollerDetails[i].HTMLContent ?? "").Replace("'", "&#39;"));
    }
    if (Model.Height==0) { Model.Height = 200; }
    if (Model.Speed == 0) { Model.Speed = 6000; }
}
@if (Model.ScrollerDetails.Count > 0)
{
<div class = "row" style="position:relative;height:@(Model.Height)px">   
    <div class = "row">
         <div id="headerimg1@(name)" class="col-md-12 img-rounded" style="height: @(Model.Height)px; position:absolute; left:0px; top:0px; ">
             <div id="headercontent1@(name)" class="col-md-12" style="height: @(Model.Height)px;position:absolute; left:0px; top:0px; ">
                 
             </div>
         </div>
     </div>       
    <div class = "row">                  
         <div id="headerimg2@(name)" class="col-md-12 img-rounded" style="height: @(Model.Height)px;  position:absolute; left:0px; top:0px;">
             <div id="headercontent2@(name)" class="col-md-12" style="height: @(Model.Height)px;position:absolute; left:0px; top:0px; ">
                 
             </div>
         </div>
     </div>  
    <div class = "row">                  
         <div  class="col-md-offset-8 col-md-4" style="position:absolute; top:@(Model.Height - 50)px; z-index:5000;">
             <div class = "row">   
                 <div id="back@(name)" class="col-md-4" style="width:32px;height:32px;background-image: url(/Uploads/SlideShow/btn_back.png);cursor:pointer;">
                 </div>
                 <div id="control@(name)" class="col-md-4"  style="width:32px;height:32px;background-image: url(/Uploads/SlideShow/btn_pause.png);cursor:pointer;">
                 </div>
                 <div id="next@(name)" class="col-md-4" style="width:32px;height:32px;background-image: url(/Uploads/SlideShow/btn_next.png);cursor:pointer;">
                 </div>
             </div>
         </div>
     </div>  
</div>
<script type = "text/javascript">
var slideshowSpeed@(name) = @(Model.Speed);
var photos@(name) = new Array();
function SlideContent@(name)() {
	    this.image = "";
        this.htmlControl ="";
	}

	function InitSlideContent@(name)() { 
       @(Html.Raw(listData))
    }	
    $(document).ready(function () {
        InitSlideContent@(name)();
        // Backwards navigation
        $("#back@(name)").click(function () {
            stopAnimation@(name)();
            navigate@(name)("back");
        });

        // Forward navigation
        $("#next@(name)").click(function () {
            stopAnimation@(name)();
            navigate@(name)("next");
        });

        var interval@(name);
        $("#control@(name)").toggle(function () {
            stopAnimation@(name)();
        }, function () {
            // Change the background image to "pause"
            $(this).css({ "background-image": "url(/Uploads/SlideShow/btn_pause.png)" });

            // Show the next image
            navigate@(name)("next");

            // Start playing the animation
            interval@(name) = setInterval(function () {
                navigate@(name)("next");
            }, slideshowSpeed@(name));
        });


        var activeContainer@(name) = 1;
        var currentImg@(name) = 0;
        var animating@(name) = false;
        var navigate@(name) = function (direction) {
            // Check if no animation is running. If it is, prevent the action
            if (animating@(name)) {
                return;
            }

            // Check which current image we need to show
            if (direction == "next") {
                currentImg@(name)++;
                if (currentImg@(name) == photos@(name).length + 1) {
                    currentImg@(name) = 1;
                }
            } else {
                currentImg@(name)--;
                if (currentImg@(name) == 0) {
                    currentImg@(name) = photos@(name).length;
                }
            }

            // Check which container we need to use
            var currentContainer@(name) = activeContainer@(name);
            if (activeContainer@(name) == 1) {
                activeContainer@(name) = 2;
            } else {
                activeContainer@(name) = 1;
            }

            showImage@(name)(photos@(name)[currentImg@(name) - 1], currentContainer@(name), activeContainer@(name));

        };

        var currentZindex@(name) = 1000;
        var showImage@(name) = function (photoObject, currentContainer@(name), activeContainer@(name)) {
            

            animating@(name) = true;

            // Make sure the new container is always on the background
            currentZindex@(name)--;
            // Set the background image of the new active container
            $("#headerimg" + activeContainer@(name) + "@(name)").css({
                "background-image": "url(" + photoObject.image + ")",
                "display": "block",
                "z-index": currentZindex@(name)
            });
                        

            // Set the new header text
            $("#headercontent" + activeContainer@(name)+"@(name)").html(photoObject.htmlcontrol);



            // Fade out the current container
            // and display the header text when animation is complete
            $("#headerimg" + currentContainer@(name)+"@(name)").fadeOut(function () {                
                setTimeout(function () {                    
                    animating@(name) = false;
                }, 500);
            });
        };

        var stopAnimation@(name) = function () {
            // Change the background image to "play"
            $("#control@(name)").css({ "background-image": "url(/Uploads/SlideShow/btn_play.png)" });

            // Clear the interval
            clearInterval(interval@(name));
        };

        // We should statically set the first image
        navigate@(name)("next");

        // Start playing the animation
        interval@(name) = setInterval(function () {
            navigate@(name)("next");
        }, slideshowSpeed@(name));

    });
    </script>
}