﻿@using Kendo.Mvc
@model List<WebAPI.Model.DTO.MenuDTO>
@{
    Layout = "~/Views/Shared/EditorTemplates/_FieldLayout.cshtml";
}
@(Html.Kendo().TreeView()
        .Name("TreeView")
        .DragAndDrop(true)
        .Events(events => events
                .Drop("onNodeDrop")
        )
        .BindTo(Model, mappings =>
        {
            mappings.For<WebAPI.Model.DTO.MenuDTO>(binding => binding
                    .ItemDataBound((tree, menu) =>
                    {
                        tree.Url = menu.URL;
                        tree.Text = menu.DisplayText;
                        tree.Expanded = true;
                    })
                    .Children(menu => menu.ChildMenus));
            
        }).HtmlAttributes(new { @class = "t-group" })

) 
<script type="text/javascript">
    function onNodeDrop(e) {
        var dropContainer = $(e.dropTarget).closest('.drop-container');
        var treeview = $('#TreeView').data('tTreeView');
        var nodeText = treeview.getItemText(e.item);
    }
</script>