<!-- ko if: IsEdit()===false -->
        <div class="form-group">
            <label for="ctrlMapID" class="col-md-2 control-label">@MemeMVC.Resource.Note.Admin.Label_Table_MapID</label>
            
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.Note.Admin.Label_Table_Body</label>
            <div class="col-md-10">
                <span data-bind="html:Body" ></span>
            </div>
        </div>
<!-- /ko -->
<!-- ko if: IsEdit()===true -->
        <div class="form-group">
            <label for="ctrlMapID" class="col-md-2 control-label">@MemeMVC.Resource.Note.Admin.Label_Table_MapID</label>
            <div class="col-md-10">
                <select id="ctrlMapID" data-bind="options: $parent.MapsVM().ArrMap,optionsText:'Name',optionsValue:'MapID',optionsCaption:'@MemeMVC.Resource.Note.Admin.PlaceHolder_Table_MapID',value:MapID" class="form-control col-md-12" ></select>
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlBody" class="col-md-2 control-label">@MemeMVC.Resource.Note.Admin.Label_Table_Body</label>
            <div class="col-md-10">
                <input id="ctrlBody" type="text" data-bind="value:Data" class="form-control col-md-12" />
            </div>
        </div>
<!-- /ko -->
