<script type="text/javascript">
    var NoteViewModel = function () {
        var self = this;
        self.GetUrl = {
            getNote: "@Url.Action("Get", "Note")",
            saveNote: "@Url.Action("Save", "Note")",
            removeNote: "@Url.Action("Remove", "Note")",
            gotoMaster: "@Url.Action("Admin", "Note")"
        };
        self.NoteID = ko.observable(null);
        self.Note = ko.observable(null);
        self.Transition = ko.observable(null);
        self.Processing = ko.observable(null);
        self.FFInit = ko.observable(null);
        self.MapsVM = ko.observable(null);
        self.InitModel = function (transition, processing) {
            self.Transition = transition;
            self.Processing = processing;
        };
        self.SetFFInit = function (ffinit) {
            self.FFInit(ffinit);
        };
        self.SetNoteID = function (id) {
            self.NoteID(id);
        }
        self.SetMapsVM = function (mapsvm) {
            self.MapsVM = mapsvm;
        };
        self.InitData = function () {
            InitNote();
        };
        self.startEditNote = function (note) {
            note.OldValue(ko.toJS(note));
            note.IsEdit(true);
        }
        self.finishEditNote = function (note) {
            SaveNote(note);
        }
        self.cancelEditNote = function (note) {
            ResetNote(note);
            note.IsEdit(false);
        }
        self.removeNote = function (note) {
            DeleteNote(note);
        };
        self.completeNote = function (note) {
            CompleteNote(note);
        };
        self.goBackToHome = function () {
            window.location.href = self.GetUrl.gotoMaster;
        };
        function InitNote() {
            self.Processing().SetProcessing("Note", true);
            if (self.NoteID() > 0) {
                $.post(self.GetUrl.getNote, { id: self.NoteID() }, FinishInitNote);
            } else {
                $.post(self.GetUrl.getGUIDString, {}, FinishInitNoteGUID);
            }
        };
        function FinishInitNote(data) {
            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                self.Note(self.ConvertDataToNote(data.Note));
            }
            if (self.FFInit() != null) self.FFInit()();
            self.Processing().SetProcessing("Note", false);
        }
        function FinishInitNoteGUID(data) {
            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                var newNote = new Note(
                       0,
                       0,
                       "",
                        "",
                    "",
                    ""
                   );
                newNote.GUID(data.GUIDString);
                self.Note(newNote);
                self.Note().AllowEdit(true);
                self.Note().AllowRemove(true);
                self.Note().AllowSendTo(false);
                self.Note().AllowPrint(false);
                self.Note().AllowAddDetail(true);
                self.Note().IsEdit(true);
            }
            self.Processing().SetProcessing("Note", false);
        }
        function SaveNote(note) {
            if (ValidateNote(note)) {
                self.Processing().SetProcessing("Note", true);
                $.post(self.GetUrl.saveNote, ConvertNoteToPostObject(note), FinishSaveNote);
            }
        }
        function ValidateNote(item) {
            if (item.MapID() != null) {
                if (self.MapsVM() != null) {
                    var map = ko.utils.arrayFirst(self.MapsVM().ArrMap(), function (map1) {
                        return map1.MapID() == item.MapID();
                    });
                    if (map != null) {
                        item.MapName(map.Name());
                    }
                }
            }
            else {
                item.MapName("");
            }
            return true;
        }
        function FinishSaveNote(data) {
            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                self.Note().NoteID(data.Note.NoteID);
                self.NoteID(data.Note.NoteID);
                self.Note().IsEdit(false);
            } else {
                bootbox.alert("@MemeMVC.Resource.Note.Admin.Message_SaveFail");
            }
            self.Processing().SetProcessing("Note", false);
        }
        function DeleteNote(note) {
            self.Processing().SetProcessing("Note", true);
            bootbox.confirm("<b>@MemeMVC.Resource.Note.Admin.Message_ConfirmDelete</b>", function (result) {
                if (result) {
                    if (note != undefined) {
                        $.post(self.GetUrl.removeNote, { id: self.Note().NoteID() }, function (data) {
                            self.Processing().SetProcessing("Note", false);
                            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                                window.location.href = self.GetUrl.gotoMaster;
                            } else {
                                bootbox.alert("@MemeMVC.Resource.Note.Admin.Message_NotConnectAPI");
                            }
                        });
                    }
                }
            });
        }
        function CompleteNote(note) {
        }
        function ConvertNoteToPostObject(note) {
            var postObject = {
                NoteID: note.NoteID(),
                MapID: note.MapID(),
                Body: note.BodyStr,
                Url: note.Url(),
                RID: note.RID(),
                Type: note.Type(),
                GUID: note.GUID()
            };
            return postObject;
        }
        function ResetNote(note) {
            note.NoteID(note.OldValue().NoteID);
            note.MapID(note.OldValue().MapID);
            note.Body(note.OldValue().Body);
            note.RID(note.OldValue().RID);
            note.Url(note.OldValue().Url);
            note.Type(note.OldValue().Type);
        }
        self.ConvertDataToNote = function (dataItem) {
            var note = new Note(
                                         dataItem.NoteID,
                                         dataItem.MapID,
                                            dataItem.Body,
                                        dataItem.RID,
                                         dataItem.Url,
                                            dataItem.Type
                                         );
            return note;
        }
    };
</script>
