/**
    http://bootsnipp.com/snippets/featured/chat
*/ 
   .conversation-wrap
    {
        box-shadow: -2px 0 3px #ddd;
        padding:0;
        max-height: 400px;
        overflow: auto;
    }
    .conversation
    {
        padding:5px;
        border-bottom:1px solid #ddd;
        margin:0;

    }

    .message-wrap
    {
        box-shadow: 0 0 3px #ddd;
        padding:0;
        min-width:400px;
        min-height:100px;
        border:solid 1px #eeeeee;
        background-color:#ffffff;
    }
    a.view_more_comment{
        /*background: #CCFFCC;
        position:relative;
        width:100%;
            */
    }
    a.view_more_comment:hover{
        /*
        background:#CCCCFF;
            */
    }
    .msg
    {
        padding:5px;
        /*border-bottom:1px solid #ddd;*/
        margin:0;
    }
    .msg-wrap
    {
        padding:4px;
        max-height: 400px;
        overflow: auto;

    }

    .time
    {
        color:#bfbfbf;
        padding-left: 11px;
        position: relative;
        width: 30%;
        float:left;
    }
    .remove-mess{
        display:none;
    }
    .remove-mess:hover{
        cursor:pointer;
    }
    .media-body:hover .remove-mess{
        display:block;
    }
    .send-wrap
    {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding:10px;
        /*background: #f8f8f8;*/
    }

    .send-message
    {
        resize: none;
    }

    .highlight
    {
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
    }

    .send-message-btn
    {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;

        border-bottom-right-radius: 0;
    }
    .btn-panel
    {
        background: #f7f7f9;
    }

    .btn-panel .btn
    {
        color:#b8b8b8;

        transition: 0.2s all ease-in-out;
    }

    .btn-panel .btn:hover
    {
        color:#666;
        background: #f8f8f8;
    }
    .btn-panel .btn:active
    {
        background: #f8f8f8;
        box-shadow: 0 0 1px #ddd;
    }

    .btn-panel-conversation .btn,.btn-panel-msg .btn
    {

        background: #f8f8f8;
    }
    .btn-panel-conversation .btn:first-child
    {
        border-right: 1px solid #ddd;
    }

    .msg-wrap .media-heading
    {
        color:#003bb3;
        font-weight: 700;
    }
    .form-reply{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        display: block;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        vertical-align: middle;
        width: 100%;
    }
    textarea.form-reply {
        height: auto;
    }
    .form-reply:focus {
        border-color: #66afe9;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
        outline: 0 none;
    }
    .msg-date
    {
        background: none;
        text-align: center;
        color:#aaa;
        border:none;
        box-shadow: none;
        border-bottom: 1px solid #ddd;
    }


    body::-webkit-scrollbar {
        width: 12px;
    }
 
    
    /* Let's get this party started */
    ::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
/*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
/*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
        background:#ddd; 
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: #ddd; 
    }
    .alert-minimalist {
	background-color: rgb(241, 242, 240);
	border-color: rgba(149, 149, 149, 0.3);
	border-radius: 3px;
	color: rgb(149, 149, 149);
	padding: 10px;
}
.alert-minimalist > [data-notify="icon"] {
	height: 50px;
	margin-right: 20px;
}
.alert-minimalist > [data-notify="title"] {
	color: rgb(51, 51, 51);
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
.alert-minimalist > [data-notify="message"] {
	font-size: 80%;
}
._5ugg, ._3z_5 {
    background-color: #dc0d17;
    background-image: -webkit-gradient(linear, center top, center bottom, from(#fa3c45), to(#dc0d17));
    background-image: -webkit-linear-gradient(#fa3c45, #dc0d17);
    color: #fff;
    padding: 1px 3px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .7);
    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
    background-color: #DC0D17;
    background-image: linear-gradient(#FA3C45, #DC0D17);
    color: #FFF;
    padding: 1px 3px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
    background-clip: padding-box;
    display: inline-block;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-size: 10px;
    line-height: normal;
    min-height: 13px;
}
.jewelCount {
    position: relative;
  top: -20px;
  left: 20px;
}
.globalnotification{
    float:right;
}
.unread_message  {
    background: rgba(237, 239, 245, 0.98) none repeat scroll 0 0;
    border-color: #d8deea;
}
div#search_email_share_box{
    width:100%;
    /*T R B L*/
    padding: 10px 20px 10px 20px;
    float:left;
}
div#search_email_share_box input{
    width: 85%;
    height: 40px;
    padding: 10px 5px;
    float: left;    
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}
div#search_email_share_box input:focus{
    outline: 0;
    border: 1px solid #e54040;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
div#search_email_share_box input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
div#search_email_share_box input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
div#search_email_share_box input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
/* Form submit button */
div#search_email_share_box button {
    overflow: visible;
    position: relative;
    float: left;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 15%;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
   
div#search_email_share_box button:hover{     
    background: #e54040;
}   
   
div#search_email_share_box button:active,
div#search_email_share_box button:focus{   
    background: #c42f2f;
    outline: 0;   
}
 
div#search_email_share_box button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}
 
div#search_email_share_box button:hover:before{
    border-right-color: #e54040;
}
 
div#search_email_share_box button:focus:before,
div#search_email_share_box button:active:before{
        border-right-color: #c42f2f;
}      
 
div#search_email_share_box button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
} 
.share-user-item{
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #b8b8b8;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.share-user-item:hover{
  background: #949799;
  text-decoration: none;
}