<!-- ko if: IsEdit()===false -->
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_FirstName</label>
            <div class="col-md-10">
                <span data-bind="html:FirstName" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_LastName</label>
            <div class="col-md-10">
                <span data-bind="html:LastName" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_UserName</label>
            <div class="col-md-10">
                <span data-bind="html:UserName" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_Salt</label>
            <div class="col-md-10">
                <span data-bind="html:Salt" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_NewSalt</label>
            <div class="col-md-10">
                <span data-bind="html:NewSalt" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_Password</label>
            <div class="col-md-10">
                <span data-bind="html:Password" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_NewPassword</label>
            <div class="col-md-10">
                <span data-bind="html:NewPassword" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_Email</label>
            <div class="col-md-10">
                <span data-bind="html:Email" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_DateOfBirth</label>
            <div class="col-md-10">
               <span data-bind="html:DateOfBirth"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_ZipCode</label>
            <div class="col-md-10">
                <span data-bind="html:ZipCode" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_Address</label>
            <div class="col-md-10">
                <span data-bind="html:Address" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_Description</label>
            <div class="col-md-10">
                <span data-bind="html:Description" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_Lock</label>
            <div class="col-md-10">
                <span data-bind="html:Lock" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_ActionKey</label>
            <div class="col-md-10">
                <span data-bind="html:ActionKey" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_ProfilePicture</label>
            <div class="col-md-10">
                <span data-bind="html:ProfilePicture" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_GalleryURL</label>
            <div class="col-md-10">
                <span data-bind="html:GalleryURL" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_Rating</label>
            <div class="col-md-10">
                <span data-bind="html:Rating" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_LastLoginDate</label>
            <div class="col-md-10">
               <span data-bind="html:LastLoginDateF"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlFacebookID" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_FacebookID</label>
            <div class="col-md-10">
                <span  data-bind="html:FacebookName" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_FacebookEmail</label>
            <div class="col-md-10">
                <span data-bind="html:FacebookEmail" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_FacebookAccessToken</label>
            <div class="col-md-10">
                <span data-bind="html:FacebookAccessToken" ></span>
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlTwitterID" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_TwitterID</label>
            <div class="col-md-10">
                <span  data-bind="html:TwitterName" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_TwitterAccessToken</label>
            <div class="col-md-10">
                <span data-bind="html:TwitterAccessToken" ></span>
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlLinkedInID" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_LinkedInID</label>
            <div class="col-md-10">
                <span  data-bind="html:LinkedInName" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_LinkedInAccessToken</label>
            <div class="col-md-10">
                <span data-bind="html:LinkedInAccessToken" ></span>
            </div>
        </div>
<!-- /ko -->
<!-- ko if: IsEdit()===true -->
        <div class="form-group">
            <label for="ctrlFirstName" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_FirstName</label>
            <div class="col-md-10">
                <input id="ctrlFirstName" type="text" data-bind="value:FirstName" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlLastName" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_LastName</label>
            <div class="col-md-10">
                <input id="ctrlLastName" type="text" data-bind="value:LastName" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlUserName" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_UserName</label>
            <div class="col-md-10">
                <input id="ctrlUserName" type="text" data-bind="value:UserName" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlSalt" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_Salt</label>
            <div class="col-md-10">
                <input id="ctrlSalt" type="text" data-bind="value:Salt" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlNewSalt" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_NewSalt</label>
            <div class="col-md-10">
                <input id="ctrlNewSalt" type="text" data-bind="value:NewSalt" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlPassword" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_Password</label>
            <div class="col-md-10">
                <input id="ctrlPassword" type="text" data-bind="value:Password" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlNewPassword" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_NewPassword</label>
            <div class="col-md-10">
                <input id="ctrlNewPassword" type="text" data-bind="value:NewPassword" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlEmail" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_Email</label>
            <div class="col-md-10">
                <input id="ctrlEmail" type="text" data-bind="value:Email" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlDateOfBirth" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_DateOfBirth</label>
            <div class="col-md-10">
                <input id="ctrlDateOfBirth" type="text" data-bind = "datepicker: DateOfBirth, datepickerOptions: { dateFormat: 'dd/mm/yy' }"  class="form-control col-md-12" /></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlZipCode" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_ZipCode</label>
            <div class="col-md-10">
                <input id="ctrlZipCode" type="text" data-bind="value:ZipCode" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlAddress" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_Address</label>
            <div class="col-md-10">
                <input id="ctrlAddress" type="text" data-bind="value:Address" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlDescription" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_Description</label>
            <div class="col-md-10">
                <input id="ctrlDescription" type="text" data-bind="value:Description" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlLock" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_Lock</label>
            <div class="col-md-10">
                <input id="ctrlLock" type="text" data-bind = "value:Lock,currencyMaskOptions:{symbol: '',roundToDecimalPlace:0}" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlActionKey" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_ActionKey</label>
            <div class="col-md-10">
                <input id="ctrlActionKey" type="text" data-bind="value:ActionKey" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlProfilePicture" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_ProfilePicture</label>
            <div class="col-md-10">
                <input id="ctrlProfilePicture" type="text" data-bind="value:ProfilePicture" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlGalleryURL" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_GalleryURL</label>
            <div class="col-md-10">
                <input id="ctrlGalleryURL" type="text" data-bind="value:GalleryURL" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlRating" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_Rating</label>
            <div class="col-md-10">
                <input id="ctrlRating" type="text" data-bind = "value:Rating,currencyMaskOptions:{symbol: '',roundToDecimalPlace:0}" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlLastLoginDate" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_LastLoginDate</label>
            <div class="col-md-10">
                <input id="ctrlLastLoginDate" type="text" data-bind = "datepicker: LastLoginDate, datepickerOptions: { dateFormat: 'dd/mm/yy' }"  class="form-control col-md-12" /></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlFacebookID" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_FacebookID</label>
            <div class="col-md-10">
                <input id="ctrlFacebookID" type="text" data-bind="value:FacebookID" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlFacebookEmail" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_FacebookEmail</label>
            <div class="col-md-10">
                <input id="ctrlFacebookEmail" type="text" data-bind="value:FacebookEmail" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlFacebookAccessToken" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_FacebookAccessToken</label>
            <div class="col-md-10">
                <input id="ctrlFacebookAccessToken" type="text" data-bind="value:FacebookAccessToken" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlTwitterID" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_TwitterID</label>
            <div class="col-md-10">
                <input id="ctrlTwitterID" type="text" data-bind="value:TwitterID" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlTwitterAccessToken" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_TwitterAccessToken</label>
            <div class="col-md-10">
                <input id="ctrlTwitterAccessToken" type="text" data-bind="value:TwitterAccessToken" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlLinkedInID" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_LinkedInID</label>
            <div class="col-md-10">
                <input id="ctrlLinkedInID" type="text" data-bind="value:LinkedInID" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlLinkedInAccessToken" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_LinkedInAccessToken</label>
            <div class="col-md-10">
                <input id="ctrlLinkedInAccessToken" type="text" data-bind="value:LinkedInAccessToken" class="form-control col-md-12" />
            </div>
        </div>
<!-- /ko -->
