     <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_ProfilePicture</label>
            <div class="col-md-6">
                   <img  data-bind="attr:{src:ProfilePicture,alt:UserName}"
                            style="height: 150px" class="img-circle lazy" />
                  
             </div>
        </div>
<!-- ko if: IsEdit()===false -->
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_FirstName</label>
            <div class="col-md-6">
                <span data-bind="html:FirstName" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_LastName</label>
            <div class="col-md-6">
                <span data-bind="html:LastName" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_UserName</label>
            <div class="col-md-6">
                <span data-bind="html:UserName" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_Email</label>
            <div class="col-md-6">
                <span data-bind="html:Email" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_DateOfBirth</label>
            <div class="col-md-6">
               <span data-bind="html:DateOfBirthF"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_ZipCode</label>
            <div class="col-md-6">
                <span data-bind="html:ZipCode" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_Address</label>
            <div class="col-md-6">
                <span data-bind="html:Address" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_Description</label>
            <div class="col-md-6">
                <span data-bind="html:Description" ></span>
            </div>
        </div>
<!-- /ko -->
<!-- ko if: IsEdit()===true -->
        <div class="form-group">
            <label for="ctrlFirstName" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_FirstName</label>
            <div class="col-md-6">
                <input id="ctrlFirstName" type="text" data-bind="value:FirstName" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlLastName" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_LastName</label>
            <div class="col-md-6">
                <input id="ctrlLastName" type="text" data-bind="value:LastName" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlUserName" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_UserName</label>
            <div class="col-md-6">
                <input id="ctrlUserName" type="text" data-bind="value:UserName" class="form-control col-md-12" readonly="readonly" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlEmail" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_Email</label>
            <div class="col-md-6">
                <input id="ctrlEmail" type="text" data-bind="value:Email" class="form-control col-md-12" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlDateOfBirth" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_DateOfBirth</label>
            <div class="col-md-6">
                <input id="ctrlDateOfBirth" type="text" data-bind = "datepicker: DateOfBirth, datepickerOptions: { dateFormat: 'dd/mm/yy' }"  class="form-control" style="width:150px" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlZipCode" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_ZipCode</label>
            <div class="col-md-6">
                <input id="ctrlZipCode" type="text" data-bind="value:ZipCode" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlAddress" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_Address</label>
            <div class="col-md-6">
                <input id="ctrlAddress" type="text" data-bind="value:Address" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlDescription" class="col-md-2 control-label">@MemeMVC.Resource.User.Admin.Label_Table_Description</label>
            <div class="col-md-6">
                <input id="ctrlDescription" type="text" data-bind="value:Description" class="form-control col-md-12" />
            </div>
        </div>
<!-- /ko -->
