<script src="~/Content/addon/kendo/js/kendo.web.min.js"></script>
<script src="~/Content/addon/kendo/js/kendo.aspnetmvc.min.js"></script>
@Html.Partial("_CommonScript")
@Html.Partial("_FormatJScript")
@Html.Partial("_UserJScript")
@Html.Partial("_UserViewModelJScript")
<script type="text/javascript">
    var EditViewModel = function () {
        var self = this;
        self.Processing = ko.observable(new ModelProcessing());
        self.Transition = ko.observable(new ModelTransition());
        self.UserVM = ko.observable(null);
        self.FacebooksVM = ko.observable(null);
        self.TwittersVM = ko.observable(null);
        self.LinkedInsVM = ko.observable(null);
        self.InitData = function () {
            var uservm = new UserViewModel();
            uservm.InitModel(self.Transition,self.Processing);
            self.UserVM(uservm);
 
            //int main view model
            var id = parseInt("@ViewBag.UserID");
            self.UserVM().SetUserID(id);
            self.UserVM().SetFFInit(function () {
                self.UserVM().User().NumOfMap(@ViewBag.NumOfMap);
                self.UserVM().User().NumOfProject(@ViewBag.NumOfProject);
                InitUploadFile();
            });
            self.UserVM().InitData();
            
        };
        function InitUploadFile() {
            var upload = $("#btnUploadView").data("kendoUpload");
            if (upload != null || upload != undefined)
                upload.destroy();
            $("#btnUploadView").kendoUpload({
                async: {
                    saveUrl: '@Url.Action("UploadProfilePicture", "User")',
                    autoUpload: true

                },
                showFileList: false,
                multiple: false,
                upload: function (e) {
                    self.Processing().SetProcessing("User", true);
                    e.data = { userid: self.UserVM().UserID() };
                },
                localization: {
                    select: "Upload..."
                },
                complete: function (e) {

                },
                success: function (e) {
                    if (e.response.data != null && e.response.data.Result == "@Base.ViewModel.ResultType.Success") {
                        FinishUploadMainImage(e.response.data);
                    }
                    else {
                        bootbox.alert("Upload data unsuccess, please check data input and contact system admin");
                    }
                    self.Processing().SetProcessing("User", false);
                },
                select: function (e) {
                    var files = e.files;
                    if (CheckImageFile(files[0].extension) == false) {
                        bootbox.alert("Only image file can be uploaded");
                        self.Processing().SetProcessing("Ticket", false);
                        e.preventDefault();
                    }
                },
                error: function (e) {
                    bootbox.alert("Upload data unsuccess, please contact the system admin" + e.toString());
                }
            });
            }
        function CheckImageFile(fileextension) {
            //JPG JPEG JFIF PNG BMP GIF TIF ICO
            if (fileextension.toLowerCase().indexOf("jpg") > -1) return true;
            if (fileextension.toLowerCase().indexOf("jpeg") > -1) return true;
            if (fileextension.toLowerCase().indexOf("jfif") > -1) return true;
            if (fileextension.toLowerCase().indexOf("png") > -1) return true;
            if (fileextension.toLowerCase().indexOf("bmp") > -1) return true;
            if (fileextension.toLowerCase().indexOf("gif") > -1) return true;
            if (fileextension.toLowerCase().indexOf("tif") > -1) return true;
            if (fileextension.toLowerCase().indexOf("ico") > -1) return true;
            return false;
        }
        function FinishUploadMainImage(data) {
            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                self.UserVM().User().ProfilePicture(data.User.ProfilePicture);
                window.location.href = window.location.href;
            }
        }
    };
    var mv = new EditViewModel();
    mv.InitData();
    ko.applyBindings(mv);
</script>
