<div id="gridUser" class='contenttable'>
    <table width="100%" class="table table-bordered table-hover">
        <thead>
            <tr>
                <td class="k-header" style="text-align: center">
                </td>
                <td class="k-header" style="text-align: center">
                 @MemeMVC.Resource.User.Admin.Label_Table_OrderNo
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('FirstName');}">@MemeMVC.Resource.User.Admin.Label_Table_FirstName  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='FirstName'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='FirstName'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='FirstName'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('LastName');}">@MemeMVC.Resource.User.Admin.Label_Table_LastName  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='LastName'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='LastName'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='LastName'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('UserName');}">@MemeMVC.Resource.User.Admin.Label_Table_UserName  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='UserName'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='UserName'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='UserName'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('Salt');}">@MemeMVC.Resource.User.Admin.Label_Table_Salt  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='Salt'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='Salt'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='Salt'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('NewSalt');}">@MemeMVC.Resource.User.Admin.Label_Table_NewSalt  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='NewSalt'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='NewSalt'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='NewSalt'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('Password');}">@MemeMVC.Resource.User.Admin.Label_Table_Password  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='Password'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='Password'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='Password'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('NewPassword');}">@MemeMVC.Resource.User.Admin.Label_Table_NewPassword  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='NewPassword'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='NewPassword'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='NewPassword'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('Email');}">@MemeMVC.Resource.User.Admin.Label_Table_Email  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='Email'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='Email'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='Email'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('DateOfBirth');}">@MemeMVC.Resource.User.Admin.Label_Table_DateOfBirth  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='DateOfBirth'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='DateOfBirth'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='DateOfBirth'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('ZipCode');}">@MemeMVC.Resource.User.Admin.Label_Table_ZipCode  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='ZipCode'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='ZipCode'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='ZipCode'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('Address');}">@MemeMVC.Resource.User.Admin.Label_Table_Address  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='Address'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='Address'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='Address'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('Description');}">@MemeMVC.Resource.User.Admin.Label_Table_Description  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='Description'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='Description'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='Description'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('Lock');}">@MemeMVC.Resource.User.Admin.Label_Table_Lock  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='Lock'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='Lock'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='Lock'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('ActionKey');}">@MemeMVC.Resource.User.Admin.Label_Table_ActionKey  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='ActionKey'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='ActionKey'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='ActionKey'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('ProfilePicture');}">@MemeMVC.Resource.User.Admin.Label_Table_ProfilePicture  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='ProfilePicture'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='ProfilePicture'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='ProfilePicture'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('GalleryURL');}">@MemeMVC.Resource.User.Admin.Label_Table_GalleryURL  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='GalleryURL'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='GalleryURL'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='GalleryURL'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('Rating');}">@MemeMVC.Resource.User.Admin.Label_Table_Rating  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='Rating'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='Rating'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='Rating'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('ValidKey');}">@MemeMVC.Resource.User.Admin.Label_Table_ValidKey  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='ValidKey'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='ValidKey'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='ValidKey'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('LastLoginDate');}">@MemeMVC.Resource.User.Admin.Label_Table_LastLoginDate  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='LastLoginDate'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='LastLoginDate'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='LastLoginDate'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('FacebookID');}">@MemeMVC.Resource.User.Admin.Label_Table_FacebookID  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='FacebookID'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='FacebookID'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='FacebookID'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('FacebookEmail');}">@MemeMVC.Resource.User.Admin.Label_Table_FacebookEmail  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='FacebookEmail'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='FacebookEmail'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='FacebookEmail'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('FacebookAccessToken');}">@MemeMVC.Resource.User.Admin.Label_Table_FacebookAccessToken  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='FacebookAccessToken'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='FacebookAccessToken'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='FacebookAccessToken'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('TwitterID');}">@MemeMVC.Resource.User.Admin.Label_Table_TwitterID  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='TwitterID'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='TwitterID'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='TwitterID'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('TwitterAccessToken');}">@MemeMVC.Resource.User.Admin.Label_Table_TwitterAccessToken  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='TwitterAccessToken'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='TwitterAccessToken'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='TwitterAccessToken'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('LinkedInID');}">@MemeMVC.Resource.User.Admin.Label_Table_LinkedInID  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='LinkedInID'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='LinkedInID'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='LinkedInID'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
                <td class="k-header"  style="text-align:center;cursor:pointer" data-bind="click:function(){startSort('LinkedInAccessToken');}">@MemeMVC.Resource.User.Admin.Label_Table_LinkedInAccessToken  
                  <div data-bind="visible:SortedField()!=null&&SortedField().Name()=='LinkedInAccessToken'" class="pull-right">
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='LinkedInAccessToken'&&SortedField().Direction()==false" "btn bnt-small"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-bind="visible:SortedField()!=null&&SortedField().Name()=='LinkedInAccessToken'&&SortedField().Direction()==true" "btn bnt-small"><i class="glyphicon glyphicon-chevron-up"></i></a>
                   </div>
                </td>
            </tr>
        </thead>
        <tbody data-bind="template:{name:'UserItem',foreach:ArrUser}">
        </tbody>
        <tfoot>
            <tr>
                <td colspan="28">
              <div class="row">
                    <div class="control-group col-md-4">
                        <div class="controls">
                            <a class="btn btn-default" data-bind="click:startAddUser"><i class="glyphicon glyphicon-plus" title="@MemeMVC.Resource.User.Admin.Button_New" ></i>@MemeMVC.Resource.User.Admin.Button_New</a>
                        </div>
                    </div>
                    <div class=" col-md-8">
                        <div class="pull-right" data-bind="with:Paging">
                            <ul class="pagination">
                               <li > <a data-bind="html:'@MemeMVC.Resource.User.Admin.Text_TotalItems <b>' + TotalItems() + '</b> @MemeMVC.Resource.User.Admin.Text_ItemName &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; @MemeMVC.Resource.User.Admin.Text_Page <b>'+ PageIndex() + '/' + TotalPages() +'</b>'"></a></li>
                               <li data-bind="css:{disabled:PageIndex()==0}"><a data-bind="click:$parent.gotoPrevPage">&laquo;</a></li>
                               <!-- ko foreach:Pages -->
                               <li data-bind="css:{active:$parent.PageIndex()==$data}"><a data-bind="html:$data ,click:$parents[1].gotoPage" ></a></li>
                               <!-- /ko -->
                               <li data-bind="css:{disabled:PageIndex()>=TotalPages()}"><a data-bind="click:$parent.gotoNextPage">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                 </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<script id="UserItem" type="text/html">
<!-- ko if: IsEdit() === false -->
<tr data-bind="css:{normalrow:(($index()%2)==0),alternativerow:($index()%2!=0)}">
        <td style="text-align:center" class="col-md-1" >
            <button class="btn btn-sm" data-bind="visible:AllowEdit, click:$parent.startEditUser" title="@MemeMVC.Resource.User.Admin.Tooltip_Edit"><i class="glyphicon glyphicon-pencil" ></i></button>
            <button class="btn btn-sm" data-bind="visible:AllowRemove, click:$parent.removeUser" title="@MemeMVC.Resource.User.Admin.Tooltip_Remove"><i class="glyphicon glyphicon-trash" ></i></button>
        </td>
        <td class="col-md-1" style="text-align:center" >
            <span data-bind="html:(($parent.Paging().PageIndex()-1)*$parent.Paging().PageSize() + $index()+1)"></span>
        </td>
        <td class="col-md-2">
            <span data-bind="html:FirstName" ></span>
        </td>
        <td class="col-md-2">
            <span data-bind="html:LastName" ></span>
        </td>
        <td class="col-md-2">
            <span data-bind="html:UserName" ></span>
        </td>
        <td class="col-md-2">
            <span data-bind="html:Salt" ></span>
        </td>
        <td class="col-md-2">
            <span data-bind="html:NewSalt" ></span>
        </td>
        <td class="col-md-2">
            <span data-bind="html:Password" ></span>
        </td>
        <td class="col-md-2">
            <span data-bind="html:NewPassword" ></span>
        </td>
        <td class="col-md-2">
            <span data-bind="html:Email" ></span>
        </td>
       <td class="col-md-1">
            <span data-bind="html:DateOfBirthF"></span>
        </td>
        <td class="col-md-2">
            <span data-bind="html:ZipCode" ></span>
        </td>
        <td class="col-md-2">
            <span data-bind="html:Address" ></span>
        </td>
        <td class="col-md-2">
            <span data-bind="html:Description" ></span>
        </td>
        <td class="col-md-2">
            <span data-bind="html:Lock" ></span>
        </td>
        <td class="col-md-2">
            <span data-bind="html:ActionKey" ></span>
        </td>
        <td class="col-md-2">
            <span data-bind="html:ProfilePicture" ></span>
        </td>
        <td class="col-md-2">
            <span data-bind="html:GalleryURL" ></span>
        </td>
        <td class="col-md-2">
            <span data-bind="html:Rating" ></span>
        </td>
       <td class="col-md-1">
            <span data-bind="html:LastLoginDateF"></span>
        </td>
        <td class="col-md-2">
             <span  data-bind="html:FacebookName" ></span>
        </td>
        <td class="col-md-2">
            <span data-bind="html:FacebookEmail" ></span>
        </td>
        <td class="col-md-2">
            <span data-bind="html:FacebookAccessToken" ></span>
        </td>
        <td class="col-md-2">
             <span  data-bind="html:TwitterName" ></span>
        </td>
        <td class="col-md-2">
            <span data-bind="html:TwitterAccessToken" ></span>
        </td>
        <td class="col-md-2">
             <span  data-bind="html:LinkedInName" ></span>
        </td>
        <td class="col-md-2">
            <span data-bind="html:LinkedInAccessToken" ></span>
        </td>
</tr>
<!-- /ko -->
<!-- ko if: IsEdit() === true -->
<tr  data-bind="css:{normalrow:(($index()%2)==0),alternativerow:($index()%2!=0)}">
        <td class="col-md-1" style="text-align:center" >
            <button class="btn btn-sm" data-bind="click:$parent.finishEditUser" title="@MemeMVC.Resource.User.Admin.Tooltip_Save" ><i class="glyphicon glyphicon-ok" ></i></button>
            <button class="btn btn-sm" data-bind="click:$parent.cancelEditUser" title="@MemeMVC.Resource.User.Admin.Tooltip_Cancel"><i class="glyphicon glyphicon-remove"></i></button>
        </td>
        <td class="col-md-1" style="text-align:center">
            <span data-bind="html:(($parent.Paging().PageIndex()-1)*$parent.Paging().PageSize() + $index()+1)"></span>
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:FirstName"  class="form-control col-md-12" />
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:LastName"  class="form-control col-md-12" />
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:UserName"  class="form-control col-md-12" />
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:Salt"  class="form-control col-md-12" />
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:NewSalt"  class="form-control col-md-12" />
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:Password"  class="form-control col-md-12" />
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:NewPassword"  class="form-control col-md-12" />
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:Email"  class="form-control col-md-12" />
        </td>
       <td class="col-md-1">
            <input type = "text" data-bind = "datepicker: DateOfBirth, datepickerOptions: { dateFormat: 'dd/mm/yy' }"  class="form-control col-md-12"  />
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:ZipCode"  class="form-control col-md-12" />
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:Address"  class="form-control col-md-12" />
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:Description"  class="form-control col-md-12" />
        </td>
        <td class="col-md-2">
            <input  type="text" data-bind = "value:Lock,currencyMaskOptions:{symbol: '',roundToDecimalPlace:0}" class="form-control col-md-12" />
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:ActionKey"  class="form-control col-md-12" />
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:ProfilePicture"  class="form-control col-md-12" />
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:GalleryURL"  class="form-control col-md-12" />
        </td>
        <td class="col-md-2">
            <input  type="text" data-bind = "value:Rating,currencyMaskOptions:{symbol: '',roundToDecimalPlace:0}" class="form-control col-md-12" />
        </td>
       <td class="col-md-1">
            <input type = "text" data-bind = "datepicker: LastLoginDate, datepickerOptions: { dateFormat: 'dd/mm/yy' }"  class="form-control col-md-12"  />
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:FacebookID"  class="form-control col-md-12" />
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:FacebookEmail"  class="form-control col-md-12" />
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:FacebookAccessToken"  class="form-control col-md-12" />
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:TwitterID"  class="form-control col-md-12" />
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:TwitterAccessToken"  class="form-control col-md-12" />
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:LinkedInID"  class="form-control col-md-12" />
        </td>
        <td class="col-md-2">
            <input type = "text" data-bind = "value:LinkedInAccessToken"  class="form-control col-md-12" />
        </td>
</tr>
<!-- /ko -->
</script>
