﻿@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";    
}
<div class="row" id="loginpanel">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="txt-color-red login-header-big">MemeMap</h1>
        <div>
            <div class="pull-left">
                <img src="~/Images/product.png" alt="">
            </div>
            <div class="pull-left login-desc-box-l">
                <h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of MemeMap, everywhere you go!</h4>
                <div class="login-app-icons">
                    <a href="javascript:void(0);" class="btn btn-warning btn-sm">Product Tour</a>
                    <a href="javascript:void(0);" class="btn btn-warning btn-sm">Find out more</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
                <p>
                    It's supposed to be some text here but right now i dont know what to put so i just put this text here
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h5 class="about-heading">Not just your average mindmap!</h5>
                <p>
                    t's supposed to be some text here but right now i dont know what to put so i just put this text here
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well">
            <div class="signin_inner">
                <div class="form">
                    <div style="margin-bottom: 20px;">
                        <header>
                            <span class="blue">Comfirm Password</span>
                        </header>
                    </div>
                    <div class="row" style="padding-left: 30px">
                        @ViewBag.Message
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
