﻿@model MemeMVC.Model.DTO.UserFeedbackDTO

<div class="modal-dialog">
    <div class="modal-content" style="margin-left: -100px; width: 150%; overflow:hidden;">
        
        <div style="float:right; padding-right:10px; padding-top:10px" class="toolbaraction" data-dismiss="modal">

            <a class="toolbaractionbtn" href="#"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
        <h1 style="float:left; font-family: Abel; font-size: 20px !important; padding-left:17px; padding-top:10px;">Send Us Your Feedback</h1>
        <div class="modal-body" >
            <div class="tab-content" style="padding-top: 16px;">
                
                <div class="tab-pane active" id="tabsearch">
                    

                    <div class="wpcf7" id="wpcf7-f61-p12-o1">
                        @using (Ajax.BeginForm("ReceiveFeedback", "User", new AjaxOptions { HttpMethod = "POST" }, new { id = "feedback-form" }))
                        {

                            //}

                            //@*@using (Html.BeginForm("ReceiveFeedback", "User", FormMethod.Post, new { id = "feedback-form" }))
                            //{*@

                            <div style="display: none;">

                                <input type="hidden" name="UserName" value="@Model.UserName" />
                            </div>
                            <div class="form-row">

                                <label for="your-name">FULL NAME</label><br>
                                <span class="wpcf7-form-control-wrap your-name">

                                    @Html.TextBoxFor(m => Model.FullName, new { @class = "form-control" })
                                </span>
                            </div>
                            <div class="form-row">
                                <label for="your-email">EMAIL</label><br>
                                <span class="wpcf7-form-control-wrap your-email">
                                    @Html.TextBoxFor(m => Model.Email, new { @class = "form-control" })
                                </span>
                            </div>
                            <div class="form-row">
                                <label for="your-subject">SUBJECT</label><br>
                                <span class="wpcf7-form-control-wrap your-subject">
                                    @Html.TextBoxFor(m => Model.Subject, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => Model.Subject)
                                </span>
                            </div>
                            <div class="form-row">
                                <label for="your-message">MESSAGE</label><br>
                                <span class="wpcf7-form-control-wrap your-message">
                                    @Html.TextAreaFor(m => Model.Subject, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => Model.Content)
                                </span>
                            </div>

                            <div class="modal-footer" style="margin-top:36px">
                                <div class="pull-right" style="padding-top:10px">
                                    
                                    <input type="submit" class="btn btn-primary send-feedback" value="Submit" />
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

