﻿@model MemeMVC.Model.DTO.ForgotPasswordDTO
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";    
}
<div class="row" id="loginpanel">
	<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
		<h1 class="txt-color-red login-header-big">MemeMap</h1>
		<div >
            <div class="pull-left">
                <img src="~/Images/product.png" alt="">
            </div>
			<div class="pull-left login-desc-box-l">
				<h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of MemeMap, everywhere you go!</h4>
				<div class="login-app-icons">
					<a href="javascript:void(0);" class="btn btn-warning btn-sm">Product Tour</a>
					<a href="javascript:void(0);" class="btn btn-warning btn-sm">Find out more</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
				<p>
					It's supposed to be some text here but right now i dont know what to put so i just put this text here
				</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<h5 class="about-heading">Not just your average mindmap!</h5>
				<p>
					t's supposed to be some text here but right now i dont know what to put so i just put this text here
				</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
		<div class="well">
                    <div class="signin_inner">
                        @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { id = "formForgotPassword", @class = "form login-form" }))
                        {
                             <header>
                                 <span class="blue">
					                @MemeMVC.Resource.User.FogotPassword.Label_Title</span>
				            </header>
                            <fieldset>
					           <section> 
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="fieldtitle" for="txtEmail">
                                                @MemeMVC.Resource.User.FogotPassword.Label_Email</label>
                                        </div>
                                        <div class="col-md-12">@Html.TextBoxFor(m => m.Email, new {id="txtEmail", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Email)</div>
                                    </div>
                                    <div class="row">
                                        <div style="margin-left: 2px" class="col-md-12">
                                            @Html.ValidationSummary(true)
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px" >
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary">@MemeMVC.Resource.User.FogotPassword.Button_Submit</button>
                                            <a href="@Url.Action("Login", "User")" class="btn btn-warning" role="button">@MemeMVC.Resource.User.FogotPassword.Button_Cancel </a>
                                        </div>
                                    </div>
                                </section>
                            </fieldset>
                        }
                    </div>
          </div>
	</div>
</div>
