﻿@model MemeMVC.Model.DTO.LoginDTO
@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";    
}
<script src="~/Content/addon/jquery/jquery.cookie.js" type="text/javascript"></script>
@*<meta name="google-signin-clientid" content="939878423809-lh9tt2e3echcbd03ed0ituoq5n4sd6ko.apps.googleusercontent.com" />
    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email" />
    <meta name="google-signin-requestvisibleactions" content="http://schema.org/AddAction" />
    <meta name="google-signin-cookiepolicy" content="single_host_origin" />
    <meta name="google-signin-callback" content="signinCallback" />*@
<script src="https://apis.google.com/js/client:platform.js"></script>
<div class="row" id="loginpanel">
	
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3" >
		<div >
			@using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "form login-form" }))
            {
				<fieldset>
					<section style="margin-left:-20px; padding-top:0px; padding-bottom:10px;">
                        <div  class="col-md-12 form-group">
                            @Html.CheckBoxFor(m => m.IsLoginEmail, new { id = "checkboxEmail" })
                            @Html.Label("checkboxEmail", "Using Email")
                        </div>
                        <div id="loginEmail" style="display: none" class="row form-group">
                            <div class="col-md-3" style="padding-top: 10px">
                               <label>Email</label>
                            </div>
                            <div  class="col-md-9">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @style = "display: block;" })
                            </div>            
                        </div>
                        <div id="loginVolvo" class="row form-group">
                             <div class="col-md-3" style="padding-top: 10px">
                              <label>Username</label>
                            </div>
                            <div  class="col-md-9">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @style = "display: block;" })
                            </div>
                        </div>    
        
                        <div class="row">
                            <div class="col-md-3" style="padding-top: 10px">  
                                <label> @Base.Resource.Login.Login.Password</label>            
           
                            </div>
                             <div  class="col-md-9">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password)
                             </div>          
                        </div>
      
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-1">  </div>
                            <div class="col-md-10" >  
                                <a  href="@Url.Action("ForgotPassword", "User")">Forgot Password?</a> 
                            </div>
                        </div>
                        <div class="row">
                              <div class="col-md-1">  </div>
                        <div class="col-md-10">
                            <button type="submit" class="btn btn-default" style="min-width:158px">
                                @Base.Resource.Login.Login.Login_</button>
                            @Html.HiddenFor(m => m.ReturnURL)
                            <div style="margin-left: 20px; float: left;">
                                <div class="checkbox inline" style="width: 150px; display:none;">
                                    @Html.CheckBoxFor(m => m.RememberMe, new { id = "inlineCheckbox1" })
                                    @Html.Label("inlineCheckbox1", @Base.Resource.Login.Login.RememberMe)                    
                                </div>
                            </div>
                        </div>
                            </div>
                    </section>
				</fieldset>
                <table width="100%">
                    <tr>
                        <td colspan="2" style="height: 24px">
                            @Html.ValidationSummary(true)
                        </td>
                    </tr>
                </table>
                if (Model.IsLoginEmail)
                { 
                    <script type="text/javascript">
                        $("#loginEmail").show();
                        $("#loginVolvo").hide();
                    </script>
                }
                
            }
            <div class="row">
                        <div  class="col-md-12 form-group" >
                             <button id="btnFacebookLogin" class="btn btn-small btn-default" style="font-size:11px; margin-right:10px;">
                                    Login with Facebook</button>
                            <button id="btnGoogleLogin" class="btn btn-small  btn-default"style="font-size:11px;">
                                    Login with Google</button>
                        </div>
                </div>
		</div>

						
	</div>
</div>

<script type="text/javascript">
    $(function () {
        //        $("#loginEmail").hide();
        $("#checkboxEmail").change(function () {
            if ($('#checkboxEmail:checked').val() == undefined) {
                $("#loginEmail").hide();
                $("#loginVolvo").show();
            }
            if ($('#checkboxEmail:checked').val() == 'true') {
                $("#loginEmail").show();
                $("#loginVolvo").hide();
            }
        });
    });
</script>
<script src="~/Scripts/Facebook/ChangeFacebook.js" type="text/javascript"></script>
<script src="~/Scripts/Facebook/GooglePlus.js" type="text/javascript"></script>
 <script type="text/javascript">
     $(function () {
         InitialiseFacebook("@System.Configuration.ConfigurationManager.AppSettings["FacebookAppId"]", "@Url.Action("FacebookRegister", "User")", "@Url.Action("Login", "User")");
         InitGoogleLogin("@System.Configuration.ConfigurationManager.AppSettings["GoogleClientID"]", "@Url.Action("GoogleRegister", "User")", "@Url.Action("Login", "User")");
     });
 </script>
