﻿@model MemeMVC.Model.DTO.LoginDTO
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";    
}
<div class="row" id="loginpanel">
	<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
		<h1 class="txt-color-red login-header-big">MemeMap</h1>
		<div >
            <div class="pull-left">
                <img src="~/Images/product.png" alt="">
            </div>
			<div class="pull-left login-desc-box-l">
				<h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of MemeMap, everywhere you go!</h4>
				<div class="login-app-icons">
					<a href="javascript:void(0);" class="btn btn-warning btn-sm">Product Tour</a>
					<a href="javascript:void(0);" class="btn btn-warning btn-sm">Find out more</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
				<p>
					It's supposed to be some text here but right now i dont know what to put so i just put this text here
				</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<h5 class="about-heading">Not just your average mindmap!</h5>
				<p>
					t's supposed to be some text here but right now i dont know what to put so i just put this text here
				</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
		<div class="well">
                    <div class="signin_inner">
                              @{
                                  string Title = string.Empty;
                                  if (Base.SessionUtils.CurrentUser != null)
                                  {
                                      Title = "LogOff";
                                  }
                                  else
                                  {
                                      Title = "Login";
                                  }
                                  HttpCookie myCookie1 = new HttpCookie("loginEmailCookie");
                                  myCookie1 = Request.Cookies["loginEmailCookie"];
    
                                  if (Base.SessionUtils.CurrentUser != null)
                                  {
                                      using (Html.BeginForm("LogOff", "User", FormMethod.Post, new { @class = "form login-form", id = "formlogoff" }))
                                      {                        
                                          <div style="margin-bottom:20px;"><legend><span class="blue">Log Off</span></legend></div>                                                
                                          if (myCookie1 == null)
                                          {
                                              <div class="row form-group">
                                                  <div class="col-md-3">
                                                      <label>Email</label>
                                                  </div>
                                                  <div class="col-md-9">
                                                      <input class="form-control" type="text" readonly value = '@(Base.SessionUtils.CurrentUser.Email)'/>
                                                  </div>
                                              </div>
                                          }
                                          else 
                                          { 
                                              <div class="row form-group">
                                                  <div class="col-md-3" style="padding-top: 10px">
                                                      <label>Username</label>
                                                  </div>
                                                  <div class="col-md-9">
                                                      <input class="form-control" type="text" readonly value = '@myCookie1["UserName"]'/>
                                                  </div>
                                              </div>
                                          }
                                          <div class="footer">
                                              <button id="btnLogOff" class="btn">
                                                  LogOff</button>
                                          </div>
                                      }
                                  }
                                  else
                                  {
                                      using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "form login-form" }))
                                      {
                                          <div style="margin-bottom:20px;">
                                              <header><span class="blue">Log Off</span></header>
                                          </div>
                                          <fieldset>
					                            <section>
                                          if (myCookie1 == null)
                                          {
                                              <div class="row form-group">
                                                  <div class="col-md-3">
                                                      <label>@Base.Resource.Login.Login.Emai</label>
                                                  </div>
                                                  <div class="col-md-9">
                                                      @Html.TextBoxFor(m => m.Email, new { @readonly = "readonly", Value = ViewBag.Email })
                                                  </div>
                                              </div>
                    
                                              <div class="row form-group">
                                                  <div class="col-md-3">
                                                      <label>@Base.Resource.Login.Login.Password</label>
                                                  </div>
                                                  <div class="col-md-9">
                                                      @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                  </div>
                                              </div>
                                          }
                                          else
                                          {
                                              <div class="row form-group">
                                                  <div class="col-md-3">
                                                      <label>Username</label>
                                                  </div>
                                                  <div class="col-md-9">
                                                      @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @readonly = "readonly", Value = ViewBag.UserName })
                                                  </div>
                                              </div>
        
                                              <div class="row form-group">
                                                  <div class="col-md-3">
                                                      <label>@Base.Resource.Login.Login.Password</label>
                                                  </div>
                                                  <div class="col-md-9">
                                                      @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                  </div>
                                              </div>
        
                                          }
                                          @Html.ValidationMessageFor(m => m.Password)
                                          <br />
                                          <div class="footer">
                                              <button type="submit" class="btn">
                                                  Relogin</button>
                                              <a href="@Url.Action("TotalLogOff", "User")">
                                                          LogOff</a>
                                              @Html.HiddenFor(m => m.ReturnURL)                            
                                          </div>
                                               
					                            </section>
                                               </fieldset>
                                      }
                                  }
                              }
                    </div>
          </div>
	</div>
</div>



