@{
    Layout = "~/Views/Shared/_MainLayout_Unmap.cshtml";    
}
<link id="base-style" href="~/Content/memeplugin/tip_cards.css" rel="stylesheet">
<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- MAIN CONTENT -->
    <div id="content">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                 <div class="row" data-bind="visible:Processing().GetProcessing('User')()">
                                <div class="col-md-6 col-md-offset-6" style="position: absolute">
                                    <img src="~/Images/kloading.gif" alt="Loading ..." />
                                </div>
                            </div>
                 <div class="row">
                        <div class="col-sm-12">
                            <div >
                                
                                <div class="row">

                                    <div class="col-sm-12 col-md-12 col-lg-6">
                                        <div class="well well-light well-sm">

                                            <div class="row" data-bind="with: $root.UserVM">

                                                <div class="col-sm-12" data-bind="with:User">
                                                    
                                                    <div class="row">
                                                        <div class="pull-right" style="padding-right: 20px; padding-top: 10px;">
                                                             <!-- ko if: IsEdit() === false -->
                                                            <button class="btn btn-primary" data-bind="visible:AllowEdit, click:$parent.startEditUser"><span class="glyphicon glyphicon-pencil"></span>@MemeMVC.Resource.User.Admin.Button_Detail_Edit</button>
                                                            <!-- /ko -->
                                                            <!-- ko if: IsEdit() === true -->
                                                            <button class="btn btn-primary" data-bind="click:$parent.finishEditUser"><span class="glyphicon glyphicon-ok"></span>@MemeMVC.Resource.User.Admin.Button_Detail_Save</button>
                                                            <button class="btn btn-primary" data-bind="click:$parent.cancelEditUser"><span class="glyphicon glyphicon-remove"></span>@MemeMVC.Resource.User.Admin.Button_Detail_Cancel</button>
                                                            <!-- /ko -->
                                                            @*<a href="javascript:void(0);" class="btn txt-color-white bg-color-teal btn-sm"><span class="fa fa-check"></span>Follow</a>&nbsp; <a href="javascript:void(0);" class="btn txt-color-white bg-color-pinkDark btn-sm"><span class="fa fa-link"></span>Connect</a>*@
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-sm-3 profile-pic" style="padding-right:30px;">
                                                            
                                                            
                                                            <div class="row">
                                                                <div class="padding-10">
                                                                    <h4 class="font-md"><strong><span data-bind="html: NumOfProject">1,543</span></strong>
                                                                        <br>
                                                                        <small>Projects</small></h4>
                                                                    <br>
                                                                    <h4 class="font-md"><strong><span data-bind="html: NumOfMap">1,543</span></strong>
                                                                        <br>
                                                                        <small>Maps</small></h4>
                                                                </div>
                                                            </div>
                                                           
                                                        </div>
                                                        
                                                        <div class="col-sm-6">
                                                            <div class="row">
                                                                 <h1 class="page-title txt-color-blueDark"><span class="glyphicon glyphicon-user" style="margin-top: -4px; margin-right: 5px;"></span><span>&nbsp;Profile</span></h1>
                                                            </div>
                                                           
                                                            <div class="row">
                                                                <img style="margin-left:10px;" id="imgProfilePicture" data-bind="attr: { src: ProfilePicture, alt: UserName }" />
                                                            </div>
                                                            <div class="row" style="text-align:left; " >
                                                                
                                                                 <input style="float:left;" class="form-control" name="files" id="btnUploadView" type="file" accept=".jpg,.jpeg,.jfif,.png,.bmp,.gif,.tif,.ico" />
                                                               
                                                            </div>
                                                            <!-- ko if: IsEdit() == false -->

                                                            <div class="row" style="margin-top:10px;margin-left:10px;">
                                                            <h1 style="font-size: 40px;"><span data-bind="html:FirstName"> John </span><span class="semi-bold" data-bind="html:LastName">Doe</span>
                                                                
                                                            </h1>

                                                            <ul class="list-unstyled" style="margin-left:10px;">
                                                                <li>
                                                                    <div class="row" style="margin-top:10px;">
                                                                        <span style="float:left; margin-right:10px;" class="fa fa-phone"></span>
                                                                        
                                                                        <span class="formtitle">CONTACT NO</span>
                                                                    </div>
                                                                    <div class="row">
                                                                        <span data-bind="html:Phone">+841874636</span>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="row" style="margin-top:10px;">
                                                                        <span style="float:left; margin-right:10px;" class="fa fa-envelope"></span>
                                                                        <span class="formtitle">EMAIL</span>
                                                                        </div>
                                                                    <div class="row">
                                                                        <span data-bind="html:Email">bill@biziwave.net</span>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="row" style="margin-top:10px;">
                                                                        <span style="float:left; margin-right:10px;" class="glyphicon glyphicon-globe"></span>
                                                                        
                                                                        <span class="formtitle">ADDRESS</span>
                                                                        </div><div>
                                                                            <span data-bind="html:Address">95/48 Dinh Tien Hoang</span>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="row" style="margin-top:10px;">
                                                                        
                                                                        <span class="formtitle">CITY</span>
                                                                    </div>
                                                                    <div class="row">
                                                                            <span data-bind="html:City">Ho Chi Minh</span>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="row" style="margin-top:10px;">
                                                                        
                                                                        <span class="formtitle">COUNTRY</span>
                                                                        </div>
                                                                    <div class="row">
                                                                            <span data-bind="html:Country">Vietnam</span>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="row" style="margin-top:10px;">
                                                                        <span style="float:left; margin-right:10px;" class="fa fa-calendar"></span>
                                                                        <span class="formtitle">BIRTHDAY</span>
                                                                        </div>
                                                                   <div class="row">
                                                                            <span data-bind="html:DateOfBirthF">27th Sep 1985</span>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <br>
                                                            <div class="font-md row"  style="margin-top:10px;margin-left:0px;">
                                                                
                                                                        <span class="formtitle">DESCRIPTION</span>
                                                                       </div>
                                                            
                                                            <div data-bind="html:Description"  class="row" style="margin-left:0px;">
                                                                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
																cumque nihil impedit quo minus id quod maxime placeat facere
				
                                                            </div>
                                                            </div>
                                                            <!-- /ko -->
                                                        
                                                      
                                                            <!-- ko if: IsEdit() == true -->
                                                            
                                                            
                                                            <div class="row">
                                                                <div class="row" style="margin-top:10px;margin-left:-5px;">
                                                                          
                                                                <span class="formtitle">NAME</span>
                                                                </div>
                                                                <div class="row" style="margin-left:-5px;">
                                                                <input type="text" data-bind="value:FirstName" placeholder="First Name" style="margin-right:10px;" />
                                                                <input type="text" class="semi-bold" data-bind="value:LastName" placehoder="Last Name"/>
                                                                   
                                                                </div>

                                                                <ul class="list-unstyled" style="margin-left:10px;">
                                                                    <li>
                                                                        <div class="row" style="margin-top:10px;">
                                                                            <span style="float:left; margin-right:10px;" class="fa fa-phone"></span>
                                                                        <span class="formtitle">CONTACT NO</span>
                                                                        </div>
                                                                        <div class="row">
                                                                            <input data-bind="value:Phone" placeholder="Phone"/>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="row" style="margin-top:10px;">
                                                                            <span style="float:left; margin-right:10px;" class="fa fa-envelope"></span>
                                                                            <span class="formtitle">ADDRESS</span>
                                                                         </div>
                                                                        <div class="row">
                                                                            <span data-bind="html:Email">bill@biziwave.net</span>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="row" style="margin-top:10px;">
                                                                            <span style="float:left; margin-right:10px;" class="glyphicon glyphicon-globe"></span>
                                                                            <span class="formtitle">ADDRESS</span>
                                                                        </div>
                                                                        <div class="row">
                                                                                <input type="text" data-bind="value:Address" placeholder="Address"/>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="row" style="margin-top:10px;">
                                                                            
                                                                        <span class="formtitle">CITY</span>
                                                                        </div>
                                                                        <div class="row">
                                                                                <input type="text" data-bind="value:City" placeholder="City"/>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="row" style="margin-top:10px;">
                                                                           
                                                                        <span class="formtitle">COUNTRY</span>
                                                                        </div>
                                                                        <div class="row">
                                                                                <input type="text" data-bind="value:Country" placeholder="Country"/>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="row" style="margin-top:10px;">
                                                                            <span style="float:left; margin-right:10px;" class="fa fa-calendar"></span>
                                                                        <span class="formtitle" >BIRTHDAY</span>
                                                                        </div>
                                                                        <div class="row">
                                                                                <input data-bind="datepicker:DateOfBirth" placeholder="Your birthday"/>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                                <br>
                                                                <div class="font-md" >
                                                                    
                                                                        <span class="formtitle">DESCRIPTION</span>
                                                                        </div>
                                                                <div class="row">
                                                                </div>
                                                                <textarea data-bind="value:Description" rows="3" cols="40" placeholder="...">
                                                                    Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
																    cumque nihil impedit quo minus id quod maxime placeat facere
				
                                                                </textarea>
                                                            </div>
                                                            <!-- /ko -->
                                                        </div>
                                                        
                                                    </div>

                                                </div>

                                            </div>
                                            <!-- end row -->

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

@section popup{
}
@section scripts{
    @Html.Partial("_ProfileJScript")
}
