﻿@model MemeMVC.Model.DTO.RegisterDTO
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";    
}
<div class="row" id="loginpanel">
	<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
		<h1 class="txt-color-red login-header-big">MemeMap</h1>
		<div >
            <div class="pull-left">
                <img src="~/Images/product.png" alt="">
            </div>
			<div class="pull-left login-desc-box-l">
				<h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of MemeMap, everywhere you go!</h4>
				<div class="login-app-icons">
					<a href="javascript:void(0);" class="btn btn-warning btn-sm">Product Tour</a>
					<a href="javascript:void(0);" class="btn btn-warning btn-sm">Find out more</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
				<p>
					It's supposed to be some text here but right now i dont know what to put so i just put this text here
				</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<h5 class="about-heading">Not just your average mindmap!</h5>
				<p>
					t's supposed to be some text here but right now i dont know what to put so i just put this text here
				</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
		<div class="well">
            <div class="signin_inner">
                @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "form", id = "register-form" }))
                {
                    <div style="margin-bottom: 20px;">
                        <header><span class="blue">@MemeMVC.Resource.User.Register.RegisterToMyApp</span></header>
                    </div>
                    <fieldset>
					    <section>
                            <div class="body">
                                <!-- first name -->
                                <div class="control-group control-inline">
                                    <label for="name" class="fieldtitle">
                                        @MemeMVC.Resource.User.Register.FirstName</label>
                                    @Html.TextBoxFor(m => Model.FirstName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => Model.FirstName)
                                </div>
                                <!-- last name -->
                                <div class="control-group control-inline">
                                    <label for="surname" class="fieldtitle">
                                        @MemeMVC.Resource.User.Register.LastName</label>
                                    @Html.TextBoxFor(m => Model.LastName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => Model.LastName)
                                </div>
                                <!-- username -->
                                 <div class="control-group control-inline">
                                <label class="fieldtitle">
                                    @MemeMVC.Resource.User.Register.UserName</label>
                                    @Html.TextBoxFor(m => Model.UserName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => Model.UserName)
                                     </div>
                                <!-- email -->
                                <div class="control-group control-inline">
                                <label class="fieldtitle">
                                    @MemeMVC.Resource.User.Register.Email</label>
                                @Html.TextBoxFor(m => Model.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => Model.Email)
                                <!-- password -->
                                    </div>
                                <div class="control-group control-inline">
                                <label class="fieldtitle">
                                    @MemeMVC.Resource.User.Register.Password</label>
                                @Html.PasswordFor(m => Model.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => Model.Password)
                                </div>
                                 <div class="control-group control-inline">
                                <label class="fieldtitle">
                                    Confirm Password</label>
                                @Html.PasswordFor(m => Model.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => Model.ConfirmPassword)
                                </div>
                            </div>
                            <div class="footer">
                                <label class="checkbox inline">
                                    <input type="checkbox" id="inlineCheckbox1" />
                                    @MemeMVC.Resource.User.Register.IAgreeToSomething
                                </label>
                                <button type="submit" class="btn btn-info" id="btn_register">
                                    @MemeMVC.Resource.User.Register.Register_</button>
                            </div>
                        </section>
                    </fieldset>
                }
            </div>
            <div class="signin_sec">
                <div>@MemeMVC.Resource.User.Register.AlreadyHaveAnAccount <a href="@Url.Action("Login", "User")" class="btn btn-black">@MemeMVC.Resource.User.Register.Signin</a></div>
            </div>
		</div>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btn_register").attr("disabled", "disabled");
        $("input:checkbox:checked").prop("checked", false);
        $("#inlineCheckbox1").change(function () {
            if ($('#inlineCheckbox1:checked').val() !== undefined) {
                $("#btn_register").removeAttr("disabled");
            } else {
                $("#btn_register").attr("disabled", "disabled");
            }
        });
    });
</script>
