﻿@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@section styleContent{
}
<div class="row">
    <div class="col-md-8 col-md-offset-2" style="border: 1px solid #dddada; margin-top: 30px;
        background-color: #eeeeee; padding: 0px;">
        <div class="row">
            <div class="col-md-8" style="background-color: #ffffff;">
                <ul class="nav nav-list ">
                    <li>
                        <h1 style='color: #000000'>
                            Register Success</h1>
                    </li>
                    <hr />
                    <li class="row" style="padding-left: 30px"><span>Account has been created success. <a class="btn btn-success" href="@Url.Action("Login", "User")">
                        Click</a> to login.</span> </li>
                </ul>
                <br />
            </div>
        </div>
    </div>
</div>
