﻿@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";    
}
@*<meta name="google-signin-clientid" content="939878423809-lh9tt2e3echcbd03ed0ituoq5n4sd6ko.apps.googleusercontent.com" />
<meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email" />
<meta name="google-signin-requestvisibleactions" content="http://schema.org/AddAction" />
<meta name="google-signin-cookiepolicy" content="single_host_origin" />
<meta name="google-signin-callback" content="signinCallback" />*@
<script src="https://apis.google.com/js/client:platform.js"></script>
<script src="~/Content/addon/jquery/jquery.cookie.js" type="text/javascript"></script>

<div class="row" id="loginpanel">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="txt-color-red login-header-big">MemeMap</h1>
        <div>
            <div class="pull-left">
                <img src="~/Images/product.png" alt="">
            </div>
            <div class="pull-left login-desc-box-l">
                <h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of MemeMap, everywhere you go!</h4>
                <div class="login-app-icons">
                    <a href="javascript:void(0);" class="btn btn-warning btn-sm">Product Tour</a>
                    <a href="javascript:void(0);" class="btn btn-warning btn-sm">Find out more</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
                <p>
                    It's supposed to be some text here but right now i dont know what to put so i just put this text here
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h5 class="about-heading">Not just your average mindmap!</h5>
                <p>
                    t's supposed to be some text here but right now i dont know what to put so i just put this text here
                </p>
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well">
            <div class=" form login-form">
                <header>
                    <span class="blue">Register an account</span>
                </header>
                <fieldset>
                    <section>
                        <div class="row">
                            <div class="col-md-12" style="padding-top: 10px">
                                <button id="btnFacebookLogin" class="btn btn-large btn-primary" style="min-width: 158px">
                                    Register with Facebook</button>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="padding-top: 10px">
                                    <a class="btn btn-large btn-success" href="@Url.Action("Register", "User")"  style="min-width:158px">Register by Your Email</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="padding-top: 10px">
                                    <button id="btnGoogleLogin" class="btn btn-large btn-warning" style="min-width: 158px">Register with Google</button>
                                </div>
                            </div>
                        <div class="row">
                                <div class="col-md-12" style="padding-top: 10px">
                                    <div>@MemeMVC.Resource.User.Register.AlreadyHaveAnAccount <a href="@Url.Action("Login", "User")" class="btn btn-black">@MemeMVC.Resource.User.Register.Signin</a></div>
                                </div>
                             </div>
                    </section>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Facebook/ChangeFacebook.js" type="text/javascript"></script>
<script src="~/Scripts/Facebook/GooglePlus.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        InitialiseFacebook("@System.Configuration.ConfigurationManager.AppSettings["FacebookAppId"]", "@Url.Action("FacebookRegister", "User")", "@Url.Action("Login", "User")");
         InitGoogleLogin("@System.Configuration.ConfigurationManager.AppSettings["GoogleClientID"]", "@Url.Action("GoogleRegister", "User")", "@Url.Action("Login", "User")");
     });
</script>
