<script type="text/javascript">
var EmailTemplateViewModel = function(){
var self = this;
    self.GetUrl = {
        getEmailTemplate : "@Url.Action("Get","EmailTemplate")",
        saveEmailTemplate   : "@Url.Action("Save", "EmailTemplate")",
        removeEmailTemplate : "@Url.Action("Remove", "EmailTemplate")",
        gotoMaster       : "@Url.Action("Admin", "EmailTemplate")",
        getGUIDString : "@Url.Action("GetGUIDString","EmailTemplate")"
    };
    self.EmailTemplateID = ko.observable(null);
    self.EmailTemplate = ko.observable(null);
    self.Transition = ko.observable(null);
    self.Processing = ko.observable(null);
    self.FFInit = ko.observable(null);
    self.InitModel = function(transition,processing){
        self.Transition = transition;
        self.Processing = processing;
    };
    self.SetFFInit = function(ffinit){
        self.FFInit(ffinit);
    };
    self.SetEmailTemplateID = function(id){
        self.EmailTemplateID(id);
    }
    self.InitData =function(){
        InitEmailTemplate();
    };
            self.startEditEmailTemplate = function(emailtemplate){
                emailtemplate.OldValue(ko.toJS(emailtemplate));
                emailtemplate.IsEdit(true);
             }
             self.finishEditEmailTemplate = function(emailtemplate){
                SaveEmailTemplate(emailtemplate);
             }
             self.cancelEditEmailTemplate = function(emailtemplate){
                ResetEmailTemplate(emailtemplate);
                emailtemplate.IsEdit(false);
             }
             self.removeEmailTemplate = function(emailtemplate){
                 DeleteEmailTemplate(emailtemplate);
             };
             self.completeEmailTemplate = function(emailtemplate){
                 CompleteEmailTemplate(emailtemplate);
             };
             self.goBackToHome = function(){
                 window.location.href = self.GetUrl.gotoMaster;
             };
            function InitEmailTemplate(){
               self.Processing().SetProcessing("EmailTemplate",true);
               if(self.EmailTemplateID()>0){
                  $.post(self.GetUrl.getEmailTemplate,{id:self.EmailTemplateID()},FinishInitEmailTemplate);
               }else{
                  $.post(self.GetUrl.getGUIDString,{},FinishInitEmailTemplateGUID);
               }
            };
            function FinishInitEmailTemplate(data){
                 if(data.Result == "@Base.ViewModel.ResultType.Success"){
                    self.EmailTemplate(self.ConvertDataToEmailTemplate(data.EmailTemplate));
                 }
                 if (self.FFInit() != null) self.FFInit()();
                 self.Processing().SetProcessing("EmailTemplate",false);
            }
            function FinishInitEmailTemplateGUID(data){
                if(data.Result == "@Base.ViewModel.ResultType.Success"){
                         var newEmailTemplate = new EmailTemplate(
                                0,
                                "",
                                "",
                                ""
                            );
                        newEmailTemplate.GUID(data.GUIDString);
                        self.EmailTemplate(newEmailTemplate);
                        self.EmailTemplate().AllowEdit(true);
                        self.EmailTemplate().AllowRemove(true);
                        self.EmailTemplate().AllowSendTo(false);
                        self.EmailTemplate().AllowPrint(false);
                        self.EmailTemplate().AllowAddDetail(true);
                        self.EmailTemplate().IsEdit(true);
                  }
                self.Processing().SetProcessing("EmailTemplate",false);
            }
            function SaveEmailTemplate(emailtemplate){
                if(ValidateEmailTemplate(emailtemplate )){
                  self.Processing().SetProcessing("EmailTemplate",true);
                  $.post(self.GetUrl.saveEmailTemplate,ConvertEmailTemplateToPostObject(emailtemplate),FinishSaveEmailTemplate);
                }
             }
             function ValidateEmailTemplate(item){
                return true;
             }
             function FinishSaveEmailTemplate(data){
                 if(data.Result == "@Base.ViewModel.ResultType.Success"){
                     self.EmailTemplate().EmailTemplateID(data.EmailTemplate.EmailTemplateID);
                     self.EmailTemplateID(data.EmailTemplate.EmailTemplateID);
                     self.EmailTemplate().IsEdit(false);
                 }else{
                    bootbox.alert("@MemeMVC.Resource.EmailTemplate.Admin.Message_SaveFail");
                 }
                 self.Processing().SetProcessing("EmailTemplate",false);
             }
             function DeleteEmailTemplate(emailtemplate){
                 self.Processing().SetProcessing("EmailTemplate",true);
                 bootbox.confirm("<b>@MemeMVC.Resource.EmailTemplate.Admin.Message_ConfirmDelete</b>",
                                  function(result){
                            if(result){
                                if(emailtemplate != undefined){
                                    $.post(self.GetUrl.removeEmailTemplate,{id: self.EmailTemplate().EmailTemplateID()},
                                         function(data){
                                            self.Processing().SetProcessing("EmailTemplate",false);
                                            if(data.Result == "@Base.ViewModel.ResultType.Success"){
                                                window.location.href = self.GetUrl.gotoMaster;
                                            }else{
                                                bootbox.alert("@MemeMVC.Resource.EmailTemplate.Admin.Message_NotConnectAPI");
                                            }
                                        });
                                }
                            }
                        }
                 );
             }
            function CompleteEmailTemplate(emailtemplate){
            }
             function ConvertEmailTemplateToPostObject(emailtemplate){
                var postObject = {
                                 EmailTemplateID:emailtemplate.EmailTemplateID(),
                                 EmailTemplateName:emailtemplate.EmailTemplateName(),
                                 Subject:emailtemplate.Subject(),
                                 EmailTemplateContent:emailtemplate.EmailTemplateContent(),
                                 GUID:emailtemplate.GUID()
                                };
                return postObject;
             }
             function ResetEmailTemplate(emailtemplate){
                 emailtemplate.EmailTemplateID(emailtemplate.OldValue().EmailTemplateID);
                 emailtemplate.EmailTemplateName(emailtemplate.OldValue().EmailTemplateName);
                 emailtemplate.Subject(emailtemplate.OldValue().Subject);
                 emailtemplate.EmailTemplateContent(emailtemplate.OldValue().EmailTemplateContent);
             }
             self.ConvertDataToEmailTemplate = function(dataItem){
                    var emailtemplate = new EmailTemplate(
                                                 dataItem.EmailTemplateID,
                                                 dataItem.EmailTemplateName,
                                                 dataItem.Subject,
                                                 dataItem.EmailTemplateContent
                                                 );
                    return emailtemplate;
             }
        };
</script>
