<!-- ko if: IsEdit()===false -->
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.EmailTemplate.Admin.Label_Table_EmailTemplateName</label>
            <div class="col-md-10">
                <span data-bind="html:EmailTemplateName" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.EmailTemplate.Admin.Label_Table_Subject</label>
            <div class="col-md-10">
                <span data-bind="html:Subject" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.EmailTemplate.Admin.Label_Table_EmailTemplateContent</label>
            <div class="col-md-10">
                <span data-bind="html:EmailTemplateContent" ></span>
            </div>
        </div>
<!-- /ko -->
<!-- ko if: IsEdit()===true -->
        <div class="form-group">
            <label for="ctrlEmailTemplateName" class="col-md-2 control-label">@MemeMVC.Resource.EmailTemplate.Admin.Label_Table_EmailTemplateName</label>
            <div class="col-md-10">
                <input id="ctrlEmailTemplateName" type="text" data-bind="value:EmailTemplateName" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlSubject" class="col-md-2 control-label">@MemeMVC.Resource.EmailTemplate.Admin.Label_Table_Subject</label>
            <div class="col-md-10">
                <input id="ctrlSubject" type="text" data-bind="value:Subject" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlEmailTemplateContent" class="col-md-2 control-label">@MemeMVC.Resource.EmailTemplate.Admin.Label_Table_EmailTemplateContent</label>
            <div class="col-md-10">
                <input id="ctrlEmailTemplateContent" type="text" data-bind="value:EmailTemplateContent" class="form-control col-md-12" />
            </div>
        </div>
<!-- /ko -->
