﻿<script src="~/Content/addon/jqueryaddon/jquery.formatCurrency.js" type="text/javascript"></script>
<script src="~/Content/addon/numeral.js" type="text/javascript"></script>
<script src="~/Content/addon/summernote/summernote.js" type="text/javascript"></script>
<script type="text/javascript">
    ko.bindingHandlers.numbervalue = {
        init: function (element, valueAccessor, allBindingsAccessor) {
            //initialize with some optional options
            var options = allBindingsAccessor().currencyMaskOptions || { symbol: '', roundToDecimalPlace: 0 };
            var value = ko.utils.unwrapObservable(valueAccessor());
            $(element).val(value);
            //handle the field changing
            ko.utils.registerEventHandler(element, "change", function () {
                var observable = valueAccessor();
                var val = $(element).val();
                if (isNaN(val) && val != 0 && val != "") {
                    val = $.toNumber(val);
                }
                if (val == "") {
                    val = 0;
                }
                observable(val);
            });
            ko.utils.domNodeDisposal.addDisposeCallback(element, function () {
                $(element).formatCurrency('destroy');
            });
        },
        update: function (element, valueAccessor, allBindingsAccessor) {
            var options = allBindingsAccessor().currencyMaskOptions || { symbol: '', roundToDecimalPlace: 0 };
            var observable = valueAccessor();
            var value = ko.utils.unwrapObservable(observable());

            if (isNaN(value) && value != 0 && value != "") {
                value = $.toNumber(value);
            }
            if (value == "") {
                value = 0;
            }
            $(element).val(value);
            $(element).formatCurrency(options);
            $(element).trigger('focus');
            observable(value);
        }
    };
    ko.bindingHandlers.numberhtml = {
        update: function (element, valueAccessor, allBindingsAccessor) {
            var value = ko.utils.unwrapObservable(valueAccessor());
            var formatoption = ko.utils.unwrapObservable(allBindingsAccessor().formatoptions) || {formatstring:'0,0'};
            var formattedValue = numeral(value).format(formatoption.formatstring);
            ko.bindingHandlers.text.update(element, function () { return formattedValue; });
        }
    };
    ko.bindingHandlers.htmleditor = {
        init: function (element, valueAccessor, allBindingsAccessor, viewModel) {
            var control = $(element).wysihtml5({ "font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
                "emphasis": true, //Italics, bold, etc. Default true
                "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
                "html": true, //Button which allows you to edit the generated HTML. Default false
                "link": true, //Button to insert a link. Default true
                "image": true, //Button to insert an image. Default true,
                "color": true, //Button to change color of font  
                "events": {
                    "change": function () {
                        var observable = valueAccessor();
                        observable(control.getValue());
                    }
                }
            }).data("wysihtml5").editor;

        },
        update: function (element, valueAccessor, allBindingsAccessor, viewModel) {
            var content = valueAccessor();
            if (content != undefined) {
                var control = $(element).data("wysihtml5").editor;
                control.setValue(content());
            }
        }
    };
    ko.bindingHandlers.summernote = {
        init: function (element, valueAccessor, allBindingsAccessor) {
            var options = valueAccessor();

            var updateObservable = function (e) {
                options($(element).code());
            };

            options.onkeydown = options.onkeyup = options.onfocus = options.onblur = updateObservable;
            $(element).html(options());
            $(element).summernote(options);
        }
    };
</script>
