﻿<!DOCTYPE html>
<html lang="en">

<head>
<!-- This template is specially modified for MemeMap - a product brought to you by the folks at Biziwave.net -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MemeMap</title>
    <link rel="shortcut icon" href="~/biz.ico" /> 

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- jQuery -->
    <script src="/Content/landing/js/jquery.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Knockout")
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/Content/landing/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/landing/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/Content/landing/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/Content/landing/css/creative.css" type="text/css">
</head>
<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">MemeMap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#signup">Sign Up</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#examples">Examples</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                @RenderBody()
                <h1>Your Map of Ideas</h1>
                <hr>
                
                <p>"A picture paints a thousand words". That's why we believe that a simple map is more useful than a corpus of texts. MemeMap is not just an ordinary map. It's your collection of ideas that replicates, evolves and connects people together.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading">How MemeMap Works?</h2>
                  <hr class="light">
              </div>
              <div class="col-lg-12 text-center">
                <img src="/Content/landing/img/aboutmememap.png" class="img-responsive" alt="">
              </div>
              <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#signup" class="btn btn-default btn-xl page-scroll">Get Started!</a>
              </div>
          </div>
      </div>
    </section>

    <section class="bg-dark" id="signup">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Sign up to get started!</h2>
                    <hr class="light">
                </div>

                <div class="col-lg-8 col-lg-offset-2">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-6">
                          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-6">
                          <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-6">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox"> Remember me
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-6">
                          <button type="submit" class="btn btn-default">Sign Up</button>
                        </div>
                      </div>
                    </form>
                  </div>

            </div>
        </div>
    </section>

    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Key Features</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-group wow bounceIn text-primary"></i>
                        <h3>Collaboration</h3>
                        <p class="text-muted">Don't work alone. Brainstorm your ideas with friends and colleagues interactively.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-history wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Real-time</h3>
                        <p class="text-muted">Tired of refreshing browser? See the changes get updated instantly just like magic.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-cloud-upload wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Cloud-based</h3>
                        <p class="text-muted">Store your ideas in the cloud. Work with them anywhere while you are on the move.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-mobile-phone wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Responsive</h3>
                        <p class="text-muted">No access to laptop? View and edit your ideas easily across a wide range of devices.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="examples">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/Content/landing/img/example1.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Cosmo
                                </div>
                                <div class="project-name">
                                    Interstellar
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/Content/landing/img/example2.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Automobile
                                </div>
                                <div class="project-name">
                                    Bikes Guide
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/Content/landing/img/example3.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Project
                                </div>
                                <div class="project-name">
                                    Issue List
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/Content/landing/img/example4.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    LinkedIn
                                </div>
                                <div class="project-name">
                                    LinkedIn Contacts
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/Content/landing/img/example5.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Team
                                </div>
                                <div class="project-name">
                                    Organization Chart
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/Content/landing/img/example6.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Process
                                </div>
                                <div class="project-name">
                                    Approval Workflow
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>MemeMap is Free!</h2>
                <a href="#signup" class="btn btn-default btn-xl wow tada page-scroll">Sign Up Now!</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Your feedback is valuable. Send us a post through the MemeMap Community or drop us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                  <a href="http://www.mememap.com/community">
                    <i class="fa fa-comments-o fa-3x wow bounceIn"></i>
                    <p>MemeMap Community</p>
                  </a>
                </div>
                <div class="col-lg-4 text-center">
                  <a href="mailto:feedback@mememap.com">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>feedback@mememap.com</p>
                  </a>
                </div>
            </div>
        </div>
    </section>
     <!-- Bootstrap Core JavaScript -->
    <script src="./Content/landing/js/bootstrap.min.js"></script>

    @Scripts.Render("~/bundles/jqueryaddon")

    <!-- Plugin JavaScript -->
    <script src="/Content/landing/js/jquery.easing.min.js"></script>
    <script src="/Content/landing/js/jquery.fittext.js"></script>
    <script src="/Content/landing/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/Content/landing/js/creative.js"></script>

</body>

</html>

