﻿@if (Request.IsAuthenticated)
{    
    <li class="btn-group">
        
        <div class="" style="font-weight:bold; padding-top:4px;" >Welcome, <span class="glyphicon glyphicon-user"></span>&nbsp;@User.Identity.Name
            

    </div></li>   
    <li><a title="" href="@Url.Action("LogOff", "User")" class="btn btn-default"><span
        class="glyphicon glyphicon-arrow-right"></span><span class="text">Logout</span></a>
    </li>
    <li style="padding-top:4px">
    <a title="" href="@Url.Action("ChangePassword", "User")" ><span class="text">Change Password</span></a>
        </li>
}
else
{   
    <li class="dropdown"><a class="dropdown-toggle " data-toggle="dropdown" href="#"><i
        class="halflings-icon white user"></i>@Base.Resource.Layout.FluidLayout.Hello</a>
    </li>
    <li><a title="" href="@Url.Action("LogIn", "User")"  class="btn btn-default"><span
        class="glyphicon glyphicon-arrow-left"></span><span class="text">LogIn</span></a></li>
   
}
<script type="text/javascript">
    
</script>
