﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@(ViewBag.Title ?? "")
        Meme</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    @Styles.Render("~/bundles/bootstrapcss")
     <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
    <!--    <script src="//use.edgefonts.net/abel:n4:all.js"></script>-->
    <script src="//use.edgefonts.net/abel:n4:all;lora.js"></script>
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="~/biz.ico" /> 
    <script src="~/Content/smartadmin/jquery.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Knockout")
    <link id="base-style" href="~/Content/addon/bootstrapselect/bootstrap-select.css" rel="stylesheet">
    <link id="base-style" href="~/Content/meme/style.css" rel="stylesheet">
    <script src="//use.edgefonts.net/abel:n4:all;lora.js"></script>

    @RenderSection("styleContent", required: false)
</head>
<body id="login" class="animated fadeInDown">
		<!-- possible classes: minified, no-right-panel, fixed-ribbon, fixed-header, fixed-width-->
		<header id="header">
			<!--<span id="logo"></span>-->

			<div id="logo-group">
				<span id="logo"> <img src="~/Images/logo.png" alt="SmartAdmin"> </span>

				<!-- END AJAX-DROPDOWN -->
			</div>

			<span id="login-header-space"> <span class="hidden-mobile">Need an account?</span> <a href="@Url.Action("SignUp","User")" class="btn btn-primary">Creat account</a> </span>

		</header>

		<div id="main" role="main">

			<!-- MAIN CONTENT -->
			<div id="content" class="container">
                @RenderBody()
				
			</div>

		</div
    

    @RenderSection("popup", required: false)
    <!-- start: JavaScript-->
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryaddon")
    <!-- MAIN APP JS FILE -->
    <script src="~/Content/smartadmin/js/app.js"></script>
    <!-- SPARKLINES -->
	<script src="~/Content/smartadmin/js/plugin/sparkline/jquery.sparkline.min.js"></script>
		
	<!-- JQUERY VALIDATE -->
	<script src="~/Content/smartadmin/js/plugin/jquery-validate/jquery.validate.min.js"></script>
		
	<!-- JQUERY MASKED INPUT -->
	<script src="~/Content/smartadmin/js/plugin/masked-input/jquery.maskedinput.min.js"></script>
		
	<!-- JQUERY SELECT2 INPUT -->
	<script src="~/Content/smartadmin/js/plugin/select2/select2.min.js"></script>

	<!-- JQUERY UI + Bootstrap Slider -->
	<script src="~/Content/smartadmin/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>
		
	<!-- browser msie issue fix -->
	<script src="~/Content/smartadmin/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>
		
	<!-- FastClick: For mobile devices -->
	<script src="~/Content/smartadmin/js/plugin/fastclick/fastclick.js"></script>

    <!-- end: JavaScript-->
    @RenderSection("scripts", required: false)
</body>

</html>
