<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@(ViewBag.Title ?? "")
        WorkFlow Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    @Styles.Render("~/bundles/bootstrapcss", "~/bundles/kendocss")
    <link id="base-style" href="~/Content/theme/fonts.css" rel="stylesheet">
    <link id="base-style" href="~/Content/theme/style.css" rel="stylesheet">
    <link id="base-style" href="~/Content/theme/table.css" rel="stylesheet">
    <link id="base-style" href="~/Content/theme/jqueryuidatepicker.css" rel="stylesheet">
    <!--    <script src="//use.edgefonts.net/abel:n4:all.js"></script>-->
    <script src="//use.edgefonts.net/abel:n4:all;lora.js"></script>
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="~/Content/ico/faviconvolvo.ico" />
    
    
    @*@Scripts.Render("~/bundles/jquery")*@
    
    
    <script src="~/Content/smartadmin/jquery.min.js"></script>
    <script src="~/Content/smartadmin/jquery-ui.min.js"></script>



    <script src="~/Content/addon/knockout/knockout-2.3.0.js" type="text/javascript"></script>
    <script src="~/Content/addon/knockout.validation.js" type="text/javascript"></script>
    <script src="~/Content/addon/moment.js" type="text/javascript"></script>
    <script src="~/Content/addon/kodatepicker.js" type="text/javascript"></script>
    <script src="~/Content/addon/datetimeconvert.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script>
    <link id="base-style" href="~/Content/addon/bootstrapselect/bootstrap-select.css"
        rel="stylesheet">
    <script src="~/Content/addon/bootstrapselect/bootstrap-select.js" type="text/javascript"></script>
    <script src="~/Content/addon/hoverdropdown.js" type="text/javascript"></script>
    @RenderSection("styleContent", required: false)
</head>
<body>
    <!-- start: Header -->
    <div class="navbar">
        <div style="float: left; width: 750px;">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")"><span>
                <img src="~/Images/logo.png" style="height: 30px" alt="Logo" /></span> </a>
            <div id="volvologo">
                <img src="~/Images/volvologo.jpg" style="height: 50px" alt="Logo" />
            </div>
            <!-- start: Header Menu -->
            <div class=" header-nav">
                <ul class="main-menu">
                    <li id="lihome"><a href="@Url.Action("Index", "Home")"><span class="">HOME</span></a></li>
                    <li id="liconfig"><a href="@Url.Action("Delegate", "Profile")"><span class="">Delegates</span></a></li>
                    <li id="searchdropdown" class="dropdown"><a data-toggle="dropdown" data-hover="dropdown"
                        href="#"><span class="">Reports</span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li id="lisearch1"><a href="@Url.Action("Search", "Request")"><span class="">Part Line Level</span></a></li>
                            <li id="lisearchm"><a href="@Url.Action("SearchM", "Request")"><span class="">Header Level</span></a></li>
                        </ul>
                    </li>
                    @*@if (Base.SessionUtils.CurrentUser != null && (Base.SessionUtils.CurrentUser.IsUserSystemAdmin || Base.SessionUtils.CurrentUser.IsSystemAdmin || Base.SessionUtils.CurrentUser.IsWFAdmin))
                    {
                        <li id="admindropdown" class="dropdown">
                            <a data-toggle="dropdown" data-hover="dropdown"
                                href="#"><span class="">Admin</span></a>
                            <ul class="dropdown-menu" role="menu">

                                @if (Base.SessionUtils.CurrentUser.IsUserSystemAdmin || Base.SessionUtils.CurrentUser.IsSystemAdmin || Base.SessionUtils.CurrentUser.IsWFAdmin)
                                {
                                    <li id="liworkflowsetting"><a href="@Url.Action("Index", "WFSetting")"><span class="">WorkFlows</span></a> </li>
                                }
                                @if (Base.SessionUtils.CurrentUser.IsUserSystemAdmin || Base.SessionUtils.CurrentUser.IsSystemAdmin)
                                {
                                    <li id="limanagement"><a href="@Url.Action("Management", "User")"><span class="">Users</span></a></li>
                                    <li id="licurrencymanagement"><a href="@Url.Action("Admin", "Currency")"><span class="">Currencies</span></a></li>
                                    <li id="liordermanagement"><a href="@Url.Action("Admin", "Order")"><span class="">Order
                                        Surcharges</span></a></li>
                                    <li id="lidealerrmanagement"><a href="@Url.Action("Admin", "Dealer")"><span class="">Dealers</span></a></li>
                                    <li id="libranchmanagement"><a href="@Url.Action("Admin", "Branch")"><span class="">Branches</span></a></li>
                                    <li id="lipartmaster"><a href="@Url.Action("Admin", "RequestPartMaster")"><span class="">Part Master</span></a></li>
                                    <li id="lipartimportmanagement"><a href="@Url.Action("Admin", "PartMasterImport")"><span
                                        class="">Part Import</span></a></li>
                                }
                            </ul>
                        </li>
                    }*@

                </ul>
            </div>
            <!-- end: Header Menu -->
        </div>
        <ul class="pull-right" id="toprightnav">
            <!-- start: User Dropdown -->
            @Html.Partial("_LoginPartial")
            <!-- end: User Dropdown -->
        </ul>
    </div>
    <!-- end: Header -->
    <div class="row">
        <!-- end: Main Menu -->
        <!-- start: Content -->
        <div id="content" class="col-md-12" style="padding-bottom: 40px;">
            @Html.Partial("_SystemAnnoucePartial")
            @RenderBody()
        </div>
        <!-- end: Content -->
    </div>
    <div style="width: 100%; position: fixed; bottom: 0px; left: 0px; height: 20px; background-color: #ffffff;">
        <span style="text-align: left; float: left; padding-left: 5px;">&copy; Designed and
            powered by Volvo 2013</span>
    </div>
    @RenderSection("popup", required: false)
    <!-- start: JavaScript-->
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/kendo")*@
    <!-- end: JavaScript-->
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
    </script>
</body>
</html>
