<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>@(ViewBag.Title ?? "")
        Meme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    @Styles.Render("~/bundles/bootstrapcss", "~/bundles/kendocss")
    <link id="base-style" href="~/Content/theme/jqueryuidatepicker.css" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
    <!--    <script src="//use.edgefonts.net/abel:n4:all.js"></script>-->
    <script src="//use.edgefonts.net/abel:n4:all;lora.js"></script>
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="~/biz.ico" /> 
    <script src="~/Content/smartadmin/jquery.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Knockout")
    <link id="base-style" href="~/Content/addon/bootstrapselect/bootstrap-select.css" rel="stylesheet">
    <link id="base-style" href="~/Content/addon/toolbar/jquery.toolbars.css" rel="stylesheet">
    <link id="base-style" href="~/Content/addon/tab/tabs-form.css" rel="stylesheet">
    <link href="~/Content/addon/popline/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="~/Content/addon/popline/css/normalize.css" />-->
    <link rel="stylesheet" type="text/css" href="~/Content/addon/popline/themes/default.css" />

    <link id="base-style" href="~/Content/meme/viewstyle.css" rel="stylesheet">
    <script src="//use.edgefonts.net/abel:n4:all;lora.js"></script>
    @RenderSection("styleContent", required: false)
</head>


<body>
    <!-- possible classes: minified, fixed-ribbon, fixed-header, fixed-width-->

    <!-- HEADER -->
    <header id="header">
        <div id="logo-group">

            <!-- PLACE YOUR LOGO HERE -->
            <span id="logo">
                <img src="~/Images/logo.png" alt="SmartAdmin">
            </span>
            
        </div>

        

        
    </header>
    <!-- END HEADER -->

    
    @RenderBody()

    @RenderSection("popup", required: false)
    <!-- start: JavaScript-->
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryaddon")
    <script src="~/Content/addon/moment.js" type="text/javascript"></script>
    <script src="~/Content/addon/datetimeconvert.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="~/Content/addon/bootstrapselect/bootstrap-select.js" type="text/javascript"></script>
    <script src="~/Content/addon/hoverdropdown.js" type="text/javascript"></script>
    <script src="~/Content/addon/tab/tabs-addon.js" type="text/javascript"></script>
    <script src="~/Content/addon/toolbar/jquery.toolbar.js" type="text/javascript"></script>
    <!-- MAIN APP JS FILE -->
    <script src="~/Content/smartadmin/js/app.js"></script>


    <script type="text/javascript" src="~/Content/map/lib/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="~/Content/map/lib/hammer.min.js"></script>
    <script type="text/javascript" src="~/Content/map/lib/underscore-min.js"></script>
    <script type="text/javascript" src="~/Content/addon/kinetic/kinetic-v5.1.0.js"></script>
    <script type="text/javascript" src="~/Content/map/lib/preloadjs-0.6.0.min.js"></script>
    <script type="text/javascript" src="~/Content/map/lib/color-0.4.1.min.js"></script>
    <script type="text/javascript" src="~/Content/map/src/map-menu.js"></script>
    <script type="text/javascript" src="~/Content/map/src/map-editdialog.js"></script>
    <script type="text/javascript" src="~/Content/map/src/kinetic.ideamedia.js"></script>
    <script type="text/javascript" src="~/Content/map/src/kinetic.ideanote.js"></script>
    <script type="text/javascript" src="~/Content/map/src/kinetic.ideavideo.js"></script>
    <script type="text/javascript" src="~/Content/map/src/kinetic.icon.js"></script>
    <script type="text/javascript" src="~/Content/map/src/kinetic.idea.common.js"></script>
    <script type="text/javascript" src="~/Content/map/src/kinetic.ideadimension.js"></script>
    <script type="text/javascript" src="~/Content/map/src/kinetic.idea.js"></script>
     <script type="text/javascript" src="~/Content/map/src/kinetic.link.js"></script>
    <script type="text/javascript" src="~/Content/map/src/kinetic.connector.js"></script>
    <script type="text/javascript" src="~/Content/map/src/observable.js"></script>
    <script type="text/javascript" src="~/Content/map/src/mapjs.js"></script>
    <script type="text/javascript" src="~/Content/map/src/url-helper.js"></script>
    <script type="text/javascript" src="~/Content/map/src/content.js"></script>
    <script type="text/javascript" src="~/Content/map/src/viewdbcontent.js"></script>
    <script type="text/javascript" src="~/Content/map/src/layout.js"></script>
    <script type="text/javascript" src="~/Content/map/src/clipboard.js"></script>
    <script type="text/javascript" src="~/Content/map/src/map-model.js"></script>
    <script type="text/javascript" src="~/Content/map/src/drag-and-drop.js"></script>
    <script type="text/javascript" src="~/Content/map/src/kinetic-mediator.js"></script>
    <script type="text/javascript" src="~/Content/map/src/map-toolbar-widget.js"></script>
    <script type="text/javascript" src="~/Content/map/src/png-exporter.js"></script>
    <script type="text/javascript" src="~/Content/map/src/map-widget.js"></script>
    <script type="text/javascript" src="~/Content/map/src/link-edit-widget.js"></script>
    <script type="text/javascript" src="~/Content/map/src/image-drop-widget.js"></script>


      <script type="text/javascript" src="~/Content/addon/popline/scripts/jquery.popline.js"></script>
      <script type="text/javascript" src="~/Content/addon/popline/scripts/plugins/jquery.popline.link.js"></script>
      <script type="text/javascript" src="~/Content/addon/popline/scripts/plugins/jquery.popline.blockquote.js"></script>
      <script type="text/javascript" src="~/Content/addon/popline/scripts/plugins/jquery.popline.decoration.js"></script>
      <script type="text/javascript" src="~/Content/addon/popline/scripts/plugins/jquery.popline.list.js"></script>
      <script type="text/javascript" src="~/Content/addon/popline/scripts/plugins/jquery.popline.justify.js"></script>
      <script type="text/javascript" src="~/Content/addon/popline/scripts/plugins/jquery.popline.blockformat.js"></script>
      <script type="text/javascript" src="~/Content/addon/popline/scripts/plugins/jquery.popline.social.js"></script>
      <script type="text/javascript" src="~/Content/addon/popline/scripts/plugins/jquery.popline.backcolor.js"></script>
      

    <script type="text/javascript" src="~/Content/map/testtree.js"></script>
    <script type="text/javascript" src="~/Content/addon/jscolor/jscolor.js"></script>

    <!-- end: JavaScript-->
    @RenderSection("scripts", required: false)

</body>
</html>
