﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@(ViewBag.Title ?? "")
        Meme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    @Styles.Render("~/bundles/bootstrapcss", "~/bundles/kendocss")
    <link id="base-style" href="~/Content/theme/jqueryuidatepicker.css" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
    <!--    <script src="//use.edgefonts.net/abel:n4:all.js"></script>-->
    <script src="//use.edgefonts.net/abel:n4:all;lora.js"></script>
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="~/biz.ico" /> 
    <script src="~/Content/smartadmin/jquery.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Knockout")
    <link id="base-style" href="~/Content/addon/bootstrapselect/bootstrap-select.css" rel="stylesheet">
    
    <link id="base-style" href="~/Content/addon/toolbar/jquery.toolbars.css" rel="stylesheet">
    <link id="base-style" href="~/Content/addon/tab/tabs-form.css" rel="stylesheet">
    <link href="~/Content/addon/popline/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="~/Content/addon/popline/css/normalize.css" />-->
    <link rel="stylesheet" type="text/css" href="~/Content/addon/popline/themes/default.css" />
    <!-- <link id="base-style" href="~/Content/addon/unibox/css/unibox.css" rel="stylesheet"> -->
    <link id="base-style" href="~/Content/meme/style.css" rel="stylesheet">
    <script src="//use.edgefonts.net/abel:n4:all;lora.js"></script>
    @RenderSection("styleContent", required: false)
</head>


<body>
    <!-- possible classes: minified, fixed-ribbon, fixed-header, fixed-width-->

    <!-- HEADER -->
    <header id="header">
        <div id="logo-group">

            <!-- PLACE YOUR LOGO HERE -->
            <span id="logo">
                <img src="~/Images/logo.png" alt="SmartAdmin">
            </span>
            <!-- END LOGO PLACEHOLDER -->

            
        </div>

        <!-- projects dropdown -->
        <div id="project-context">

            <span class="label">Projects:</span>
            <span id="project-selector" class="popover-trigger-element dropdown-toggle" data-toggle="dropdown">Recent projects <i class="fa fa-angle-down"></i></span>

            <!-- Suggestion: populate this list with fetch and push technique -->
            <ul class="dropdown-menu">

                @if (Base.SessionUtils.CurrentUser != null)
                {
                    if (Base.SessionUtils.CurrentUser.Projects != null)
                    {
                        foreach (var p in Base.SessionUtils.CurrentUser.Projects)
                        {
                            <li>
                                <a href="@Url.Action("Detail1", "Map", new {id = p.ProjectID })">@p.Name</a>
                            </li>
                        }
                    }
                }
                <li class="divider"></li>
                <li>
                    <a href="javascript:void(0);"><i class="fa fa-power-off"></i> &nbsp;Clear</a>
                </li>
                
            </ul>
            <!-- end dropdown-menu-->



        </div>
        <!-- end projects dropdown -->

        <!-- pulled right: nav area -->
        <div class="pull-right">

            
           

            <!-- collapse menu button -->
            <div id="hide-menu" class="btn-header pull-right">
                
                <span><a href="javascript:void(0);" title="Collapse Menu"><i class="fa fa-reorder"></i></a></span>
            </div>
            <!-- end collapse menu -->

            <!-- logout button -->
            <div id="logout" class="btn-header transparent pull-right">
                <span><a href="@Url.Action("LogOff", "User")" title="Sign Out"><i class="fa fa-sign-out"></i></a></span>
            </div>
            <!-- end logout button -->

             <!-- feedback button -->
            <div id="feedback-menu" class="btn-header pull-right" style="margin-top:10px;">
                <button type="button" id="showfbdlg" class="btn btn-default" ><span class="glyphicon glyphicon-envelope"></span><span style="font-size:11px; font-weight:bold;">SEND US FEEDBACK</button>
               
            </div>
            <!-- end feedback button -->


            @RenderSection("toppart", required: false)

        </div>
        <!-- end pulled right: nav area -->

    </header>
    <!-- END HEADER -->

    <!-- Left panel : Navigation area -->
    <!-- Note: This width of the aside area can be adjusted through LESS variables -->
    <aside id="left-panel">
        

        <!-- User info -->
        <div class="login-info">
           
            <div >
                <div class="dropdownselect" >
                    <!-- User image size is adjusted inside CSS, it should stay as it -->
                    <a href="javascript:void(0);" id="show-userpopup" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="@Base.SessionUtils.CurrentUser.ProfilePicture" alt="me" class="online" />
                        <span>@Base.SessionUtils.CurrentUser.UserName
                        </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <!-- Suggestion: populate this list with fetch and push technique -->
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Profile", "User")"><i class="glyphicon glyphicon-user" style="margin-top:-4px; margin-right:5px;"></i>Profile</a>
                        </li>
                    </ul>
                </div>
                <!-- end dropdown-menu-->
            </div>
        </div>
        <!-- end user info -->
       

        <!-- NAVIGATION : This navigation is also responsive

			To make this navigation dynamic please make sure to link the node
			(the reference to the nav > ul) after page load. Or the navigation
			will not initialize.
			-->
        <nav>
            <!-- NOTE: Notice the gaps after each icon usage <i></i>..
				Please note that these links work a bit different than
				traditional hre="" links. See documentation for details.
				-->

            <ul style="padding-top:20px;">
                
                <!-- <li>
                    <a href="@Url.Action("Index", "Home")" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i><span class="menu-item-parent">Dashboard</span></a>
                </li>-->
                <li>
                    <a href="@Url.Action("Index", "Project")"><span style="font-size:20px; margin-right:15px;" class="glyphicon glyphicon-folder-open"></span><span class="menu-item-parent">Projects</span></a>
                    
                </li>
                <li>
                    <a href="@Url.Action("SharedMap", "Map", new { userId = Base.SessionUtils.CurrentUser.UserID })"><span style="font-size:20px; margin-right:15px;" class="glyphicon glyphicon-folder-open"></span><span class="menu-item-parent">Shared Maps</span></a>

                </li>
                 
            </ul>
        </nav>
        
    </aside>
    <!-- END NAVIGATION -->



    


    @RenderBody()

    @RenderSection("popup", required: false)
    <!-- start: JavaScript-->
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryaddon")
    <script src="~/Content/addon/moment.js" type="text/javascript"></script>
    <script src="~/Content/addon/datetimeconvert.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="~/Content/addon/bootstrapselect/bootstrap-select.js" type="text/javascript"></script>
    <script src="~/Content/addon/hoverdropdown.js" type="text/javascript"></script>
    <script src="~/Content/addon/tab/tabs-addon.js" type="text/javascript"></script>
    <script src="~/Content/addon/toolbar/jquery.toolbar.js" type="text/javascript"></script>
    <!-- MAIN APP JS FILE -->
    <script src="~/Content/smartadmin/js/app.js"></script>


    <script type="text/javascript" src="~/Content/map/lib/jquery.mousewheel.js"></script>
    <!--<script type="text/javascript" src="~/Content/map/lib/jquery.hotkeys-0.7.9.js"></script>-->
    <script type="text/javascript" src="~/Content/map/lib/hammer.min.js"></script>
    <script type="text/javascript" src="~/Content/map/lib/underscore-min.js"></script>
    <!--<script type="text/javascript" src="~/Content/map/lib/kinetic-v4.5.4.min.js"></script>-->
    <script type="text/javascript" src="~/Content/addon/kinetic/kinetic-v5.1.0.js"></script>
    
    <script type="text/javascript" src="~/Content/map/lib/preloadjs-0.6.0.min.js"></script>
    <script type="text/javascript" src="~/Content/map/lib/color-0.4.1.min.js"></script>
    <script type="text/javascript" src="~/Content/map/src/map-menu.js"></script>
    <script type="text/javascript" src="~/Content/map/src/map-editdialog.js"></script>
    <script type="text/javascript" src="~/Content/map/src/kinetic.ideamedia.js"></script>
    <script type="text/javascript" src="~/Content/map/src/kinetic.ideanote.js"></script>
    <script type="text/javascript" src="~/Content/map/src/kinetic.ideavideo.js"></script>
    <script type="text/javascript" src="~/Content/map/src/kinetic.icon.js"></script>
    <script type="text/javascript" src="~/Content/map/src/kinetic.idea.common.js"></script>
    <script type="text/javascript" src="~/Content/map/src/kinetic.ideadimension.js"></script>
    <script type="text/javascript" src="~/Content/map/src/kinetic.idea.js"></script>
     <script type="text/javascript" src="~/Content/map/src/kinetic.link.js"></script>
    <!--<script type="text/javascript" src="~/Content/map/src/kinetic.ideacir.js"></script>
    <script type="text/javascript" src="~/Content/map/src/kinetic.ideaimg.js"></script>-->
    <script type="text/javascript" src="~/Content/map/src/kinetic.connector.js"></script>
    <script type="text/javascript" src="~/Content/map/src/observable.js"></script>
    <script type="text/javascript" src="~/Content/map/src/mapjs.js"></script>
    <script type="text/javascript" src="~/Content/map/src/url-helper.js"></script>
    <script type="text/javascript" src="~/Content/map/src/content.js"></script>
    <script type="text/javascript" src="~/Content/map/src/dbcontent.js"></script>
    <script type="text/javascript" src="~/Content/map/src/layout.js"></script>
    <script type="text/javascript" src="~/Content/map/src/clipboard.js"></script>
    <script type="text/javascript" src="~/Content/map/src/map-model.js"></script>
    <script type="text/javascript" src="~/Content/map/src/drag-and-drop.js"></script>
    <script type="text/javascript" src="~/Content/map/src/kinetic-mediator.js"></script>
    <script type="text/javascript" src="~/Content/map/src/map-toolbar-widget.js"></script>
    <script type="text/javascript" src="~/Content/map/src/png-exporter.js"></script>
    <script type="text/javascript" src="~/Content/map/src/map-widget.js"></script>
    <script type="text/javascript" src="~/Content/map/src/link-edit-widget.js"></script>
    <script type="text/javascript" src="~/Content/map/src/image-drop-widget.js"></script>


     <!-- <script type="text/javascript" src="~/Content/addon/unibox/js/unibox.js"></script>-->
    <script type="text/javascript" src="~/Content/addon/typeahead.bundle.js"></script>
     <script type="text/javascript" src="~/Content/addon/popline/scripts/jquery.popline.js"></script>

      <script type="text/javascript" src="~/Content/addon/popline/scripts/jquery.popline.js"></script>
      <script type="text/javascript" src="~/Content/addon/popline/scripts/plugins/jquery.popline.link.js"></script>
      <script type="text/javascript" src="~/Content/addon/popline/scripts/plugins/jquery.popline.blockquote.js"></script>
      <script type="text/javascript" src="~/Content/addon/popline/scripts/plugins/jquery.popline.decoration.js"></script>
      <script type="text/javascript" src="~/Content/addon/popline/scripts/plugins/jquery.popline.list.js"></script>
      <script type="text/javascript" src="~/Content/addon/popline/scripts/plugins/jquery.popline.justify.js"></script>
      <script type="text/javascript" src="~/Content/addon/popline/scripts/plugins/jquery.popline.blockformat.js"></script>
      <script type="text/javascript" src="~/Content/addon/popline/scripts/plugins/jquery.popline.social.js"></script>
      <script type="text/javascript" src="~/Content/addon/popline/scripts/plugins/jquery.popline.backcolor.js"></script>
      

    <script type="text/javascript" src="~/Content/map/testtree.js"></script>
    <script type="text/javascript" src="~/Content/addon/jscolor/jscolor.js"></script>

    <!-- end: JavaScript-->
    @RenderSection("scripts", required: false)
    <!--Feedback-->
    <div class="modal fade" id="feedbackpopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div>
</body>
</html>
