﻿@*Popup script version 2 that is used for change the UI for "Edit Text, Image, Background color" when the user right click on a particular node making the toolbar visible.
    @nguyenvo 27th Apr, 2015
    - This form will be included in _DetailJScript.csthml and the popup will be invisible at the beginning*@

<script type="text/javascript">
    

    var PopUpSelectionModel = function (title, value, url) {
        var self = this;
        self.Title = ko.observable(title);
        self.Value = ko.observable(value);
        self.Url = ko.observable(url);
    }

    

    var PopUpModel = function (title) {
        //alert("here _popupScript.cshtml");
        var self = this;
        self.Title = ko.observable(title);
        self.ArrPopUpSelections = ko.observableArray([]);


        

        observable(self);

        self.ReturnType = function (objvalue) {
            self.dispatchEvent('ReturnPopUp', objvalue.Value());
        }

    }

    

</script>



<script type="text/javascript">


    var PopUpSelectionModel2 = function (title, value, url) {
        var self = this;
        self.Title = ko.observable(title);
        self.Value = ko.observable(value);
        self.Url = ko.observable(url);
    }

    var EditDataModel = function (title) {
        //
        var self = this;
        self.EDITTITLE = 2; self.EDITPICTURE = 1; self.EDITCOLOR = 3, self.EDIT_SHAPE = 4, self.EDIT_COMMENTS = 5, self.EDIT_NOTE = 6; self.EDIT_TASKS = 7;
        self.Title = ko.observable(title);
        self.ArrPopUpSelections = ko.observableArray([]);
        self.ChatContent = ko.observable();
        self.ListComment = ko.observableArray([]);
        self.Message = ko.observable("Write a reply...");
        self.NodeDetail = ko.observable(null);
        self.RID = ko.observable("");
        //self.BodyDetail = ko.observable(null);
        //var myDataRef = new Firebase('https://mememap.firebaseio.com/'),
        var username = mv.MapTransVM().UserName(),
             mapId = mv.MapTransVM().MapID(),
             nodeId = mapModel.getCurrentlySelectedIdeaId(),
             userId = mv.MapTransVM().UserID(),
             messages = {};
        self.setNodeDetail = function (nodeDetail) {
            self.NodeDetail(nodeDetail);
            self.RID(self.NodeDetail().RID());
        }

        


        //self.Time = ko.observable("00.00");
        self.LoadNodeTypeSelection = function () {

            var arrItem =
                [
                    new PopUpSelectionModel2("Rectangle", "rec", "/Images/icons/square32.png"),
                    new PopUpSelectionModel2("Circle", "cir", "/Images/icons/circle32.png"),
                    new PopUpSelectionModel2("Diamond", "dia", "/Images/icons/diamond32.png"),
                ]
            ;


            self.ArrPopUpSelections.removeAll();
            self.ArrPopUpSelections(arrItem);
        }
        //subcribe to current message dictionary.
        //SignalRConnection.addListener(nodeId, this);

        //self.ChatContent(SignalRConnection.getHtmlMsgOfNode(nodeId));

        PouchDbNotification.addListener(nodeId, this);

        //self.ChatContent(PouchDbNotification.getHtmlMsgOfNode(nodeId));
        self.ListComment(PouchDbNotification.getListMsgOfNode(nodeId));
        observable(self);

        self.ReturnType = function (objvalue) {

            self.dispatchEvent('ChangeShapeType', objvalue.Value());
        }

        self.SwitchTab = function (tabId, actionType) {
            if (tabId == undefined) {
                if (actionType == self.EDITPICTURE) {
                    tabId = "tabtrigger2";
                } else if (actionType == self.EDIT_SHAPE) {
                    tabId = "tabtrigger4";
                } else if (actionType == self.EDITCOLOR) {
                    tabId = "tabtrigger3";
                } else if (actionType == self.EDITTITLE) {
                    tabId = "tabtrigger1";
                } else if (actionType == self.EDIT_COMMENTS) {
                    tabId = "tabtrigger5";
                } else if (actionType === self.EDIT_NOTE) {
                    tabId = "tabtrigger6";
                } else if (actionType == self.EDIT_TASKS) {
                    tabId = "tabtrigger7";
                }

            }
            //alert(tabId);
            //alert(mode);
            var elem = "ul.nav.nav-tabs > li#" + tabId;
            var currentPanel = elem, currentTrigger = $(currentPanel).attr("id");
            //alert(currentTrigger);
            var nextId = "";
            if (currentTrigger === "tabtrigger1") {
                nextId = "tab1";
                //currentTrigger = "#tabtrigger1";
            } else if (currentTrigger === "tabtrigger2") {
                nextId = "tab2";
                //currentTrigger = "#tabtrigger2";
            }
            else if (currentTrigger === "tabtrigger3") {
                nextId = "tab3";
                //currentTrigger = "#tabtrigger3";
            } else if (currentTrigger === "tabtrigger4") {
                nextId = "tab4";
            } else if (currentTrigger === "tabtrigger5") {
                nextId = "tab5";
            } else if (currentTrigger === 'tabtrigger6') {
                nextId = 'tab6';
            }
            else if (currentTrigger === 'tabtrigger7') {
                nextId = 'tab7';
            }
            //alert(currentPanel + " lol " + currentTrigger);
            if (!$(currentPanel).hasClass("active")) {

                $(currentPanel).siblings().each(function () {
                    $(this).removeClass("active");
                });
                $(currentPanel).addClass("active");
                $(currentPanel).parent().siblings("div.tab-content").find("div").each(function () {
                    if ($(this).attr("id") === nextId)
                        $(this).addClass("active");
                    else
                        $(this).removeClass("active")
                });

            }

            var masterContainer = $(currentPanel).closest(".custom-tabs.track-url");
            if (masterContainer.hasClass("auto-scroll")) {
                $("body,html").animate({ scrollTop: masterContainer.offset().top - 80 }, 500);
            }
        }

        self.GetMoreCmt = function () {
            PouchDbNotification.GetMoreCmt(nodeId, mapId, 10, 'updateCmnOnNode2');
        }
        self.GetMoreCmtCSS = ko.observable('block');
        self.AddComment = function (data, e) {
            var keyCode = e.charCode || e.keyCode;

            //console.log("username: " + username + " : " + "mapId: " + mapId + " : " + "userId: " + userId + " nodeId: " + nodeId);
            if (keyCode === 13) {

                var text = $('textarea#messageContent').val();
                var d = new Date(), min = d.getMinutes(), hours = d.getHours();

                min = (min < 10) ? ("0" + min) : min;
                hours = (hours < 10) ? ("0" + hours) : hours;
                var currTime = hours + ":" + min;
                var createdDate = (new Date()).toJSON();
                var imgProfile = "@Base.SessionUtils.CurrentUser.ProfilePicture";
                //alert(createdDate);
                var message = { username: username, mapId: mapId, userId: userId, nodeId: nodeId, comment: text, createdDate: createdDate, imgProfile: imgProfile , rid: self.RID()};


                //SignalRConnection.chat.invoke('SendMessage', message);
                PouchDbNotification.addNodeComment(message);
                //$('#message').val('').focus();
                $('textarea#messageContent').val('').focus();

            }
        }

        //var r = new Row();
    }
    //param: data : DOM object clicked

</script>




<div class="modal fade" id="popupEditNodeSelection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" data-bind="with:PopUpModelVM">
        <div class="modal-content" style="margin-left: -100px; width: 150%">
            <!--
            <button style="z-index: 999999" type="button" class="close" data-dismiss="modal"
                aria-hidden="true">
                &times;</button>
                -->
            <div style="float:right; padding-right:10px; padding-top:10px" class="toolbaraction" data-dismiss="modal">
                <!-- data-bind="click: CloseEditDialog"-->
                <a class="toolbaractionbtn" href="#"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="modal-body">
                <div class="tab-content" style="padding-top: 16px;">
                    <div class="tab-pane active" id="tabsearch">

                        <!-- ko if: $data.NodeDetail -->
                        <div class="tabbable custom-tabs tabs-animated" data-bind="with: NodeDetail">
                            <ul class=" nav nav-tabs">
                                <!-- onclick="SwitchTab(this)" -->
                                <li class="active" id="tabtrigger1" data-bind="click: $parent.SwitchTab.bind($data, 'tabtrigger1')"><a href="#tab1" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i></a></li>
                                <li id="tabtrigger2" data-bind="click: $parent.SwitchTab.bind($data, 'tabtrigger2')"><a href="#tab2" data-toggle="tab"><i class="glyphicon glyphicon-picture"></i></a></li>
                                <li id="tabtrigger3" data-bind="click: $parent.SwitchTab.bind($data, 'tabtrigger3')"><a href="#tab3" data-toggle="tab"><i class="glyphicon glyphicon-adjust"></i></a></li>
                                <li id="tabtrigger4" data-bind="click: $parent.SwitchTab.bind($data, 'tabtrigger4')"><a href="#tab4" data-toggle="tab"><i class="glyphicon glyphicon-unchecked"></i></a></li>
                                <li id="tabtrigger5" data-bind="click: $parent.SwitchTab.bind($data, 'tabtrigger5')"><a href="#tab5" data-toggle="tab"><i class="glyphicon glyphicon-comment" ></i></a></li>
                                <li id="tabtrigger6" data-bind="click: $parent.SwitchTab.bind($data, 'tabtrigger6')"><a href="#tab6" data-toggle="tab"><i class="glyphicon glyphicon-paperclip"></i></a></li>
                                <li id="tabtrigger7" data-bind="click: $parent.SwitchTab.bind($data, 'tabtrigger7')"><a href="#tab7" data-toggle="tab"><i class="glyphicon glyphicon-calendar"></i></a></li>
                            </ul>
                            <div class="tab-content" style="padding-bottom:50px;">
                                <div id="tab1" class="tab-pane active">
                                    <div class="toolbaraction-top">
                                        <!-- ko if: !EditTitle() -->
                                        <a href="#" class="toolbaractionbtn-small" data-bind="click: StartEditTitle" style="float:right;"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <!-- /ko -->
                                        <!-- ko if: EditTitle() -->
                                        <a href="#" class="toolbaractionbtn-small" data-bind="click: CancelTitle" style="float:right;margin-left:10px;"><span class="glyphicon glyphicon-remove"></span></a>
                                        <a href="#" class="toolbaractionbtn-small" data-bind="click: ConfirmTitle" style="float:right;"><span class="glyphicon glyphicon-ok"></span></a>
                                        <!-- /ko -->
                                        <span style="float:left; font-size:14px;font-family:Abel;">NODE TITLE</span>
                                    </div>
                                    <!-- ko if: !EditTitle() -->
                                    <p data-bind="html: Title"></p>
                                    <!-- /ko -->
                                    <!-- ko if: EditTitle() -->
                                    <textarea data-bind="value: Title" style="width:100%;height:100px; margin-top:10px;"></textarea>
                                    <!-- /ko -->
                                    <br />

                                    <div style="float:left; width:100%;">
                                        <a href="#" class="toolbaractionbtn-small" data-bind="click: LoadNote" style="float:left;width:auto; padding-left:5px; padding-right:5px;"><span class="glyphicon glyphicon-paperclip" style="float:left;"></span> <span style="float:left; margin-left:5px; font-family:Abel; font-size:12px; font-weight:bold; "> Note</span></a>
                                    </div>

                                </div>
                                <div id="tab2" class="tab-pane">


                                    <div class="toolbaraction-top">
                                        <!-- ko if: !EditImg() -->
                                        <a href="#" class="toolbaractionbtn-small" data-bind="click: StartEditImg" style="float:right;"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <!-- /ko -->
                                        <!-- ko if: EditImg() -->
                                        <a href="#" class="toolbaractionbtn-small" data-bind="click: CancelImg" style="float:right;margin-left:10px;"><span class="glyphicon glyphicon-remove"></span></a>
                                        <a href="#" class="toolbaractionbtn-small" data-bind="click: ConfirmImg" style="float:right;"><span class="glyphicon glyphicon-ok"></span></a>
                                        <!-- /ko -->
                                        <span style="float:left; font-size:14px;font-family:Abel;">IMAGE/VIDEO</span>
                                    </div>
                                    <div style="width:100%;float:left; height:200px;">
                                        <!-- ko if: (!EditImg()&& ImgSrc()!="") -->
                                        <img data-bind="attr: { src: ImgSrc }" style="max-width:100%; max-height:100%;margin:auto;display:block; padding-top:10px;" /><br />
                                        <!-- ko if: ShownImgSrc()!="" -->
                                        <a data-bind="attr: { href: ShownImgSrc }" target="_blank">View full version</a>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                        <!-- ko if: EditImg() -->
                                        <input type="text" data-bind="value: ShownImgSrc" style="width:100%; margin-top:10px;" />
                                        <!-- /ko -->
                                    </div>
                                </div>
                                <div id="tab3" class="tab-pane">
                                    <div data-bind="visible: !EditColor()">
                                        <div style="float:left;width:100%; ">
                                            <a href="#" class="toolbaractionbtn-small" data-bind="click: StartEditColor" style="float:right;">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        </div>
                                        <div style="float:left;width:100%; ">
                                            <span style="float:left; font-size:14px;font-family:Abel;">BACKGROUND COLOR</span>
                                        </div>
                                        <div style="float:left;width:100%; ">
                                            <div style="float:left;width:20px; height:20px; " data-bind="style: { backgroundColor: '#' + BgColor() }"></div>
                                            <div style="float:left;margin-left:5px; height:20px; " data-bind=" html: '#' + BgColor()"></div>
                                        </div>
                                        <div style="float:left;width:100%; ">
                                            <span style="float:left; font-size:14px;font-family:Abel;">TEXT COLOR</span>
                                        </div>
                                        <div style="float:left;width:100%; ">
                                            <div style="float:left;width:20px; height:20px;" data-bind="style: { backgroundColor: '#' + TextColor() }"></div>
                                            <div style="float:left;margin-left:5px; height:20px; " data-bind=" html: '#' + TextColor()"></div>
                                        </div>
                                    </div>

                                    <div data-bind="visible: EditColor()">
                                        <div style="float:left;width:100%; ">
                                            <a href="#" class="toolbaractionbtn-small" data-bind="click: CancelColor" style="float:right;margin-left:10px;"><span class="glyphicon glyphicon-remove"></span></a>
                                            <a href="#" class="toolbaractionbtn-small" data-bind="click: ConfirmColor" style="float:right;"><span class="glyphicon glyphicon-ok"></span></a>
                                        </div>
                                        <div style="float:left;width:100%; ">
                                            <span style="float:left; font-size:14px;font-family:Abel;">BACKGROUND COLOR</span>
                                        </div>
                                        <div style="float:left;width:100%; ">
                                            <input class="color" id="selbgcolor" data-bind="value: BgColor">
                                        </div>
                                        <div style="float:left;width:100%; ">
                                            <span style="float:left; font-size:14px;font-family:Abel;">TEXT COLOR</span>
                                        </div>
                                        <div style="float:left;width:100%; ">
                                            <input class="color" id="selcolor" data-bind="value: TextColor">
                                        </div>
                                    </div>
                                </div>
                                <div id="tab4" class="tab-pane">
                                    <div class="toolbaraction-top">

                                    </div>
                                    <div class="row" data-bind="foreach:$parent.ArrPopUpSelections" style="height:140px;">
                                        <div class="col-md-3 nodetypeselection" data-bind="click:$parents[1].ReturnType">
                                            <div class="row" style="text-align:center;">
                                                <img data-bind="attr:{src:Url}" style="height:50px;" />
                                            </div>
                                            <div class="row" style="padding-top:10px;text-align:center;">
                                                <span style="font-size:14px;font-family:Abel; text-transform:uppercase " data-bind="html: Title" ></span>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div id="tab5" class="tab-pane">
                                    <div class="toolbaraction-top">
                                        <div class="row" style="height:140px;">
                                            <div class="col-md-12 ">

                                                <div class="message-wrap" style="width:100%">
                                                    <div class="msg-wrap">
                                                        <!--
                                                        <div id='messagesDiv' data-bind="html:$parent.ChatContent"></div>
                                                        -->
                                                        <div id='messagesDiv' data-bind="foreach:$parent.ListComment">
                                                            <div class="media msg" data-bind="attr:{id:commentMongoId}">
                                                                <a class="pull-left" style="margin-top: 8px;" href="#">
                                                                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 32px; height: 32px;" data-bind="attr:{src:imgProfile}">
                                                                </a>
                                                                <div class="media-body">
                                                                    <span class="glyphicon glyphicon-remove pull-right remove-mess" data-bind="click:removeMsg"></span>
                                                                    <h5 class="media-heading" data-bind="html:username">    </h5>
                                                                    <small class="col-lg-10" style="font-weight: normal !important;" data-bind="html:comment"></small>
                                                                    <small class=" time" style="font-weight: normal !important; width:40%;" data-bind="html:createdDate"><i class="fa fa-clock-o"></i>    </small>
                                                                </div>
                                                            </div> 
                                                        </div>
                                                        <a href="#" id="view_more_comment" class="view_more_comment" data-bind="click:$parents[0].GetMoreCmt, style:{display:$parents[0].GetMoreCmtCSS}" >View more comments</a>
                                                    </div>
                                                </div>
                                                <!--
                                                 <input type='text' id="nameInput" placeholder='Name' />
                                                 <input type='text' id="messageInput_TEST" data-bind="event: {keyup:$parent.AddComment}" placeholder='Message' />
                                                -->
                                                <div class="send-wrap ">
                                                    <textarea class="form-reply send-message" id="messageContent" data-bind="event: {keyup:$parent.AddComment} " rows="3" placeholder="Write a reply..."></textarea>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div id="tab6" class="tab-pane">
                                    <div class="toolbaraction-top">
                                        <div id="mynoteeditor" style="z-index:2002;display:block; top:0px; left:0px ; width:100%;   ">
                                            <div class="container-fluid">

                                                <div class="row" data-bind="with: BodyDetail">
                                                    <div class="col-xs-12    col-sm-12    col-md-6 col-md-offset-3  col-lg-offset-3 noteditorpanel">
                                                        <div class="row" style="padding:10px;">
                                                            <div class="col-md-12" style="height:50px; border-bottom:solid 1px #808080; padding-bottom:5px;">
                                                                <div style="font-family:Abel; font-size:16px; float:left; width:80%" data-bind="html: Title()">

                                                                </div>
                                                                <div class="toolbaraction" style="float:right; width:15%;">
                                                                    <a href="#" class="toolbaractionbtn" data-bind="click: CloseDetail" style="float:right;"><span class="glyphicon glyphicon-remove"></span></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <!-- ko if: LoadingBody() -->
                                                            <div style="margin-left:20px;margin-top:5px; background-color:#0094ff; color:#fff; font-family:Abel; font-size:13px; padding:5px; float:left; "> Loadding Content... </div>
                                                            <!-- /ko -->
                                                            <!-- ko if: SavingBody() -->
                                                            <div style="margin-left:20px;margin-top:5px; background-color:#0094ff; color:#fff; font-family:Abel; font-size:13px; padding:5px; float:left; "> Saving Content... </div>
                                                            <!-- /ko -->
                                                            <div class="toolbaraction-top" style="padding-right:40px; float:right; width:250px;">
                                                                <!-- ko if: !EditBody() -->

                                                                <a href="#" class="toolbaractionbtn-small" data-bind="click: StartEditBody" style="float:right;"><span class="glyphicon glyphicon-pencil"></span></a>
                                                                <div style="margin-top:5px; background-color:#ffd800; color:#fff; font-family:Abel; font-size:13px; padding:5px; float:right; margin-right:10px;"> Viewing Mode </div>
                                                                <!-- /ko -->
                                                                <!-- ko if: EditBody() -->

                                                                <a href="#" class="toolbaractionbtn-small" data-bind="click: CancelBody" style="float:right;margin-left:10px;"><span class="glyphicon glyphicon-remove"></span></a>
                                                                <a href="#" class="toolbaractionbtn-small" data-bind="click: ConfirmBody" style="float:right;"><span class="glyphicon glyphicon-ok"></span></a>
                                                                <div style="margin-top:5px; background-color:#ffd800; color:#fff; font-family:Abel; font-size:13px; padding:5px; float:right; margin-right:10px;"> Edit Mode </div>
                                                                <!-- /ko -->

                                                            </div>
                                                            <div class="col-md-12 noteditorcontainer" style="overflow:auto;">
                                                                <section class="popcontainer">
                                                                    <article class="popcontent">
                                                                        <div class="popeditor" contenteditable="true" data-bind="html: Body">

                                                                        </div>
                                                                    </article>
                                                                </section>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   

                                </div>

                                 <div id="tab7" class="tab-pane">
                                     
                                   <div data-bind="visible: !EditTask()">
                                       <div class="row">
                                           <div class="col-md-12 ">
                                                <a href="#" class="toolbaractionbtn-small" data-bind="click: StartEditTask" style="float:right;">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                            </div>
                                       </div>
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <span style="float:left; font-size:14px;font-family:Abel;">Title</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 ">
                                             <p data-bind="html: Task().Title"></p>
                                            </div>
                                        </div>
                                       <div class="row"  style="padding:10px;">
                                           <div class="col-md-6 ">
                                                <div class="row">
                                                    <span style="float:left; font-size:14px;font-family:Abel;">Estimation</span>
                                                </div>
                                                <div class="row">
                                                    <p data-bind="html: Task().Estimation"></p>
                                                </div>
                                               <div class="row">
                                                    <span style="float:left; font-size:14px;font-family:Abel;">Due Date</span>
                                                </div>
                                                <div class="row">
                                                    <p data-bind="html: moment(Task().DueDate()).format('DD-MMM-YYYY')"></p>
                                                </div>
                                               <div class="row">
                                                    <span style="float:left; font-size:14px;font-family:Abel;">Start Date</span>
                                                </div>
                                                <div class="row">
                                                    <p data-bind="html: moment(Task().StartDate()).format('DD-MMM-YYYY')"></p>
                                                </div>
                                               <div class="row">
                                                    <span style="float:left; font-size:14px;font-family:Abel;">Completion Date</span>
                                                </div>
                                                <div class="row">
                                                    <p data-bind="html: moment(Task().CompletionDate()).format('DD-MMM-YYYY')"></p>
                                                </div>
                                            </div>
                                           <div class="col-md-6 " style="padding-left:10px;">
                                                <div class="row">
                                                    <span style="float:left; font-size:14px;font-family:Abel;">Type</span>
                                                </div>
                                                <div class="row">
                                                    <p data-bind="html: Task().Type"></p>
                                                </div>
                                               <div class="row">
                                                    <span style="float:left; font-size:14px;font-family:Abel;">Priority</span>
                                                </div>
                                                <div class="row">
                                                    <p data-bind="html: Task().Priority"></p>
                                                </div>
                                               <div class="row">
                                                    <span style="float:left; font-size:14px;font-family:Abel;">Status</span>
                                                </div>
                                                <div class="row">
                                                    <p data-bind="html: Task().Status"></p>
                                                </div>
                                            </div>
                                        
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <span style="float:left; font-size:14px;font-family:Abel;">Assigned To</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 ">
                                             <p data-bind="html: Task().AssignedTo"></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div  data-bind="visible: EditTask()">
                                        <div style="float:left;width:100%; ">
                                            <a href="#" class="toolbaractionbtn-small" data-bind="click: CancelTask" style="float:right;margin-left:10px;"><span class="glyphicon glyphicon-remove"></span></a>
                                            <a href="#" class="toolbaractionbtn-small" data-bind="click: ConfirmTask" style="float:right;"><span class="glyphicon glyphicon-ok"></span></a>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <span style="float:left; font-size:14px;font-family:Abel;">Title</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 ">
                                             <textarea data-bind="value: Task().Title" style="width:100%;height:100px; margin-top:10px;"></textarea>
                                            </div>
                                        </div>
                                       <div class="row" style="padding:10px;">
                                           <div class="col-md-6 ">
                                                <div class="row">
                                                    <span style="float:left; font-size:14px;font-family:Abel;">Estimation</span>
                                                </div>
                                                <div class="row">
                                                    <input data-bind="value: Task().Estimation" class="datadate col-md-12 form-control" type="text" />
                                                </div>
                                               <div class="row">
                                                    <span style="float:left; font-size:14px;font-family:Abel;">Due Date</span>
                                                </div>
                                                <div class="row">                                                    
                                                    <input type="text" class="datadate col-md-12 form-control" data-bind="datepicker: Task().DueDate, datepickerOptions: { dateFormat: 'dd/mm/yy' }  " />
                                                </div>
                                               <div class="row">
                                                    <span style="float:left; font-size:14px;font-family:Abel;">Start Date</span>
                                                </div>
                                                <div class="row">
                                                    <input type="text" class="datadate col-md-12 form-control" data-bind="datepicker: Task().StartDate, datepickerOptions: { dateFormat: 'dd/mm/yy' }  " />
                                                </div>
                                               <div class="row">
                                                    <span style="float:left; font-size:14px;font-family:Abel;">Completion Date</span>
                                                </div>
                                                <div class="row">
                                                    <input type="text" class="datadate col-md-12 form-control" data-bind="datepicker: Task().CompletionDate, datepickerOptions: { dateFormat: 'dd/mm/yy' }  " />
                                                </div>
                                            </div>
                                           <div class="col-md-6 " style="padding-left:20px;">
                                                <div class="row">
                                                    <span style="float:left; font-size:14px;font-family:Abel;">Type</span>
                                                </div>
                                                <div class="row" >
                                                    <select class="form-control" data-bind="value: Task().Type">
                                                        <option selected value="Task">Task</option>
                                                        <option value="Idea">Idea</option>
                                                        <option value="Implementation">Implementation</option>
                                                        <option value="Documentation">Documentation</option>
                                                    </select>
                                                </div>
                                               <div class="row">
                                                    <span style="float:left; font-size:14px;font-family:Abel;">Priority</span>
                                                </div>
                                                <div class="row"  >
                                                    <select class="form-control" data-bind="value: Task().Priority">
                                                        <option selected value="Low">Low</option>
                                                        <option value="Medium">Medium</option>
                                                        <option value="High">High</option>
                                                    </select>
                                                </div>
                                               <div class="row">
                                                    <span style="float:left; font-size:14px;font-family:Abel;">Status</span>
                                                </div>
                                                <div class="row" >
                                                    <select class="form-control" data-bind="value: Task().Status">
                                                        <option selected value="New">New</option>
                                                        <option value="Assigned">Assigned</option>
                                                        <option value="Open">Open</option>
                                                        <option value="Re-Assigned">Re-Assigned</option>
                                                        <option value="Cancelled">Cancelled</option>
                                                        <option value="Closed">Closed</option>
                                                    </select>
                                                </div>
                                            </div>
                                        
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <span style="float:left; font-size:14px;font-family:Abel;">Assigned To</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 ">
                                             <input data-bind="value: Task().AssignedTo" class="datadate col-md-12 form-control" type="text" />
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="ProgressingStatus" data-bind="html: DialogStatus"></div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top:36px">
                <div class="pull-right" style="padding-top:10px">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>