﻿<script type="text/javascript">
    var PopUpSelectionModel = function (title, value, url) {
        var self = this;
        self.Title = ko.observable(title);
        self.Value = ko.observable(value);
        self.Url = ko.observable(url);
    }

    var PopUpModel = function (title) {
        //alert("here _popupScript.cshtml");
        var self = this;
        self.Title = ko.observable(title);
        self.ArrPopUpSelections = ko.observableArray([]);

        self.LoadNodeTypeSelection = function () {

            var arrItem =
                [
                    new PopUpSelectionModel("Rectangle", "rec", "/Images/icons/square32.png"),
                    new PopUpSelectionModel("Circle", "cir", "/Images/icons/circle32.png"),
                    new PopUpSelectionModel("Diamond", "dia", "/Images/icons/diamond32.png"),
                ]
            ;


            self.ArrPopUpSelections.removeAll();
            self.ArrPopUpSelections(arrItem);
        }

        observable(self);

        self.ReturnType = function (objvalue) {
            self.dispatchEvent('ReturnPopUp', objvalue.Value());
        }

    }
    
    
    
</script>
<div class="modal fade" id="popupNodeTypeselection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog"  data-bind="with:PopUpModelVM">
        <div class="modal-content" style="margin-left: -100px; width: 150%">
            <button style="z-index: 999999" type="button" class="close" data-dismiss="modal"
                aria-hidden="true">
                &times;</button>
            <div>
                <div class="dark" data-bind="html:Title">
                    
                </div>
            </div>            
            <div class="modal-body" >
                <div class="tab-content" style="padding-top: 10px;">
                    <div class="tab-pane active" id="tabsearch">
                        <div class="row" data-bind="foreach:ArrPopUpSelections" style="height:140px;">                            
                            <div class="col-md-3 nodetypeselection" data-bind="click:$parent.ReturnType" >
                                <div class="row" style="text-align:center;">
                                    <img data-bind="attr:{src:Url}" style="height:50px;"/>
                                </div>
                                <div class="row" data-bind="html:Title" style="padding-top:10px;text-align:center;">

                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-right">                    
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        Cancel</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>