﻿  @{
      if (ViewBag.SystemAnnouces != null)
      {
          Base.ViewModel.SystemAnnouces annouces = ViewBag.SystemAnnouces as Base.ViewModel.SystemAnnouces;
          if (annouces.Annouces.Count > 0)
          {
              if (annouces.Annouces.Count(a => a.AnnouceType == Base.ViewModel.AnnouceType.Error) > 0) //display error
              { 
                 @:<div id="systemAlertError" class="alert alert-error" >
                 @:  <button type="button" class="close" data-dismiss="alert">×</button>
                 @:  <ul style="display:block">
                     foreach (var a in annouces.Annouces.Where(i => i.AnnouceType == Base.ViewModel.AnnouceType.Error))
                     {
                         @:<li>@a.Message</li>
                     } 
                 @: </ul>
                 @:</div>
              }
              if (annouces.Annouces.Count(a => a.AnnouceType == Base.ViewModel.AnnouceType.Information) > 0) //display info
              { 
                 @:<div id="systemAlertInfo" class="alert alert-info" style="padding-top:76px">
                 @:  <button type="button" class="close" data-dismiss="alert">×</button>
                 @:  <ul style="display:block">
                     foreach (var a in annouces.Annouces.Where(i => i.AnnouceType == Base.ViewModel.AnnouceType.Information))
                     {
                         @:<li>@a.Message</li>
                     } 
                 @: </ul>
                 @:</div>
              }
              if (annouces.Annouces.Count(a => a.AnnouceType == Base.ViewModel.AnnouceType.Warning) > 0) //display warning
              { 
                 @:<div id="systemAlertWarning" class="alert alert-block" style="padding-top:76px">
                 @:  <button type="button" class="close" data-dismiss="alert">×</button>
                 @:  <ul style="display:block">
                     foreach (var a in annouces.Annouces.Where(i => i.AnnouceType == Base.ViewModel.AnnouceType.Warning))
                     {
                         @:<li>@a.Message</li>
                     } 
                 @: </ul>
                 @:</div>
              }
          }
          ViewBag.SystemAnnouces = null;
      }
  }
  
         