﻿   
    <script type='text/javascript'>//<![CDATA[
          $(window).load(function () {
              jQuery('.submenu').hover(function () {
                  jQuery(this).children('ul').removeClass('submenu-hide').addClass('submenu-show');
              }, function () {
                  jQuery(this).children('ul').removeClass('.submenu-show').addClass('submenu-hide');
              });//.find("a:first").append(" &raquo; ")
          });//]]>
        </script>
   @{
       
       List<WebAPI.Model.DTO.MenuDTO> listMenu = ViewBag.MenuData??new List<WebAPI.Model.DTO.MenuDTO>();
       
   }
   @RenderMenus(listMenu)

   @helper RenderMenus(List<WebAPI.Model.DTO.MenuDTO> listMenu)
       {
        @:<ul class="nav">
         foreach (var menu in listMenu.OrderBy(m=>m.Row))
         { 
            @RenderMenuItem(menu) 
         }
        @:</ul>
    }
    @helper RenderMenuItem(WebAPI.Model.DTO.MenuDTO menuItem)
        {
        if (menuItem.ChildMenus.Count > 0)
        {
            if (menuItem.MenuLevel>=1)
            {
                @:<li class="dropdown submenu">
                    @:<a id="menuitem_@menuItem.MenuID" href="#" class="dropdown-toggle" data-toggle="dropdown" >
                         @menuItem.DisplayText 
                         @:<i class="icon-arrow-right"></i>
                    @:</a>
                    @RenderChildMenuItem(menuItem)
                @:</li>
            }
            else
            { 
                @:<li class="dropdown">
                    @:<a id="menuitem_@menuItem.MenuID" href="#" data-toggle="dropdown" class="dropdown-toggle">
                         @menuItem.DisplayText 
                         @:<b class="caret"></b>
                    @:</a>
                    @RenderChildMenuItem(menuItem)
                @:</li>
            }
        }
        else
        {
            @:<li>
              @:<a id="menuitem_@menuItem.MenuID" href="@menuItem.URL">
                 @menuItem.DisplayText 
              @:</a>
            @:</li>
        }
    }
    @helper RenderChildMenuItem(WebAPI.Model.DTO.MenuDTO menuItem)
        {
            if (menuItem.MenuLevel >= 1)
            {
                @:<ul class="dropdown-menu submenu-show submenu-hide"> 
            }
            else
            { 
                @:<ul class="dropdown-menu"> 
            }

            foreach (var menu in menuItem.ChildMenus)
            {
                @RenderMenuItem(menu)
            }
           @:</ul>
        }
