﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">An error occurred while processing your request.</h2>
    <p>@Model.Exception.Message</p>
    <p>@Model.Exception.StackTrace</p>
</hgroup>
