﻿
<div class="row">
    <div class="col-md-12">
        <div class="dark">
            <img src="~/Images/projectmodule.png" alt="" style="width: 24px" />List Items
            <div style="float: right">
                <a class="btn systembutton" href="@Url.Action("Index", "ActionPlan", new { kfaid = ViewBag.KFAID, pid = ViewBag.ProjectID })" >
                    <i class="icon-arrow-left"></i>Back to action list</a></div>
        </div>
    </div>
</div>
<div data-bind="with: $root.CurrentAction">
    <span data-bind="html:TaskName"></span>
</div>

