﻿
<div id="currentactionmenu" class="row" data-bind="with:$root.CurrentActionPlan">
   <div class="col-md-12">
        <div class="row titleholder">
                    <div class="menumoduletitle">
                        <span class="moduletitlename">ACTION DETAIL</span>
                    </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul id="listProjectMenu" class="leftsidesublist" >
                    <!-- ko foreach: ContextMenu -->
                        <!-- ko if: Url().length > 0 -->
                         <li data-bind="css:{active:Active}"><a style="cursor:pointer" data-bind="attr:{href:Url}"> <span data-bind="html:Icon() + Text()"></span></a></li>
                        <!-- /ko -->
                        <!-- ko if: Url().length == 0 -->
                        <li data-bind="css:{active:Active}"><a style="cursor:pointer" data-bind="click:$root.selectActionMenu"> <span data-bind="html:Icon() + Text()"></span></a></li>
                        <!-- /ko -->
                    <!-- /ko -->
                </ul>
            </div>
         </div>
   </div>
</div>
<div id="currentactionmenu" class="row"  data-bind="with:$root.FileInfos">
   <div class="col-md-12">
        <div class="row titleholder">
                    <div class="menumoduletitle">
                        <span class="moduletitlename">ACTION DETAIL</span>
                    </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul id="listProjectMenu" class="leftsidesublist" >
                    <!-- ko foreach:$root.ContextMenu -->
                        <!-- ko if: Url().length > 0 -->
                         <li data-bind="css:{active:Active}"><a style="cursor:pointer" data-bind="attr:{href:Url}"> <span data-bind="html:Icon() + Text()"></span></a></li>
                        <!-- /ko -->
                        <!-- ko if: Url().length == 0 -->
                        <li data-bind="css:{active:Active}"><a style="cursor:pointer" data-bind="click:$root.selectActionMenu"> <span data-bind="html:Icon() + Text()"></span></a></li>
                        <!-- /ko -->
                    <!-- /ko -->
                </ul>
            </div>
         </div>
   </div>
</div>
