﻿ <div class="row titleholder">
            <div class="menumoduletitle">
                <span class="moduletitlename">Clients</span>
            </div>
 </div>
<ul id="listKFANav" class="leftsidelist" data-bind="template:{name:'kfaNavItem',foreach:$root.KFAs}">
</ul>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

@*<div class="row titleholder">
    <div class="moduletitle">
        <span class="moduletitlename">Hubs/Region Office</span>
    </div>
</div>
<ul class="leftsidesublist" data-bind="template:{name:'hubNavItem',foreach:$root.Hubs}">
</ul>*@
<script id="kfaNavItem" type="text/html">    
    <li data-bind="css:{active:Active}">
        <a href="#" data-bind="click:$root.selectKFA" > <span data-bind="html:Name"></span></a>
    </li>      
</script>
@*<script id="hubNavItem" type="text/html">
    <li data-bind="css:{active:Active}">
        <a href="#" data-bind="click:$root.selectHub" > <span data-bind="html:Name"></span></a>
    </li>
</script>*@
