﻿
<div id="currentprojectmenu" class="row" data-bind="with:$root.CurrentProject" >
    <div  class="col-md-12">
        
        <div  class="row">
    <div  class="col-md-12"> 
        <ul id="listCurrentProjectMenu" class="leftsidelist" data-bind="template:{name:'projectMenuItem',foreach:ProjectMenus}">
           <li data-bind="visible:Visible,css:{active:Active}">
                <a data-bind="attr:{href:Url}"><span data-bind="html:Icon() + Text()"></span></a>
            </li>
        </ul>
    </div>
</div>
    </div>
</div>
<script id="projectMenuItem" type="text/html">
      <li data-bind="visible:Visible,css:{active:Active}">
          <a data-bind="attr:{href:Url}"><span data-bind="html:Icon() + Text()"></span></a>
      </li>
</script>
