﻿<div class="row" data-bind="with:$root.CurrentProject">
    <div class="col-md-12">
        <div class="dark">
            <img src="~/Images/projectmodule.png" alt="" style="width: 24px" /><span data-bind="html:Name"></span>
            <div style="float:right"><a class="btn systembutton" data-bind="attr:{href: BackToProjectList}" > <i class="icon-arrow-left"></i>Back to project list</a></div>
        </div>
    </div>
</div>
@*
<div class="row">
    <div class="col-md-12">
        <div class="titleholder row">
            <div class="col-md-6">
                <div class="moduletitle">
                    <span>PROJECT HEADER</span>
                </div>
            </div>
            <div class="col-md-6" style="text-align: right; visibility: hidden">
                <!-- ko if: $root.IsEditProjectInfo() === false -->
                <a class="btn systembutton" data-bind="visible: $root.UserPermission().EditProjectInfo, click: $root.editProjectInfo"
                    style="cursor: pointer"><i class="glyphicon glyphicon-pencil"></i>Edit </a>
                <!-- /ko -->
                <!-- ko if: $root.IsEditProjectInfo() === true -->
                <a class="btn systembutton" data-bind="click: $root.saveEditProjectInfo" style="cursor: pointer">
                    <i class="glyphicon glyphicon-ok"></i>Save </a>&nbsp; <a class="btn systembutton" data-bind="click: $root.cancelProjectInfo"
                        style="cursor: pointer"><i class="icon-remove"></i>Cancel </a>
                <!-- /ko -->
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-5" data-bind="visible:$root.Processing().GetProcessing('CurrentProject')" style="position:absolute">
        <img src="~/Images/kloading.gif" alt="Loading....." />
    </div>
</div>
<div class="row" style="margin-bottom: 10px">
    <div class="col-md-12" style="border: solid 1px #ddd; padding: 10px;">
        <!-- ko if: $root.IsEditProjectInfo() === false -->
        <div class="row">
            <div class="col-md-12">
                <table>
                    <tr>
                        <td style="width: 100px;" class="infotitlecolumn">
                            Project Name:
                        </td>
                        <td style="width: 200px">
                            <div data-bind="html: $root.CurrentProject().Name">
                            </div>
                        </td>
                        <td style="width: 150px;" class="infotitlecolumn">
                            Team leader:
                        </td>
                        <td style="width: 200px">
                            <div data-bind="html: $root.CurrentProject().TeamLeaderName">
                            </div>
                        </td>
                        <td style="width: 150px;" class="infotitlecolumn">
                            Client:
                        </td>
                         <td>
                            <div data-bind="html: $root.CurrentKFA().Name">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 150px;" class="infotitlecolumn">
                            Project ID:
                        </td>
                        <td>
                            <div data-bind="html : $root.CurrentProject().ProjectCode">
                            </div>
                        </td>
                        <td style="width: 150px;" class="infotitlecolumn">
                            Project Progress:
                        </td>
                        <td>
                            <div data-bind="css: $root.CurrentProject().StatusLight, attr: {title:$root.CurrentProject().LightStatusDescription}" style="float:left; padding-left:5px">
                            </div> 
                            <div data-bind="html: $root.CurrentProject().ProjectStatus"> </div>
                        </td>
                        <td style="width: 150px;" class="infotitlecolumn">
                            Project Status:
                        </td>
                        <td>
                            <div data-bind="html: $root.CurrentProject().Status">
                            </div>
                        </td>
                         <td style="width: 150px;" class="infotitlecolumn">
                            Sub_KFA:
                        </td>
                        <td>
                            <div data-bind="html : $root.CurrentProject().SubKFA">
                            </div>
                        </td>
                    </tr>
                    <tr>
                    
                        <td style="width: 150px;" class="infotitlecolumn">
                            
                            Project Charter Approved
                        </td>
                        <td>
                            <div data-bind="css:{checkedvalue:$root.Check(),noncheckedvalue:(!$root.Check())}"
                                class="checkedvalue">
                            </div>
                        </td>
                        <td style="width: 150px;" class="infotitlecolumn">
                            Project Status:
                        </td>
                        <td>
                            <div data-bind="html: $root.CurrentProject().Status">
                            </div>
                        </td>
                        <td style="width: 150px;" class="infotitlecolumn">
                            Hub:
                        </td>
                        <td>
                            <div data-bind="html: $root.CurrentProject().HubName">
                            </div>
                        </td>
                    </tr>
                </table>
                
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: $root.IsEditProjectInfo() === true -->
        <div class="row">
            <div class="col-md-12">
                <table>
                    <tr>
                        <td style="width: 100px;" class="infotitlecolumn">
                            Project Name:
                        </td>
                        <td style="width: 200px">
                            <div data-bind="html: $root.CurrentProject().Name">
                            </div>
                        </td>
                        <td style="width: 150px;" class="infotitlecolumn">
                            Team leader:
                        </td>
                        <td style="width: 200px">
                            <div data-bind="html: $root.CurrentProject().TeamLeaderName">
                            </div>
                        </td>
                        <td style="width: 100px;" class="infotitlecolumn">
                            Client:</td>
                        <td> 
                            <div data-bind="html: $root.CurrentKFA().Name">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;" class="infotitlecolumn">
                            Project ID:
                        </td>
                        <td>
                            <div data-bind="html : $root.CurrentProject().ProjectCode">
                            </div>
                        </td>
                        <td style="width: 100px;" class="infotitlecolumn">
                            Project Progress:
                        </td>
                        <td>
                            <select data-bind="value:$root.CurrentProject().IconStatus" style="width: 130px;">
                                <option class="greenlight" value="Green">On Track</option>
                                <option class="yellowlight" value="Yellow">Corrective Actions</option>
                                <option class="redlight" value="Red">Critical</option>
                            </select>
                            
                        </td>
                        <td style="width: 100px;" class="infotitlecolumn">
                            Sub_KFA:
                        </td>
                        <td>
                           <span data-bind="html: $root.CurrentProject().SubKFA" style="padding-right: 160px">
                            </span>
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 150px;" class="infotitlecolumn">
                            
                            Project Charter Approved
                        </td>
                        <td>
                            <div data-bind="css:{checkedvalue:$root.Check(),noncheckedvalue:(!$root.Check())}"
                                class="checkedvalue">
                            </div>
                        </td>
                        <td style="width: 100px;" class="infotitlecolumn">
                            Project Status:
                        </td>
                        <td>
                            <select data-bind="value:$root.CurrentProject().Status" style="width: 100px;">
                                <option class="greenlight" value="Start">Start</option>
                                <option class="greenlight" value="In-Progress">In-Progress</option>
                                <option class="redlight" value="Completed">Completed</option>
                                <option class="redlight" value="Cancelled">Cancelled</option>
                                <option class="yellowlight" value="On hold">On hold</option>
                                <option class="redlight" value="Closed">Closed</option>
                            </select>
                        </td>
                    </tr>

                   
                </table>
            </div>
           
        </div>
        <!-- /ko -->
    </div>
</div>*@