﻿<ul class="pnav">
    <li >
        <div data-toggle="dropdown">            
            > PROJECTS NAV
        </div>
        <ul class="dropdown-menu" data-bind="foreach:$root.NavModel.NavKFAs">
            <li class="dropdown-submenu" data-bind="visible:(Projects().length > 0)"><a  href="#" >
                    <span data-bind="html:Name"></span>
                </a>
                <ul class="dropdown-menu" data-bind="foreach:Projects">
                    <li>
                            <a href="#" data-bind="attr: { href: ActionUrl}"><span data-bind="html:Name"></span></a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </li>       
</ul>


 <script id="projectNavItem" type="text/html">
      
</script>

<script type="text/javascript">
    var GetNavUrl = {           
        getActionPlanByProjectID:"@Url.Action("GetActionPlanByProjectID", "UserPortalAjax")",        
        getKFA : "@Url.Action("GetKFA", "UserPortalAjax")",
        getListKFAs: "@Url.Action("GetListKFA","UserPortalAjax")",
        getListProjectByKFAID:"@Url.Action("GetListProjectByKFAID", "UserPortalAjax")"
    }

    var NavViewModel = function () {
        var self = this;        
        self.NavKFAs = ko.observableArray([]);
        /*self.selectNavKFA = function (kfa) {
            ko.utils.arrayForEach(self.NavKFAs(), function (kfa1) { kfa1.Active(false); });
            kfa.Active(true);
            self.CurrentNavKFA(kfa);
            InitNavProject(self.CurrentNavKFA());
        };*/
        function StartInitNavKFAs(){
            $.post(GetNavUrl.getListKFAs, {}, FinishInitNavKFAs);
        }
        StartInitNavKFAs();

        function FinishInitNavKFAs(data) {            
            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                var arrKFA = ko.utils.arrayMap(data.KFAs, function (kfa) {
                    return new KFA(kfa.KFAID, kfa.Name, "");
                });
                if (arrKFA.length > 0) {                    
                    self.NavKFAs(arrKFA);
                    var index;
                    for (index = 0; index < arrKFA.length; ++index) {
                        
                        InitNavProject(self.NavKFAs()[index]);
                    }                 
                }
            }
        }
        function InitNavProject(kfa) {
            $.post(GetNavUrl.getListProjectByKFAID, { kfaID: kfa.KFAID() }, FinishInitNavProject);
        }
        function FinishInitNavProject(data) {
            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                var currentkfa = ko.utils.arrayFirst(self.NavKFAs(), function (kfa) {
                    return kfa.KFAID() == data.KFAID;
                });
                currentkfa.Projects.removeAll();
                var arrProject = ko.utils.arrayMap(data.Projects, function (project) {
                    var returnProject = new Project(project.ProjectID, project.KFAID, project.Name, "");
                    return returnProject;
                });
                if (arrProject.length > 0) {
                    for (var i = 0; i < arrProject.length; i++) 
                    {
                        var str= PageUrl+"?kfaid="+currentkfa.KFAID()+"&pid="+arrProject[i].ProjectID();
                        arrProject[i].ActionUrl(str);
                        currentkfa.Projects.push(arrProject[i]);
                    }
                }
            }

        }
    }
</script>