﻿@using Base.ViewModel.Core.Template;
@model dynamic
@{
    Layout = null;
 }
@{
     List<FieldMappingPoint> fields =  ViewBag.MappingPoints;
     string name = Html.ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix;
     FieldMappingPoint field = fields.SingleOrDefault(f => f.FieldName == name);
     if(field==null)
     {
         field = new FieldMappingPoint(0, 0, true, true,"", 0, 0, 0, 0, 0, 0, name, "", null);
     }    
}
@if (field.HasLabel)
{ 
    <div class="span@(field.LabelSpan) offset@(field.LabelOffset)" style="@(field.LabelStyle)">
        @Html.LabelForModel(field.LabelText)
    </div>
}
<div class="span@(field.FieldSpan) offset@(field.FieldOffset)" style="@(field.FieldStyle)">
    @RenderBody()
</div>
@if (field.HasValidation) 
{ 
    <div class="span@(field.ValidationSpan) offset@(field.ValidationOffset)" style="@(field.ValidationStyle)">
    @Html.ValidationMessage("")
    </div>
}
