﻿@model Base.ViewModel.Core.Template.AlbumTemplate
@{

    string slideItemContent = @" <li style='width:auto;display:inline;'>
                                     <div>
                                         <a href='{0}' data-toggle='tab'>
                                             <img alt='Shopping' class='icon' src='{1}' width='35'  />{2}</a> 
                                     </div>
                                  </li>";
    string slideItem = @"
                              <div style='height:30px;' class='item {0}'>
                                 <ul class='thumbnails'>
                                   {1}
                                 </ul>
                              </div>
                           ";
    string htmlItem = string.Empty;
    string htmlItemContent = string.Empty;
    for (int j = 0; j < Model.listTemplate.Count; j++)
    {
        htmlItemContent += string.Format(slideItemContent, "#tabpanel_" + Model.listTemplate[j].PanelName, "/images/poster.png", Model.listTemplate[j].PanelTitle);

        if ((j % 4) == 0)
        {
            string active = j == 4 ? "active" : string.Empty;
            htmlItem += string.Format(slideItem, active, htmlItemContent);
            htmlItemContent = string.Empty;
        }
    }
    
    
}
<hr />
<div id="tabcontrol_tabAlbum" class="tabbable ">
    <div id='myCarousel' class='carousel slide'>
        <div class='carousel-inner'>
            @Html.Raw(htmlItem)
        </div>
        <a class='carousel-control left' href='#myCarousel' data-slide='prev'>&lsaquo;</a>
        <a class='carousel-control right' href='#myCarousel' data-slide='next'>&rsaquo;</a>
    </div>
    <div class="tab-content">
        @{
            int i = 0 ;
            foreach (var panel in Model.listTemplate)
            {
                i++;
               
                    string active = panel.Active ? "active" : "";
                    <div class="tab-pane @(active)" id="tabpanel_@(panel.PanelName)">
                        <div class="row">
                            <div class="col-md-12 offset0">
                                <div id="gallery@(panel.PanelName)@(i)" data-target="#modal-gallery" data-toggle="modal-gallery">
                                    @{
                if (panel.Type == "Local Album")
                {
                    foreach (var imageName in panel.ListImageName)
                    { 
                                               <a rel='gallery' href='@(imageName)'>
                                                   <img style='height: 70px; width: 70px' src='@(imageName)'  alt='No Image' title='@(imageName)' />
                                               </a>
                    }
                }
                else
                { 
                    <script type="text/javascript">
                    $(function(){
                        LoadTwitterGallery("@(panel.AlbumUrl)","gallery@(panel.PanelName)@(i)");
                                });
                    </script>
                }
                                    }
                               </div>
                           </div>
                        </div> 
                    </div>
                }
            }
    </div>
</div>
