﻿@model DateTime?
@{
    Layout = "~/Views/Shared/EditorTemplates/_FieldLayout.cshtml";
}
@{
    var name = Html.ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix;
    var id = Html.ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix.Replace('.', '_');
    string val = string.Empty;
    string datadate = DateTime.Now.ToString("MM/dd/yyyy");
    if (Model.HasValue){
        val = Model.Value.ToString("MM/dd/yyyy");
        datadate = val;
    }
    List<Base.ViewModel.Core.Template.FieldMappingPoint> fields = ViewBag.MappingPoints;    
    Base.ViewModel.Core.Template.FieldMappingPoint field = fields.SingleOrDefault(f => f.FieldName == name); 
    
}
<div class="input-append date" id="div@(id)" data-date="@datadate" data-date-format="mm/dd/yyyy">
    @Html.TextBox("", val, field.HtmlAttributes)
    <span class="add-on"><i class="icon-th"></i></span>
</div>
<script type="text/javascript">
    $(function () {
        $('.input-append').datepicker();
    });
</script>


