﻿@model WebAPI.Model.DTO.PhotoGallery
<div class="row">
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              Your album
            </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner" style="padding:5px;">
                @{
                    foreach (string imageName in Model.ListPhoto)
                    { 
                        string url = Url.Content(Model.Path)+"/"+imageName;
                        @:<div class="col-md-1">
                            @:<img src="@url" alt="@imageName" width="120px" />
                            <a href="@Url.Action("RemoveImage", "Album", new { albumID =Model.AlbumID ,name=imageName})" class="btn removeImage"><i class='icon-remove'></i></a>
                        @:</div>
                    }    
                }
            </div>
        </div>
    </div>
</div>
</div>
<div class ="row">
   <div class="col-md-12">
      <div class="well">
        <div class="row">
             <div  class="col-md-2">
        <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="fileupload-new thumbnail" style="width: 120px;"><img src="" /></div>
                <div class="fileupload-preview fileupload-exists thumbnail" style="border:0px; max-width:120px;">
            </div>
            <div>
                <span class="btn btn-file"><span class="fileupload-new">Select image</span><span
                    class="fileupload-exists">Change</span>@Html.TextBox("file01","",new {@type="file"})</span> <a href="#" class="btn fileupload-exists"
                        data-dismiss="fileupload">Remove</a>
            </div>
        </div>
    </div>
             <div class="col-md-2">
        <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="fileupload-new thumbnail" style="width: 120px;"><img src="" /></div>
                <div class="fileupload-preview fileupload-exists thumbnail" style="border:0px; max-width:120px;">
            </div>
            <div>
                <span class="btn btn-file"><span class="fileupload-new">Select image</span><span
                    class="fileupload-exists">Change</span>@Html.TextBox("file02","",new {@type="file"})</span> <a href="#" class="btn fileupload-exists"
                        data-dismiss="fileupload">Remove</a>
            </div>
        </div>
    </div>
             <div class="col-md-2">
        <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="fileupload-new thumbnail" style="width: 120px;"><img src="" /></div>
                <div class="fileupload-preview fileupload-exists thumbnail" style="border:0px; max-width:120px;">
            </div>
            <div>
                <span class="btn btn-file"><span class="fileupload-new">Select image</span><span
                    class="fileupload-exists">Change</span>@Html.TextBox("file03","",new {@type="file"})</span> <a href="#" class="btn fileupload-exists"
                        data-dismiss="fileupload">Remove</a>
            </div>
        </div>
    </div>
             <div class="col-md-2">
        <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="fileupload-new thumbnail" style="width: 120px;"><img src="" /></div>
                <div class="fileupload-preview fileupload-exists thumbnail" style="border:0px; max-width:120px;">
            </div>
            <div>
                <span class="btn btn-file"><span class="fileupload-new">Select image</span><span
                    class="fileupload-exists">Change</span>@Html.TextBox("file03","",new {@type="file"})</span> <a href="#" class="btn fileupload-exists"
                        data-dismiss="fileupload">Remove</a>
            </div>
        </div>
    </div>
             <div class="col-md-2">
        <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="fileupload-new thumbnail" style="width: 120px;"><img src="" /></div>
                <div class="fileupload-preview fileupload-exists thumbnail" style="border:0px; max-width:120px;">
            </div>
            <div>
                <span class="btn btn-file"><span class="fileupload-new">Select image</span><span
                    class="fileupload-exists">Change</span>@Html.TextBox("file03","",new {@type="file"})</span> <a href="#" class="btn fileupload-exists"
                        data-dismiss="fileupload">Remove</a>
            </div>
        </div>
    </div>
        </div>
      </div>
    </div>
</div>
@Html.HiddenFor(t=>Model.AlbumID)
@Html.HiddenFor(t=>Model.Path)
<script type = "text/javascript">
    $(function () {
        $(".removeImage").bind("click", function (e) {
            e.preventDefault();
            RemoveImage(this);
        });
    });
    function RemoveImage(image) {
        var url = $(image).attr('href');
        $.get(url, function (data) {
            if (data == "True") {
                $(image).parent().hide();
            } else {
                alert("Can't delete image! Please try again later!");
            }
        });
    }
</script>






