﻿@{
    Layout = "~/Views/Shared/EditorTemplates/_FieldLayout.cshtml";
}
@{
    string name = Html.ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix;
    string id = name.Replace('.', '_');
    IDictionary<string, object> validationAttributes = this.Html.GetUnobtrusiveValidationAttributes(Html.ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix, ViewData.ModelMetadata);
}

@{ Html.Kendo().Editor()
        .Name(name)
        .HtmlAttributes(new { id= id, style = "width: 740px;height:440px" })
        .Tools(tools => tools
            .Clear()               
            .FontName().FontSize()
            .FontColor().BackColor()
            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
            .InsertUnorderedList().InsertOrderedList()
            .Indent().Outdent()
            .CreateLink().Unlink()
            .InsertImage()
            .FormatBlock()
            .Styles(styles => styles
                .Add("Highlight", "highlight")
                .Add("Code block", "code")
            )
            .ViewHtml()
            .Bold()
            .Underline()
            .Italic()
               
            )
        .Value(@<text> 
                    @Html.Raw(ViewData.TemplateInfo.FormattedModelValue)
                    </text>)
        .ImageBrowser(imageBrowser => imageBrowser
        .Image("~/Content/UserFiles/Images/{0}")
        .Read("Read", "ImageBrowser")
        .Create("Create", "ImageBrowser")
        .Destroy("Destroy", "ImageBrowser")
        .Upload("Upload", "ImageBrowser")
        .Thumbnail("Thumbnail", "ImageBrowser"))
        .Encode(false)
        .Render();
}

@*

 @{ Html.Kendo().Editor()
           .Name(name)
           .Tools(tools => tools
               .Clear()
               .Bold().Italic().Underline().Strikethrough().Subscript().Superscript().Separator()
               .FontName().FontSize()
               .FontColor().BackColor().Separator()
               .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull().Separator()
               .InsertUnorderedList().InsertOrderedList().Separator()
               .Indent().Outdent().Separator()
               .CreateLink().Unlink().Separator()
               .InsertImage()
               .Break()
               .FormatBlock()
               .Styles(styles => styles
                   .Add("Highlight", "highlight")
                   .Add("Code block", "code")
               )
               .ViewHTML()
           )
           .HtmlAttributes(new {id=id, style = "height:400px", validationAttributes })
           .Encode(false)
           .Value(@<text> 
                    @Html.Raw(ViewData.TemplateInfo.FormattedModelValue)
                    </text>)
            .FileBrowser(t => t.Browse("Browse", "ImageBrowser")
            .Thumbnail("Thumbnail", "ImageBrowser")
            .Upload("Upload", "ImageBrowser")
            .DeleteFile("DeleteFile", "ImageBrowser")
            .DeleteDirectory("DeleteDirectory", "ImageBrowser")
            .CreateDirectory("CreateDirectory", "ImageBrowser"))
            .Render();
}*@