﻿@{
    Layout = null;
}
<div class="fileupload fileupload-new" data-provides="fileupload">
    <div class="fileupload-new thumbnail" style="width: 200px; height: 220px;"><img src="@Model" /></div>
        <div class="fileupload-preview fileupload-exists thumbnail" style="border:0px; max-width:200px; max-height:220px">
    </div>
    <div>
        <span class="btn btn-file"><span class="fileupload-new">Select image</span><span
            class="fileupload-exists">Change</span>@Html.TextBox("file01","",new {@type="file"})</span> <a href="#" class="btn fileupload-exists"
                data-dismiss="fileupload">Remove</a>
        @Html.HiddenFor(m=>Model)
    </div>
</div>
