﻿@{
    Layout = "~/Views/Shared/EditorTemplates/_FieldLayout.cshtml";
}
<div class="fileupload fileupload-new" data-provides="fileupload">
    <div class="fileupload-new thumbnail" style="width: 200px; height: 220px;"><img src="@Model" /></div>
        <div class="fileupload-preview fileupload-exists thumbnail" style="border:0px; max-width:200px; max-height:220px">
    </div>
    
</div>
