
.mydropdown {
    /* Size and position */
    position: absolute; /* Enable absolute positionning for children and pseudo elements */
    width: 200px;
    top:10px; left:-5px;
    padding: 5px 5px;

    /* Styles */
    background: #fff;
    border:1px solid #eeeeee;
    cursor: pointer;
    outline: none;
    font-family:Segoe UI;
	font-size:12px;
	box-shadow:1px 1px 2px rgba(150,150,150,0.1) ,-1px -1px 2px rgba(150,150,150,0.1);
}

.mydropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: grey transparent;
}

.mydropdown .streamul {
  /* Size & position */
    position: absolute;
    top: 100%;
    left: -5px;
    right: -1px;

    /* Styles */
    background: white;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
    margin-left:4px;
    border-left:1px solid #eeeeee;
    border-right:1px solid #eeeeee;
    border-bottom:1px solid #eeeeee;
    box-shadow:1px 0px 2px rgba(150,150,150,0.1) , -1px 0px 2px rgba(150,150,150,0.1);
    
}

.mydropdown .streamul li a {
    display: block;
    text-decoration: none;
    color: #333;
    margin-left:1px;
    border-left: 1px solid;
    padding: 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}



.mydropdown .streamul li:nth-child a {
    border-left-color: #4183C4;
}
.mydropdown .streamul li:nth-child(odd) a { 
    border-left-color: #00ACED;
}


/* Hover state */

.mydropdown .streamul li:hover a {
    color: grey;
}

/* Active state */

.mydropdown.active:after {
    border-width: 0 6px 6px 6px;
}

.mydropdown.active .streamul {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .mydropdown .streamul,
.no-pointerevents .mydropdown .streamul {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .mydropdown.active .streamul,
.no-pointerevents .mydropdown.active .streamul {
    display: block;
}
