@font-face {
	font-family: 'Neutra2TextTT-Bold';
	font-weight: bold;
	letter-spacing:		1px;
	
	src: url('fonts/Neutra2TextTT-Bold.eot'); /* IE */
	src: url('fonts/Neutra2TextTT-Bold1.eot?#iefix') format('embedded-opentype'), 
		 url( 'fonts/Neutra2TextTT-Bold.woff') format("woff"); 
}
