td
{
    margin: 0;
    border-top-width: 0px;
    white-space: nowrap;
    color:#787878;
}
      
.yearcol
{
    height:40px;
}

.cyearcol 
{
    text-align: center;
    color: rgb(67, 130, 176);
    font-family:Segoe UI;
    font-size:33px;
    height:40px;
    background-color:#E0E0E0;
    border-top:  1px solid #B5B5B5;
    
}
.year1
{
    background-color: #ffffff;
}
.year2
{
    background-color: #ffffff;
}
.year3
{
    background-color: #ffffff;
}
.quartercol
{
    height:30px;
}
.cquartercol 
{
    text-align: center;
    color: rgb(67, 130, 176);
    font-size:12px;
    font-family:Segoe UI;
    height:30px;
    font-weight:bold;
}

.quarter1
{
    background-color: #ededed;
}
.quarter2
{
    background-color: #e0e0e0;
}
.quarter3
{
    background-color: #d7d7d7;
}
.quarter4
{
    background-color: #d1d1d1;
}
.month1 ,.month2 ,.month3
{
    background-color: #ededed;
}
.month4 ,.month5 ,.month6
{
    background-color: #e0e0e0;
}
.month7 ,.month8 ,.month9
{
    background-color: #d7d7d7;
}
.month10 ,.month11 ,.month12
{
    background-color: #d1d1d1;
}



.monthcol
{
    height:20px;
}
.cmonthcol
{
    text-align: center;
    color: rgb(67, 130, 176);
    font-size:12px;
    font-weight:bold;
    height:20px;
}  
        

       
tr.actualtargetrow td
{
    font-family:Segoe UI;        
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
    color: #494b4d;
    font-weight:bold;
}       
.targetcell
{
    text-align: center;
    
}
.actualcell
{
    width:50px;
}        
        
tr.normalRow td
{
    background: #FFF;
            
    border-top: none;
    padding: 2px 3px 3px 4px;
}
        
 
.contenttable tr
{
    border-bottom: 1px solid #B5B5B5;
    border-left:  1px solid #B5B5B5;
    border-right: 1px solid #B5B5B5;
}
.contenttable td
{
    border-left:  1px solid #B5B5B5 !important;    
}


.headertable tr
{
    border-bottom: 1px solid #ffffff;
    border-left:  1px solid #ffffff;
    border-right: 1px solid #ffffff;
}
.headertable td
{
    border-left:  1px solid #ffffff;
    border-right: 1px solid #ffffff;
}
        
tr.alternateRow td
{
    background: #f5f5f5;
    border-top: none;
    padding: 2px 3px 3px 4px;
}
        
        
.kpirowtable
{
    padding-bottom: 1px;
    margin-bottom: 10px;
            
}
        
.kpirowtable input[type="text"]
{
        font-size:11px;   
        margin-bottom:2px;
        font-family:Tahoma;
        height:15px;
}
.kpirowtable select
{
    height:25px;
    font-size:11px;
    font-family:Tahoma;
}
        
.kpirowtable table
{
            
}
        
.headcol
{
    position: relative;
    left: 0px;
    top: auto;
    color: #525252;
    font-size: 11px;
    font-weight:bold;
}
.headcol span
{
    margin-right: 5px;
}

.headertable .headcol span
{
    float:right;
}
        


.colwith
{
    text-align: center;
    height:27px;
}
.hcolwith
{
    height:27px;
}        
        
.kpiitemeditholder
{
    display: inline;
    position: relative;
    top: 0px;
    left: 0px;
    float: left;
}
.kpiitemvalue
{
    display: inline;
    position: relative;
    top: 0px;
    left: 0px;
    float: left;
    text-align: center;
}
        
tr.editRow td
{
    color: Red;
}
.headertable table
{
    
}

.contenttable
{
    /*border: 1px solid #B5B5B5;
    background-color:#eeeeee;*/
    overflow-x:auto;
}

.hiddencol
{
    display:none;
}
.colwith
{
    min-height:20px;
}
.statusheadcol
{
    border: 1px solid #C9CFD4;
}