.adminul
{
    list-style-type:none;
    margin-left:15px;
}

.adminul li
{
    float:left; margin-right:15px;
}
.adminul li a
{
    color:#ffffff;
    text-decoration:none;
}

.adminul li a:hover
{
    font-weight:bold;
}

#adminlist
{
    display:block;
    padding:5px;
    background-color:#2b2700;
    
}