.k-grid td
{
    border-left: 1px dashed #B5B5B5;
    border-right: 0px solid #ffffff;
    border-top: 0px solid #ffffff;
    border-bottom: 1px dashed #B5B5B5;
}


.tabletd
{
    border-left: 1px dashed #B5B5B5 !important;
    border-right: 0px solid #ffffff;
    border-top: 0px solid #ffffff;
    border-bottom: 1px dashed #B5B5B5 !important;
}



.k-grid td> a
{
    font-weight:bold;
    color:#7ABEEB;
}

.k-header
{
    background-color: transparent;
}

.k-grid-header .k-header
{
    border-left: 1px dashed #B5B5B5;
}


.kalt
{
    background-color:rgb(245, 245, 245);
}

.k-header
{
    font-size:14px;
    text-transform:uppercase;
    font-family: Abel;
    font-weight:bold !important;
    
}     

.k-header .k-link
{
    color:#0D2A5E;
}     

.normalrow
{
    background-color:#f5f5f5
}

.k-widget {
    
    padding-left:0px;
    padding-right:0px;
    border:solid 0px #ffffff;
}

.k-grid table {
    border:solid 1px #B5B5B5;
}

.k-grid-header {
    border-bottom-color: #B5B5B5;
    border-left-color: #B5B5B5;
    border-right-color: #B5B5B5;
    border-top-color: #B5B5B5;
}

.flowtable td{
    border:solid 0px #ffffff;
}

.flowtable{
    border:solid 0px #ffffff !important;
}