

a:hover {
	text-decoration: none;
}

/* Header */
#header {
    height: 54px;
    position: fixed;
    z-index: 200;
    
    
}
.header
{
    top:0px;
    left:160px;
    
    -webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}

.slideheaderLeft {
	left: 0px;
}


#header h1 a {
    display: block;
}


#logo
{
    position:absolute;
    top:0px;
    left:0px;
    width:175px;
    height:54px;
}

/* Top user navigation */
#user-nav {
    position:fixed;
    top:0px;
    right:120px;
    z-index: 20;
    margin: 0;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1),  -1px -1px 1px rgba(0,0,0,0.1)  ;
}
#user-nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#user-nav > ul > li {
    float: left;
    list-style-type: none;
    margin: 0;
    position: relative;
    padding: 0;
}

#user-nav > ul > li > a {
	padding: 6px 10px;
	display: block;
	font-size: 10px;
}

#user-nav > ul > li > a:hover, #user-nav > ul > li.open > a {
	
}
#user-nav > ul > li > a > i, #sidebar li a i {
	vertical-align: top;
	margin-top: 2px;
}
#user-nav > ul > li > a:hover > i, #user-nav > ul > li.open > a > i {
	
}

#user-nav > ul > li > a > .label {
	vertical-align: middle;
	padding: 1px 4px 1px;
	margin: -2px 4px 0;
	display: inline-block;
	cursor:pointer;
}


#user-nav > ul ul > li > a {
	text-align: left;
	/*text-shadow: 0 1px 0 #ffffff;*/
}
#user-nav > ul ul > li > a:hover {
	/*text-shadow: 0 1px 0 rgba(0,0,0,0.5);*/
}


/* Sidebar Navigation */
#sidebar {
    
    width: 230px;
}

#sidebarcontainer
{
    position:relative;
    top:0px;
    left:0px;
    width: 244px;
    padding-top:70px;
    background-color:#ffffff; 
    /*background-color:rgb(243, 243, 245); 
    border-right:solid 1px rgb(240, 240, 240);*/
}

#sidebar > ul {
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0;
	position: absolute;
	width: 230px;
}
#sidebar > ul > li {
	display: block;	
	position: relative;
}

#sidebar > ul > li > a {
	padding: 10px 0 10px 15px;
	display: block;
	color: #000000;
	font-size:18px;
    font-family:Roboto Condensed;
}

#sidebar > ul > li > a > i {
	margin-right: 10px;
}


#sidebar > ul > li > a > .label {
	margin: 0 20px 0 0;
	float: right;
	padding: 3px 5px 2px;
	/*box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset, 0 1px 0 rgba(255,255,255,0.2);*/
}

#sidebar > ul ul {
	display: none;
	margin: 0;
	padding: 0;
	/*box-shadow: 0 0 3px rgba(0,0,0,0.5) inset;*/
}
#sidebar > ul li.open ul {
	display: block;
}
#sidebar > ul ul li a{
	padding: 10px 0 10px 25px;
	display: block;
	color: #000000;
	font-family:PT Sans;
	font-size:12px;
	font-style:italic;
}




#sidebar > ul > li.open.submenu > a {
	border-bottom: 1px solid #000000;
}
#sidebar > ul > li.open.active.submenu > a {
	border-bottom: 1px solid #000000;
}


#mainseperator {
    background: url("../img/mainsep.png") no-repeat scroll right center transparent ;
    width:43px;
    height:0px;
    z-index:190;
}
.mainseperator
{
    position:absolute;
    top:40px;
    left:240px;
    -webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}

.slidemainseperatorLeft {
	left: 0px;
}

.container .row:first-child {
	margin-top: 0px;
}

#tooltip {
	position: absolute;
	display:none;
	border: none;
	padding: 3px 8px;
	border-radius: 3px;
	font-size: 10px;
	background-color: #222222;
	color: #ffffff;
	z-index: 25;
}

.user-thumb {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B6BCBF;
    float: left;
    height: 40px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 2px;
    width: 40px;
}
.user-info {
    color: #666666;
    font-size: 11px;
}


/* INPUT & TEXTAREA */

input.text,
input.email, 
input.password,
textarea.uniform {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 3px;
  color: #777;
  background: url('../img/bg-input-focus.png') repeat-x 0px 0px;
  background: url('../img/bg-input.png') repeat-x 0px 0px;
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline:none;
}

input.text:focus,
input.email:focus,
input.password:focus,
textarea.uniform:focus {
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  border-color: #999;
  background: url('../img/bg-input-focus.png') repeat-x 0px 0px;
}


/* Button */

div.button {
  height: 30px;
}

div.button span {
  margin-left: 13px;
  height: 22px;
  padding-top: 8px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 2px;
  padding-right: 15px;
}




/* Button */

div.button a,
div.button button,
div.button input {
  position: absolute;
}

div.button {
  cursor: pointer;
  position: relative;
}

div.button span {
  display: -moz-inline-box;
  display: inline-block;
  line-height: 1;
  text-align: center;
}







#search input[type=text], #search button {
	background-color: #969696;
}
#search input[type=text]:focus {
	color: #ffffff;
}






.jspVerticalBar
{
    width: 10px;
    background: transparent;
    right: 0px;
}
        
.jspHorizontalBar
{
    bottom: 5px;
    
    height: 8px;
    background: transparent;
}
.jspTrack
{
    background: transparent;
    width: 10px;
}
.jspTrackHover
{
    background-color: rgba(0, 0, 0, .15);
    -webkit-border-radius: 8px;
}
.jspDrag
{
    background: url(https://lh3.googleusercontent.com/-8A0Z59Plxtc/UOUPS8ly2yI/AAAAAAAAEZo/2nXJMgkflX8/s1/transparent-black.png) repeat;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: width 250ms;
    width: 5px;
}
        
.jspHorizontalBar .jspTrack, .jspHorizontalBar
{
    float: left;
    
}
.jspDrag
{
    float: right;
}
        
        
.jspCorner
{
    display: none;
}

.container
{
    padding-right:0px;
}

.row
{
    margin:0px 0px 0px 0px;
}

.btn-group >:first-child.btn
{
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}

.btn-group >:last-child.btn
{
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
}

.btn-inverse
{
    text-shadow: none;
}


#contentheader
{
    position: absolute;
    z-index:9;
   
}
.contentheader
{
    top:55px; left:30px;
     -webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}
.contentheaderleft
{
    left:-220px;
}

#contentheader select
{
    height:28px;
    font-size: 12px;
    font-family:PT Sans;
    margin-top:-8px;
}


/* Breadcrumb */
#breadcrumb {
	/*background-color: #e5e5e5;
	box-shadow: 0 0 1px #ffffff;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
    padding-left: 10px;
*/
	margin-left:250px;
}
#breadcrumb a {
	padding: 8px 20px 0px 10px;
	display: inline-block;
	font-size: 28px;
    font-family:PT Sans;
    margin-top:4px;
	color: #000000;
}
#breadcrumb a:hover {
	
}
#breadcrumb a:last-child {
	background-image:none;
}

#breadcrumb a i {
	margin-right: 0px;
	margin-top:12px;
	opacity: .6;
}
#breadcrumb a:hover i {
	
}
#buttoncontainer
{
    top:0px;
    left:340px;
    width:400px;
    height:30px;
    position:absolute;
    z-index:300;
}

.menu-button:hover {
	font-weight:bold;
}


.menu-button 
{
    margin-left:10px;
	cursor: pointer;
	font-family:PT Sans;
	font-style:italic;
	font-size:12px;
	font-weight:normal;
	background-color:#cccccc;
	color:#ffffff;
	padding:4px;
	padding-right:8px;
	border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}
.menu-button i
{
    margin-top:1px;
}


#copyright
{
    position:absolute;
    top:0px;
    right:0px;
    z-index:200;
}

