/**
 * Unicorn Admin Template
 * Diablo9983 -> diablo9983@gmail.com
**/
body {
	background-color: #ffffff;
}

#header {
    
}

#search input[type=text], #search button {
	background-color: #969696;
}
#search input[type=text]:focus {
	color: #ffffff;
}

#sidebar > ul {
	/*border-top: 1px solid #393939;
	border-bottom: 1px solid #4E4E4E;*/
}
#sidebar > ul > li {
	/*border-top: 1px solid #4E4E4E;
	border-bottom: 1px solid #393939;*/
}
#sidebar > ul > li.active {
    /*background-color: #c0c0c0;*/
	/*background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#333333), to(#3F3F3F));
	background-image: -webkit-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: -moz-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: -ms-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: -o-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: linear-gradient(top, #333333 0%, #3F3F3F 100%);*/
}

#sidebar > ul > li.open.submenu > a {
	border-bottom: 1px solid #000000;
}
#sidebar > ul > li.open.active.submenu > a {
	border-bottom: 1px solid #000000;
}
#sidebar > ul > li > a > .label {
	background-color: #e5e5e5;
}
#sidebar > ul > li > a:hover {
	/*background-color: #4A4A4A;*/
	font-style:italic;
}
#sidebar > ul ul {
	/*border-top: 1px solid #4E4E4E;
	background-color: #2A2A2A;*/
}
#sidebar > ul ul li a {
	/*border-top: 1px solid #333333;
	border-bottom: 1px solid #202020;*/
}
#sidebar > ul ul li a:hover, #sidebar > ul ul li.active a 
{
    font-style:italic;
	/*color: #7194ca;*/
	/*background-color: #c6c6c6;*/
}

.dropdown-menu li a:hover, .dropdown-menu .active a, .dropdown-menu .active a:hover {
    color: #eeeeee;
	background-color: #444444;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, #555555, #222222);
    background-image: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
    background-image: -moz-linear-gradient(top, #555555 0%, #222222 100%);
    background-image: -ms-linear-gradient(top, #555555 0%, #222222 100%);
    background-image: -o-linear-gradient(top, #555555 0%, #222222 100%);
    background-image: linear-gradient(top, #555555 0%, #222222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
}

@media (max-width: 480px) {
	#sidebar > a {
		background-image: -moz-linear-gradient(top, #464646 0%, #404040 100%);
		/*border-bottom: 1px solid #6e6e6e;*/
		background-color: #444444;
	}
	#sidebar > ul {
		background-color: #444444;
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	#sidebar > ul ul:before {
		border-right: 7px solid rgba(0, 0, 0, 0.2);
	}
	#sidebar > ul ul:after {
		border-right: 6px solid #222222;
    }
}
