<!-- ko if: IsEdit()===false -->
        <div class="form-group">
            <label for="ctrlProjectID" class="col-md-2 control-label">@MemeMVC.Resource.Map.Admin.Label_Table_ProjectID</label>
            <div class="col-md-10">
                <span  data-bind="html:ProjectName" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.Map.Admin.Label_Table_Name</label>
            <div class="col-md-10">
                <span data-bind="html:Name" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.Map.Admin.Label_Table_Description</label>
            <div class="col-md-10">
                <span data-bind="html:Description" ></span>
            </div>
        </div>
<!-- /ko -->
<!-- ko if: IsEdit()===true -->
        <div class="form-group">
            <label for="ctrlProjectID" class="col-md-2 control-label">@MemeMVC.Resource.Map.Admin.Label_Table_ProjectID</label>
            <div class="col-md-10">
                <select id="ctrlProjectID" data-bind="options: $parent.ProjectsVM().ArrProject,optionsText:'Name',optionsValue:'ProjectID',optionsCaption:'@MemeMVC.Resource.Map.Admin.PlaceHolder_Table_ProjectID',value:ProjectID" class="form-control col-md-12" ></select>
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlName" class="col-md-2 control-label">@MemeMVC.Resource.Map.Admin.Label_Table_Name</label>
            <div class="col-md-10">
                <input id="ctrlName" type="text" data-bind="value:Name" class="form-control col-md-12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ctrlDescription" class="col-md-2 control-label">@MemeMVC.Resource.Map.Admin.Label_Table_Description</label>
            <div class="col-md-10">
                <input id="ctrlDescription" type="text" data-bind="value:Description" class="form-control col-md-12" />
            </div>
        </div>
<!-- /ko -->
