@Html.Partial("_CommonScript")
@Html.Partial("~/Views/Project/_ProjectJScript.cshtml")
@Html.Partial("~/Views/Project/_ProjectViewModelJScript.cshtml")
@Html.Partial("_MapJScript")
@Html.Partial("_MapPageViewModelsJScript")
<script src="~/Content/memeplugin/jquery-tip_cards.js"></script>

<script type="text/javascript">
    var IndexModel = function () {
        var self = this;
        self.Processing = ko.observable(new ModelProcessing());
        self.Transition = ko.observable(new ModelTransition());
        self.MapsVM = ko.observable(null);
        self.ProjectVM = ko.observable(null);
        self.ProjectName = ko.observable(null);

        self.InitData = function () {

            //define view model 
            var projectvm = new ProjectViewModel();
            projectvm.InitModel(self.Transition, self.Processing);
            self.ProjectVM(projectvm);
            self.ProjectVM().SetProjectID('@ViewBag.ProjectID');
            self.ProjectVM().InitData();

            var mapsvm = new MapsPageViewModel();
            mapsvm.InitModel(self.Transition, self.Processing);
            self.MapsVM(mapsvm);
            self.MapsVM().SetSearchParam("ProjectID",@ViewBag.ProjectID);
            //set view model relation  
            //self.MapsVM().SetProjectsVM(self.ProjectsVM);
            //int main view model

            self.MapsVM().InitData();

            self.finishEditMap = function (item) {
                item.ProjectID('@ViewBag.ProjectID');
                self.MapsVM().finishEditMap(item);
            };

            self.ProjectVM().FFInit = function () {
                self.ProjectName(self.ProjectVM().Project().Name());
            };

            self.loadTipCard = function () {
                var intervalId = setInterval(function () {
                    if (mapsvm.ArrMap().length == $("#maplist >li").length) {
                        clearInterval(intervalId);


                        $(".tips").tip_cards({
                            entrance: "bottom", // This option let you determine the direction of the fly in entrance animation when all the cards appears. Available options are "bottom", "left", "right", and "top". The default value is "bottom".
                            column: 0, // The plugin also let you define how the card will be displayed and aligned. You can set the column of cards here. The default value is 4. 
                            margin: "1%", // You can define the margins between each cards here. Percentage is currently support at this point. The default is "1%".
                            selector: "> li", // You can define a custom selector if you do not want to use ul and li tags. This option accepts the normal CSS selector. The default value is "> li" 
                            hoverTilt: "", // Define the tilt direction when cards are hovered here. Available options are "right", "left", "up", and "down". The default value is "right".
                            triggerSelector: "> li a", // You can also define a custom selector for the trigger button here. The default value is "> li a" which will use the link inside a list as a trigger to activate the card. 
                            cardFlyDirection: "all", // You can define the card fly animation when the modal appears here. Available options are "all", "top", "bottom", "left", and "right". The default value is "all" which will have the cards fly in from all direction and stack up under the opened modal
                            closeButton: false, // You can define the content of the close button here. Change this to false to prevent the plugin from automatically generating the close button. The default string is "X".
                            flipButton: false, // You can define the content of the flip button here. Change this to false to prevent the plugin from automatically generating the flip button. The default string is "Flip".
                            navigation: true, // Set this to true to allow users to navigate from one card to another when modal is opened. Change it to false to disable it. The default value is true.
                            beforeOpen: null, // A callback function that will be executed before the modal opens.
                            afterOpen: null // A callback function that will be executed after the modal opens.
                        });
                    }
                }, 100);
            }

            mapsvm.SetFFInit(function () {
                self.loadTipCard();
            });

            mapsvm.SetListChanged(function () {
                self.loadTipCard();
            });
        };
    };
    var mv = new IndexModel();
    mv.InitData();
    ko.applyBindings(mv);
</script>