<script type="text/javascript">
    var MapViewModel = function () {
        var self = this;
        self.GetUrl = {
            getMap: "@Url.Action("Get", "Map")",
            saveMap: "@Url.Action("Save", "Map")",
            removeMap: "@Url.Action("Remove", "Map")",
            gotoMaster: "@Url.Action("Admin", "Map")",
            getGUIDString: "@Url.Action("GetGUIDString", "Map")"
        };
        self.MapID = ko.observable(null);
        self.Map = ko.observable(null);
        self.Transition = ko.observable(null);
        self.Processing = ko.observable(null);
        self.FFInit = ko.observable(null);
        self.ProjectsVM = ko.observable(null);
        self.InitModel = function (transition, processing) {
            self.Transition = transition;
            self.Processing = processing;
        };
        self.SetFFInit = function (ffinit) {
            self.FFInit(ffinit);
        };
        self.SetMapID = function (id) {
            self.MapID(id);
        }
        self.SetProjectsVM = function (projectsvm) {
            self.ProjectsVM = projectsvm;
        };
        self.InitData = function () {
            InitMap();
        };
        self.startEditMap = function (map) {
            map.OldValue(ko.toJS(map));
            map.IsEdit(true);
        }
        self.finishEditMap = function (map) {
            SaveMap(map);
        }
        self.cancelEditMap = function (map) {
            ResetMap(map);
            map.IsEdit(false);
        }
        self.removeMap = function (map) {
            DeleteMap(map);
        };
        self.completeMap = function (map) {
            CompleteMap(map);
        };
        self.goBackToHome = function () {
            window.location.href = self.GetUrl.gotoMaster;
        };
        function InitMap() {
            
            self.Processing().SetProcessing("Map", true);
            if (self.MapID() > 0) {
                $.post(self.GetUrl.getMap, { id: self.MapID() }, FinishInitMap);
            } else {
                $.post(self.GetUrl.getGUIDString, {}, FinishInitMapGUID);
            }
        };
        function FinishInitMap(data) {
            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                self.Map(self.ConvertDataToMap(data.Map));
            }
            if (self.FFInit() != null) self.FFInit()();
            self.Processing().SetProcessing("Map", false);
        }
        function FinishInitMapGUID(data) {
            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                var newMap = new Map(
                       0,
                       0,
                       "",
                       ""
                   );
                newMap.GUID(data.GUIDString);
                self.Map(newMap);
                self.Map().AllowEdit(true);
                self.Map().AllowRemove(true);
                self.Map().AllowSendTo(false);
                self.Map().AllowPrint(false);
                self.Map().AllowAddDetail(true);
                self.Map().IsEdit(true);
            }
            self.Processing().SetProcessing("Map", false);
        }
        function SaveMap(map) {
            if (ValidateMap(map)) {
                self.Processing().SetProcessing("Map", true);
                $.post(self.GetUrl.saveMap, ConvertMapToPostObject(map), FinishSaveMap);
            }
        }
        function ValidateMap(item) {
            if (item.ProjectID() != null) {
                if (self.ProjectsVM() != null) {
                    var project = ko.utils.arrayFirst(self.ProjectsVM().ArrProject(), function (project1) {
                        return project1.ProjectID() == item.ProjectID();
                    });
                    if (project != null) {
                        item.ProjectName(project.Name());
                    }
                }
            }
            else {
                item.ProjectName("");
            }
            return true;
        }
        function FinishSaveMap(data) {
            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                self.Map().MapID(data.Map.MapID);
                self.MapID(data.Map.MapID);
                self.Map().IsEdit(false);
            } else {
                bootbox.alert("@MemeMVC.Resource.Map.Admin.Message_SaveFail");
            }
            self.Processing().SetProcessing("Map", false);
        }
        function DeleteMap(map) {
            self.Processing().SetProcessing("Map", true);
            bootbox.confirm("<b>@MemeMVC.Resource.Map.Admin.Message_ConfirmDelete</b>", function (result) {
                if (result) {
                    if (map != undefined) {
                        $.post(self.GetUrl.removeMap, { id: self.Map().MapID() }, function (data) {
                            self.Processing().SetProcessing("Map", false);
                            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                                window.location.href = self.GetUrl.gotoMaster;
                            } else {
                                bootbox.alert("@MemeMVC.Resource.Map.Admin.Message_NotConnectAPI");
                            }
                        });
                    }
                }
            });
        }
        function CompleteMap(map) {
        }
        function ConvertMapToPostObject(map) {
            var postObject = {
                MapID: map.MapID(),
                ProjectID: map.ProjectID(),
                Name: map.Name(),
                Description: map.Description(),
                GUID: map.GUID()
            };
            return postObject;
        }
        function ResetMap(map) {
            map.MapID(map.OldValue().MapID);
            map.ProjectID(map.OldValue().ProjectID);
            map.Name(map.OldValue().Name);
            map.Description(map.OldValue().Description);
        }
        self.ConvertDataToMap = function (dataItem) {
            if (dataItem == null) {
                
                return null;
            }
            var map = new Map(
                                         dataItem.MapID,
                                         dataItem.ProjectID,
                                         dataItem.Name,
                                         dataItem.Description
                                         );
            map.ProjectName(dataItem.ProjectName);
            return map;
        }
    };
</script>
