﻿@Html.Partial("_CommonScript")
@Html.Partial("~/Views/Zone/_ZoneJScript.cshtml")
@Html.Partial("~/Views/Zone/_ZoneViewModelsJScript.cshtml")
@Html.Partial("~/Views/Note/_NoteJScript.cshtml")
@Html.Partial("~/Views/Note/_NoteViewModelsJScript.cshtml")
@Html.Partial("_MapJScript")
@Html.Partial("~/Views/Map/_MapViewModelJScript.cshtml")
@Html.Partial("~/Views/Map/_MapTranJScript.cshtml")



<script type="text/javascript" src="~/Content/map/src/texteditor.js"></script>
<script type="text/javascript" src="~/Content/map/src/videoplayer.js"></script>
<script type="text/javascript" src="~/Content/addon/jspdf/jspdf.js"></script>
<script type="text/javascript" src="~/Content/addon/jspdf/addimage.js"></script>
<script src="~/Scripts/jquery.signalR-0.5.3.js"></script>
<script src='/signalr/hubs'></script>
<script src="~/Content/addon/pouchdb/pouchdb-3.4.0.min.js"></script>
<script src="~/Content/addon/bootstrapnotify/bootstrap-notify.js"></script>
<script src="~/Content/addon/kodatepicker.js"></script>
<script type="text/javascript">


    var jsondata;
    var mapID=@ViewBag.MapID;
    var rawSharedData = '@ViewBag.JsonSharedUserMap';
    //alert(rawSharedData);
    var SharingModel = function(){
        var self = this;
        var searchUrl = "@Url.Action("SearchUser", "User")";
        var shareWithUserUrl = "@Url.Action("ShareWithUser", "User")";
        var removeSharedUserUrl = "@Url.Action("removeSharedUser", "User")";
        self.showAddingForm = function(){
            self.SearchResults.removeAll();
            $("div.modal#feedbackpopup").modal({ keyboard: true });

        };

        //self.JsonSharedInfo = undefined;
        self.JsonSharedInfo = {};
        self.SharedUsers = ko.observableArray([]);
        var list = JSON.parse(rawSharedData.replace(/&quot;/g,'"'));

        for(var i=0; i<list.length; i++){
            self.JsonSharedInfo[list[i].userId] = list[i];
            var row = list[i];
            row['removeSharedUser'] = function(){
                var rowId = this.Id,
                userId = this.userId,
                username = this.username;
                 
                //console.log("Hello world: " + rowId + " " + userId);
                //return;
                var data = {'mongoId' : rowId}, json = JSON.stringify(data);
                $.ajax({
                    url: removeSharedUserUrl,
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    cache: false,
                    data: json,
                    success: function(data){
                        var json = data;
                        if(json['statusCode'] === "200"){
                            $('div#' + rowId).remove();
                            bootbox.alert("Remove " + username + " successfully!");
                            delete self.JsonSharedInfo[userId];

                        }else{
                            bootbox.alert("Uable to remove this user!");
                        }
                    }
                });
            };
            self.SharedUsers.push(row);
        }
        
        self.InitData = function(){
            
           
        };
        
       
        
        self.MapName = ko.observable(mapID);
        self.content = ko.observable('');
        self.ShareDialogCententId = ko.observable('share_dialog_content_id');
        self.SearchUser = function(){
            //console.log("Searching: " + $('#search_input_id').val());
            var v = $('#search_input_id').val();
            self.SendSearchReq(v);
        }
        self.SearchUserKeyUp = function(d, e){
            if(e.keyCode === 13){
                //console.log("Searching: " + $('#search_input_id').val());
                var v = $('#search_input_id').val();
                self.SendSearchReq(v);
            }
        }
        self.SendSearchReq = function(val){
            console.log("Searching: " + $('#search_input_id').val());
            var data = {'SearchCode' : val}, json = JSON.stringify(data);
            $.ajax({
                url: searchUrl,
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                cache: false,
                data: json,
                success: self.ProcessSearchResults
            
            });
        }
        self.ProcessSearchResults = function(data){
            var list = JSON.parse(data);
            self.SearchResults.removeAll();
            var res = [];
            for(var i=0; i<list.length; i++){
                var u = list[i];
                //console.log(JSON.stringify(u));
                var ele = {
                    imgprofile: u['ProfilePicture'],
                    userId: u['UserID'],
                    username: u['UserName'],
                    useremail: u['Email'],
                    mapId: mapID,
                    displayAddBtn: ko.observable('block'),
                    addThisUser: function(){

                        var curr = this;
                        var dt = {userId: this.userId, mapId: this.mapId, username: this.username, userEmail: this.useremail, profileImgUrl: this.imgprofile},
                            json = JSON.stringify(dt);
                        $.ajax({
                            url: shareWithUserUrl,
                            type: "POST",
                            contentType: 'application/json; charset=utf-8',
                            cache: false,
                            data: json,
                            success: function (data) {

                                var json = data;
                                if(json.statusCode === "200"){
                                    bootbox.alert("The map has been shared with this " + curr.username + "!");
                                    curr.displayAddBtn('none');
                                    self.JsonSharedInfo[curr.userId] = dt;
                                    //TODO
                                    dt.Id = json.Id;
                                    dt['removeSharedUser'] = function(){
                                        var rowId = this.Id,
                                            userId = this.userId,
                                            username = this.username;
                 
                                        //console.log("Hello world: " + rowId + " " + userId);
                                        //return;
                                        var data = {'mongoId' : rowId}, json = JSON.stringify(data);
                                        $.ajax({
                                            url: removeSharedUserUrl,
                                            type: "POST",
                                            contentType: 'application/json; charset=utf-8',
                                            cache: false,
                                            data: json,
                                            success: function(data){
                                                var json = data;
                                                if(json['statusCode'] === "200"){
                                                    $('div#' + rowId).remove();
                                                    bootbox.alert("Remove " + username + " successfully!");
                                                    delete self.JsonSharedInfo[userId];

                                                }else{
                                                    bootbox.alert("Uable to remove this user!");
                                                }
                                            }
                                        });
                                    }
                                    //Change html dynamically
                                    self.SharedUsers.push(dt);
                                }else{
                                    bootbox.alert("Uable to share this map!");
                                }
                            }
                        });
                    }

                };
                //console.log('userId:' + ele.userId);
                //console.log(JSON.stringify(self.JsonSharedInfo));
                //console.log(JSON.stringify(self.JsonSharedInfo["'"+ele.userId+"'"]));
                if(self.JsonSharedInfo[ele.userId] !== undefined && 
                    self.JsonSharedInfo[ele.userId].mapId === ele.mapId){
                    ele.displayAddBtn('none');
                }
                self.SearchResults.push(ele);
                //res.push(ele);
            }
            //ko.utils.arrayPushAll(res, self.SearchResults);
            // self.SearchResults.push(res);
        }

        self.SearchResults = ko.observableArray([]);
        self.SearchInput = ko.observable('');

    };
    var sm = new SharingModel();
    sm.InitData();
    ko.applyBindings(sm);
    
</script>
