@{
    Layout = "~/Views/Shared/_MemeLayout.cshtml";    
}

<!-- MAIN PANEL -->
<div id="main" role="main">
    <!-- MAIN CONTENT -->
    <div id="content">
        <div class="row">
             <div class="col-md-12">
                    <div class="pagetitle">
                        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-file"></i><span data-bind="html: $root.MapName()"></span></h1>
                    </div>
             </div>
         </div>
        <br /><br /><br />
        <div class="row">
            <div class="col-md-12" >
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <td>
                                <button class="btn" data-bind="visible:$root.ParentVertex()!=null,click:$root.loadVertexByParent" ><i class="glyphicon glyphicon-arrow-left"></i></button>
                            </td>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: $root.ArrDisplayVertex">
                        <tr> <td> <span data-bind="html:Name"></span> <button class="btn" data-bind="visible: NumChild()>0,click:$root.loadVertexByIn" ><i class="glyphicon glyphicon-arrow-right"></i></button></td></tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                 <ul class="pagination">
                                <li data-bind="css:{disabled:$root.CurrentLevel()==0},click:function(){ if($root.CurrentLevel()==0)return false; $root.loadVertexByLevel($root.CurrentLevel() -1);}"><a>&laquo;</a></li>
                                <li data-bind="css:{active:$root.IsLoadByLevel()}, click:function(){ $root.loadVertexByLevel($root.CurrentLevel());}"><a data-bind="html:CurrentLevel"></a></li>
                                <li data-bind="css:{disabled:$root.ArrDisplayVertex().length == 0|| $root.IsLoadByLevel()==false},click:function(){ if($root.ArrDisplayVertex().length == 0)return false; $root.loadVertexByLevel($root.CurrentLevel() + 1);}"><a>&raquo;</a></li>
                            </ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN PANEL -->
@section popup{
}
@section scripts{
    @Html.Partial("_DetailListJScript")
}
