@{
    Layout = "~/Views/Shared/_MemeLayout.cshtml";    
}
<link id="base-style" href="~/Content/theme/jqueryuidatepicker.css" rel="stylesheet">
@section toppart{
    <button class="exportMapToPNG btn btn-default pull-right btn-header" style="margin-top:10px;" title="PNG" ><i class="glyphicon glyphicon-download-alt"></i>&nbsp;Export to PNG</button>
    <button class="exportMapToPDF btn btn-default pull-right btn-header" style="display:none;margin-top:10px;"   title="PDF" ><i class="glyphicon glyphicon-download-alt"></i>&nbsp;Export to PDF</button>
     <!-- show message button -->
    <div id="showMessage" data-bind="with: NotificationVM" style="margin-top:0px; margin-right:10px;" class="btn-header  pull-right">
        <span class="globalnotification">
             <a href="javascript:void(0);" title="Messages" data-bind="click: showNotification"><i class="glyphicon glyphicon-comment"></i></a>
            <span class="jewelCount" data-bind="style: { display: showCount }">
                <span class="_51lp _3z_5 _5ugh" id="notificationsCountValue" data-bind="    html: numNotifications"></span>
                <i class="accessible_elem"></i></span>
           
        </span>
                    

        <div data-bind="style: { display: Show }" style="top:40px;float: right;display:none;position: relative;z-index:10001;right: -30px;">
            <div class="message-wrap" style="width:100%">
                <div class="msg-wrap">
                    <div data-bind="visible: ListComment().length==0">
                        There is no comment yet.
                    </div>
                    <div id='messagesDiv' data-bind="foreach: ListComment">
                        <div class="media msg" data-bind="click: ViewComment.bind($data, nodeId, couchDBId, reading_status), attr:{class:cls_reading_status}">
                            <a class="pull-left" style="margin-top: 8px;" href="#">
                                <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 32px; height: 32px;" data-bind="attr: { src: imgProfile }">
                            </a>
                            <div class="media-body">
                                <span class="glyphicon glyphicon-remove pull-right remove-mess"></span>
                                <div data-bind="html: title"></div>
                                <small class="col-lg-10" style="font-weight: normal !important;" data-bind="html: comment"></small>
                                <small class=" time" style="font-weight: normal !important; width:40%;" data-bind="html: createdDate"><i class="fa fa-clock-o"></i>    </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- MAIN CONTENT -->
    <div id="content">


        <div class="pagetitle">
            <h1 style="float:left;" class="page-title txt-color-blueDark"><i class="glyphicon glyphicon-bookmark"></i><span data-bind="html: $root.MapName()"></span></h1>
            <div id="mysmallloadingcover" style="display:none;float:left; opacity:0.7;margin-top:-15px;">
                <div style="text-align:center; margin-top:20px; "><img src="/Images/savingimage.gif" />&nbsp;Saving</div>
                    
            </div>
            
        </div>

       
        <button class="btn btn-primary" style="margin-right:5px; position:relative; margin-left:110px;" title="Center" data-bind="click:$root.ShareMap" >Share Map</button>
            
        

        <div class="mapcontrol">		    
            <div class="row mainmaptoolbar">
                <div  class="pagecontrol"  >
                    <div style="width:270px;float:left; border-right:solid 1px #467AF2;">
               
                        <div style="padding:1px; background-color:#467AF2; float:left;" id="searchpanel">
                             <span style="float:left;padding-left:10px;padding-right:10px; font-family:Abel;font-size:12px; font-weight:bold; margin-top:7px; color:#ffffff;">SEARCH:</span>
                            <div id="the-basics" style="float:left;">
                                  <input id="searchinput" class="typeahead form-control" type="text" placeholder="">
                                </div>
                        </div>
                    </div>
                 
                </div>
                <div style="width:150px;margin-left:10px; margin-right:10px; float:left; border-right:solid 1px #467AF2;">
	               <button class="centerMap btn btn-primary" title="Center" style="margin-right:5px;"><i class="glyphicon glyphicon-screenshot"></i>&nbsp;Center</button>
	                <button class="resetView btn btn-primary" title="Root" style="position:relative; margin-left:auto"><i class="glyphicon glyphicon-screenshot"></i>&nbsp;Root</button>
                    <!-- <button class="btn btn-sm" data-bind="click: save" title="Save" ><i class="glyphicon glyphicon-ok"></i>&nbsp;Save</button>-->
	            </div>
               
                <div style="width:30px; float:left;">
                    <input type="button" class="scaleDown btn btn-default btn-circle mapcontrolbtn" value="-" style="font-size:30px;"/>
                </div>
                <div  style="width:130px; float:left; margin-top:7px;">
                    <div style="text-align:center; margin-top:-20px; padding-bottom:5px; font-size:10px; font-weight:bold; color:#808080;" >Zoom:
                        <span data-bind="html: $root.ZoomRatio()"></span>%</div>
                    <input type="text" class="slider slider-primary " id="g1" value="100" 
					    data-slider-max="200" 
					    data-slider-value="100" 
					    data-slider-selection = "before" 
					    data-slider-handle="round">
                </div>
                <div  style="width:35px; float:left; ">
                    <input type="button" class="scaleUp btn btn-default btn-circle  mapcontrolbtn" value="+" style="font-size:20px;"/>
                </div>
                 
            </div>
                       
        </div>
        <!--<div class="maptoolbar">
            <a href="javascript:void(0);" class="addSubIdea btn btn-default btn-circle " title="add"><i class="fa fa-plus"></i></a>
		    <a href="javascript:void(0);" class="editNode btn btn-default btn-circle " title="edit"><i class="fa fa-pencil-square-o"></i></a>
		    <a href="javascript:void(0);" class="removeSubIdea btn btn-default btn-circle " title="delete"><i class="fa fa-eraser"></i></a>
		    <a href="javascript:void(0);" class="insertIntermediate btn btn-default btn-circle " title="insert parent"><i class="fa fa-level-up"></i></a>
		    
		    <a href="javascript:void(0);" onclick="mapModel.setInputEnabled(false)" title="disable" class="btn btn-default btn-circle "><i class="fa fa-lock"></i></a>
		    <a href="javascript:void(0);" onclick="mapModel.setInputEnabled(true)" title="enable" class="btn btn-default btn-circle "><i class="fa fa-unlock"></i></a>
		    <a href="javascript:void(0);" class="undo btn btn-default btn-circle " title="undo" ><i class="fa fa-reply"></i></a>
		    <a href="javascript:void(0);" class="redo btn btn-default btn-circle " title="redo"><i class="fa fa-share"></i></a>
		    <a href="javascript:void(0);" class="cut btn btn-default btn-circle " title="cut"><i class="fa fa-scissors"></i></a>
		    <a href="javascript:void(0);" class="copy btn btn-default btn-circle " title="copy"><i class="fa fa-files-o"></i></a>
		    <a href="javascript:void(0);" class="paste btn btn-default btn-circle " title="paste"><i class="fa fa-clipboard"></i></a>
		    <a href="javascript:void(0);" class="toggleCollapse btn btn-default btn-circle " title="exp/col"><i class="fa fa-angle-double-right"></i></a>
            <a href="javascript:void(0);" class="openAttachment btn btn-default btn-circle " title="open attachment"><i class="fa fa-paperclip"></i></a>
		    <a href="javascript:void(0);" class="toggleAddLinkMode btn btn-default btn-circle " title="add link"><i class="fa fa-link"></i></a>
            <a href="javascript:void(0);" data-mm-action="export-image" title="Export To Image" class="btn btn-default btn-circle "><i class="fa fa-camera"></i></a>
        </div>-->
        <div class="row"  style="margin-top:70px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="container"></div>
                <div id="myloadingcover" style="display:none;position:absolute;top:0px;left:14px; opacity:0.7; background-color:#ffffff;">
                    <div style="text-align:center; margin-top:100px; "><img src="/Images/loader_gif.gif" /></div>
                    
                </div>
               
            </div>
        </div>

        <div id="maptransaction" class="row" style="position:absolute;top:150px" >
            <div class="col-md-12">
            <table class="table table-hover">
                <tbody data-bind="foreach: $root.MapTransVM().ArrMapTran">
                    <tr>
                        <td><span data-bind="html: UserName"></span></td>
                        <td><span data-bind="html: Message"></span></td>
                    </tr>
                </tbody>
                
            </table>
                </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
    @*
    <div id="mynodeeditor" style="z-index:2001;">
         <div class="toolbaraction" style="float:right;">
            <a href="#" class="toolbaractionbtn" data-bind="click: CloseEditDialog"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
         <div class="tabbable custom-tabs tabs-animated" data-bind="with: NodeDetail">
            <ul class="nav nav-tabs">
                <li class="active" id="tabtrigger1"><a href="#tab1" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i></a></li>
                <li  id="tabtrigger2"><a href="#tab2" data-toggle="tab"><i class="glyphicon glyphicon-picture"></i></a></li>
                <li  id="tabtrigger3"><a href="#tab3" data-toggle="tab"><i class="glyphicon glyphicon-adjust"></i></a></li>
            </ul>
            <div class="tab-content" style="padding-bottom:50px;">
                <div id="tab1" class="tab-pane active">   
                    <div class="toolbaraction-top" >
                         <!-- ko if: !EditTitle() -->
                            <a href="#" class="toolbaractionbtn-small" data-bind="click: StartEditTitle" style="float:right;"><span class="glyphicon glyphicon-pencil"></span></a>
                         <!-- /ko -->
                         <!-- ko if: EditTitle() -->
                            <a href="#" class="toolbaractionbtn-small"  data-bind="click: CancelTitle" style="float:right;margin-left:10px;"><span class="glyphicon glyphicon-remove"></span></a>
                            <a href="#" class="toolbaractionbtn-small"  data-bind="click: ConfirmTitle" style="float:right;"><span class="glyphicon glyphicon-ok"></span></a>                            
                        <!-- /ko -->
                        <span style="float:left; font-size:14px;"><i>Node Title</i></span>
                    </div>
                    <p data-bind="html: RID"></p>
                   <!-- ko if: !EditTitle() -->
                        <p data-bind="html: Title"></p>
                     <!-- /ko -->
                    <!-- ko if: EditTitle() -->
                        <textarea data-bind="value: Title" style="width:100%;height:100px; margin-top:10px;"></textarea>
                    <!-- /ko -->
                    <br />
                   
                    <div style="float:left; width:100%;">
                        <a href="#" class="toolbaractionbtn-small" data-bind="click: LoadNote" style="float:left;"><span class="glyphicon glyphicon-paperclip"></span> </a><span style="float:left;padding-top:8px; margin-left:5px; font-family:Abel; font-size:13px; "> Note</span>
                    </div>
                    
                </div>
                <div id="tab2" class="tab-pane">
                    

                    <div class="toolbaraction-top" >
                         <!-- ko if: !EditImg() -->
                            <a href="#" class="toolbaractionbtn-small" data-bind="click: StartEditImg" style="float:right;"><span class="glyphicon glyphicon-pencil"></span></a>
                         <!-- /ko -->
                         <!-- ko if: EditImg() -->
                            <a href="#" class="toolbaractionbtn-small"  data-bind="click: CancelImg" style="float:right;margin-left:10px;"><span class="glyphicon glyphicon-remove"></span></a>
                            <a href="#" class="toolbaractionbtn-small"  data-bind="click: ConfirmImg" style="float:right;"><span class="glyphicon glyphicon-ok"></span></a>                            
                        <!-- /ko -->
                        <span style="float:left; font-size:14px;"><i>Image/Video</i></span>
                    </div>
                    <div style="width:100%;float:left; height:200px;">
                   <!-- ko if: (!EditImg()&& ImgSrc()!="") -->
                        <img data-bind="attr: { src: ImgSrc }" style="max-width:100%; max-height:100%;margin:auto;display:block; padding-top:10px;"/><br />
                        <!-- ko if: ShownImgSrc()!="" -->
                            <a data-bind="attr: { href: ShownImgSrc }" target="_blank">View full version</a>
                         <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: EditImg() -->
                        <input type="text" data-bind="value: ShownImgSrc" style="width:100%; margin-top:10px;"/>
                    <!-- /ko -->
                    </div>
                </div>
                <div id="tab3" class="tab-pane">
                    <div data-bind="visible: !EditColor()">
                        <div style="float:left;width:100%; ">
                            <a href="#" class="toolbaractionbtn-small" data-bind="click: StartEditColor" style="float:right;">
                                <span class="glyphicon glyphicon-pencil"></span></a>
                        </div>
                        <div style="float:left;width:100%; ">
                            <b>Background Color</b>
                        </div>
                        <div style="float:left;width:100%; ">
                            <div style="float:left;width:20px; height:20px; "  data-bind="style: { backgroundColor: '#' + BgColor() }"></div>
                            <div style="float:left;margin-left:5px; height:20px; "  data-bind=" html: '#' + BgColor()"></div>
                        </div>
                         <div style="float:left;width:100%; ">
                               <b>Text Color</b>
                           </div>
                        <div style="float:left;width:100%; ">
                            <div style="float:left;width:20px; height:20px;"  data-bind="style: { backgroundColor: '#' + TextColor() }"></div>
                            <div style="float:left;margin-left:5px; height:20px; "  data-bind=" html: '#' + TextColor()"></div>
                        </div>
                    </div>

                    <div data-bind="visible: EditColor()">
                        <div style="float:left;width:100%; ">
                           <a href="#" class="toolbaractionbtn-small"  data-bind="click: CancelColor" style="float:right;margin-left:10px;"><span class="glyphicon glyphicon-remove"></span></a>
                            <a href="#" class="toolbaractionbtn-small"  data-bind="click: ConfirmColor" style="float:right;"><span class="glyphicon glyphicon-ok"></span></a>   
                        </div>
                        <div style="float:left;width:100%; ">
                            <b>Background Color</b>
                        </div>
                        <div style="float:left;width:100%; ">
                            <input class="color" id="selbgcolor" data-bind="value: BgColor">
                        </div>
                         <div style="float:left;width:100%; ">
                               <b>Text Color</b>
                           </div>
                        <div style="float:left;width:100%; ">
                            <input class="color" id="selcolor"  data-bind="value: TextColor">
                        </div>
                    </div>
                </div>
            </div>
             <div class="ProgressingStatus" data-bind="html: DialogStatus"></div>
        </div>

        
    </div>
*@
    <div id="user-toolbar" style="display:block;position:absolute;float:left;top:0px;left:0px;"></div>
   <div id="user-toolbar-options" style="display:none;font-size:20px; color:black;">
	   <a href="#" class="toolbaractionedit"><i class="glyphicon glyphicon-list-alt" style="float:left;padding-right:5px;"></i> <div style="float:left;font-size:10px;">Detail</div></a>       
       <a href="#" class="toolbaractionpicture"><i class="glyphicon glyphicon-picture" style="float:left;padding-right:5px;"></i> <div style="float:left;font-size:10px;">Image</div></a>
        <a href="#" class="toolbaractioncolor"><i class="glyphicon glyphicon-adjust" style="float:left;padding-right:5px;"></i><div style="float:left;font-size:10px;">Text/Background<br /> Color</div></a>
       <a href="#" class="toolbaractionshape"><i class="glyphicon glyphicon-unchecked" style="float:left;padding-right:5px;"></i><div style="float:left;font-size:10px;">Change Shape</div></a>
	   
	   

       <a href="#" class="toolbaractioncollapse"><i class="glyphicon glyphicon-fullscreen" style="float:left;padding-right:5px;"></i><div style="float:left;font-size:10px;">Expand/Collapse</div></a>

      
      
       <a href="#" class="toolbaractioncomment"><i class="glyphicon glyphicon-comment" style="float:left;padding-right:5px;"></i><div style="float:left;font-size:10px;">Comment</div></a>
         <a href="#" class="toolbaractionadd"><i class="glyphicon glyphicon-plus" style="float:left;padding-right:5px;"></i><div style="float:left;font-size:10px;">Add Child</div></a>
        <a href="#" class="toolbaractionstandalone"><i class="glyphicon glyphicon-pushpin" style="float:left;padding-right:5px;"></i><div style="float:left;font-size:10px;">Detach Node</div></a>
       <a href="#" class="toolbaractiontask"><i class="glyphicon glyphicon-calendar" style="float:left;padding-right:5px;"></i><div style="float:left;font-size:10px;">Task Info</div></a>
         <a href="#" class="toolbaractiondelete"><i class="glyphicon glyphicon-trash" style="float:left;padding-right:5px;"></i><div style="float:left;font-size:10px;">Delete Node</div></a>
       <a href="#" class="toolbaractionaddcancel"><i class="glyphicon glyphicon-remove" style="float:left;padding-right:5px;"></i><div style="float:left;font-size:10px;">Close Menu</div></a>
    </div>	

    <div id="mynoteeditor" style="z-index:2002;display:none;position:absolute; top:0px; left:0px ; width:100%; height:100%; background-color:rgba(255,255,255,0.7); ">
        <div class="container-fluid">
            
             <div class="row" data-bind="with: BodyDetail">
                 <div class="col-xs-12    col-sm-12    col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 noteditorpanel" >
                     <div class="row" style="padding:10px;">
                         <div class="col-md-12" style="height:50px; border-bottom:solid 1px #808080; padding-bottom:5px;">
                             <div  style="font-family:Abel; font-size:16px; float:left; width:80%" data-bind="html: Title()">
                                 
                             </div>
                              <div class="toolbaraction" style="float:right; width:15%;">
                                <a href="#" class="toolbaractionbtn" data-bind="click: CloseDetail" style="float:right;"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                         </div>
                     </div>
                     <div class="row">
                         <!-- ko if: LoadingBody() -->
                            <div style="margin-left:20px;margin-top:5px; background-color:#0094ff; color:#fff; font-family:Abel; font-size:13px; padding:5px; float:left; "> Loadding Content... </div>
                         <!-- /ko -->
                          <!-- ko if: SavingBody() -->
                            <div style="margin-left:20px;margin-top:5px; background-color:#0094ff; color:#fff; font-family:Abel; font-size:13px; padding:5px; float:left; "> Saving Content... </div>
                         <!-- /ko -->
                         <div class="toolbaraction-top" style="padding-right:40px; float:right; width:250px;">
                             <!-- ko if: !EditBody() -->
                                
                                <a href="#" class="toolbaractionbtn-small" data-bind="click: StartEditBody" style="float:right;"><span class="glyphicon glyphicon-pencil"></span></a>
                                <div style="margin-top:5px; background-color:#ffd800; color:#fff; font-family:Abel; font-size:13px; padding:5px; float:right; margin-right:10px;"> Viewing Mode </div>
                             <!-- /ko -->
                             <!-- ko if: EditBody() -->
                               
                                <a href="#" class="toolbaractionbtn-small"  data-bind="click: CancelBody" style="float:right;margin-left:10px;"><span class="glyphicon glyphicon-remove"></span></a>
                                <a href="#" class="toolbaractionbtn-small"  data-bind="click: ConfirmBody" style="float:right;"><span class="glyphicon glyphicon-ok"></span></a>    
                                <div style="margin-top:5px; background-color:#ffd800; color:#fff; font-family:Abel; font-size:13px; padding:5px; float:right; margin-right:10px;"> Edit Mode </div>                     
                            <!-- /ko -->
                           
                        </div>
                         <div class="col-md-12 noteditorcontainer"  style="overflow:auto;">
                             <section class="popcontainer">
                                <article class="popcontent">
                                  <div class="popeditor" contenteditable="true" data-bind="html: Body">
                                    
                                  </div>
                                </article>
                              </section>
                         </div>
                     </div>
                     
                 </div>
             </div>
        </div>
    </div>

    <div id="myvideoviewer" style="z-index:2002;display:none;position:absolute; top:0px; left:0px ; width:100%; height:100%; background-color:rgba(255,255,255,0.7); ">
        <div class="container-fluid">
            <div class="row" >
                <div class="col-xs-12    col-sm-12    col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 videoviewerpanel" style="background-color:#000000;">
                    <div class="row" style="padding:10px;">
                         <div class="col-md-12" style="height:50px; padding-bottom:5px;">
                            
                              <div class="toolbaraction" style="float:right; width:15%;">
                                <a href="javascript:CloseVideoPlayer()" class="toolbaractionbtn"  style="float:right;"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                         </div>
                     </div>
                    
                     <div class="row" style="padding:10px; text-align:center;" >
                         <iframe id="ytplayer" width="640" height="390" src="" style="border:none 0px #ffffff;"></iframe>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN PANEL -->
@section popup{
}
@section scripts{

    

    @Html.Partial("_DetailJScript")
}
