@{
    Layout = "~/Views/Shared/_MemeViewLayout.cshtml";    
}

<!-- MAIN PANEL -->
<div id="main" role="main">

  

    <!-- MAIN CONTENT -->
    <div id="content">

        
        <div class="pagetitle">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-file"></i><span data-bind="html: $root.MapName()"></span></h1>
        </div>
        <div  class="pagecontrol">
            <div class="ribbon-button-alignment" style="width:200px; float:left; margin-bottom:40px; ">
               <button class="resetView btn btn-sm" title="Center" style="margin-right:30px;"><i class="glyphicon glyphicon-screenshot"></i>&nbsp;Center</button>
               <!-- <button class="btn btn-sm" data-bind="click: save" title="Save" ><i class="glyphicon glyphicon-ok"></i>&nbsp;Save</button>-->
            </div>
        </div>
       

        <div class="mapcontrol">		    
            <div style="width:30px; float:left; margin-top:-7px;">
                <input type="button" class="scaleDown btn btn-default btn-circle mapcontrolbtn" value="-" ></input>
            </div>
            <div  style="width:130px; float:left;">
                <div style="text-align:center; margin-top:-20px; padding-bottom:5px; font-size:10px; font-weight:bold; color:#808080;" >Zoom:<span data-bind="html: $root.ZoomRatio()"></span>%</div>
                <input type="text" class="slider slider-primary " id="g1" value="100" 
					data-slider-max="200" 
					data-slider-value="100" 
					data-slider-selection = "before" 
					data-slider-handle="round">
            </div>
            <div  style="width:35px; float:left; margin-top:-7px;">
                <input type="button" class="scaleUp btn btn-default btn-circle  mapcontrolbtn" value="+"></input>
            </div>
            
            
        </div>
       
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="container"></div>
                <div id="myloadingcover" style="display:none;position:absolute;top:0px;left:14px; opacity:0.7; background-color:#ffffff;">
                    <div style="text-align:center; margin-top:100px; "><img src="/Images/loader_gif.gif" /></div>
                    
                </div>
                <div id="mysmallloadingcover" style="display:none;position:absolute;top:0px;left:154px; opacity:0.7;">
                   
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
    
    <div id="mynodeeditor" style="z-index:2001;">
         <div class="toolbaraction" style="float:right;">
            <a href="#" class="toolbaractionbtn" data-bind="click: CloseEditDialog"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
         <div class="tabbable custom-tabs tabs-animated" data-bind="with:NodeDetail">
            <ul class="nav nav-tabs">
                <li class="active" id="tabtrigger1"><a href="#tab1" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i></a></li>
                <li  id="tabtrigger2"><a href="#tab2" data-toggle="tab"><i class="glyphicon glyphicon-picture"></i></a></li>
            </ul>
            <div class="tab-content" style="padding-bottom:50px;">
                <div id="tab1" class="tab-pane active">   
                   
                    <p data-bind="html: RID"></p>
                   <!-- ko if: !EditTitle() -->
                        <p data-bind="html: Title"></p>
                     <!-- /ko -->
                  
                    <br />
                   
                    <div style="float:left; width:100%;">
                        <a href="#" class="toolbaractionbtn-small" data-bind="click: LoadNote" style="float:left;"><span class="glyphicon glyphicon-paperclip"></span> </a><span style="float:left;padding-top:8px; margin-left:5px; font-family:Abel; font-size:13px; "> Note</span>
                    </div>
                    
                </div>
                <div id="tab2" class="tab-pane">
                    

                    <div style="width:100%;float:left; height:200px;">
                   <!-- ko if: (!EditImg()&& ImgSrc()!="") -->
                        <img data-bind="attr: { src: ImgSrc }" style="max-width:100%; max-height:100%;margin:auto;display:block; padding-top:10px;"/>
                    <!-- /ko -->
                    <!-- ko if: ShownImgSrc()!="" -->
                            <a data-bind="attr: { href: ShownImgSrc }" target="_blank">View full version</a>
                         <!-- /ko -->
                    </div>
                </div>
            </div>
             <div class="ProgressingStatus" data-bind="html: DialogStatus"></div>
        </div>

        
    </div>
    <div id="user-toolbar" style="display:block;position:absolute;float:left;top:0px;left:0px;"></div>
   <div id="user-toolbar-options" style="display:none;font-size:20px; color:black;">
       <a href="#" class="toolbaractionpicture"><i class="glyphicon glyphicon-picture"></i></a>
       <a href="#" class="toolbaractionaddcancel"><i class="glyphicon glyphicon-remove"></i></a>
    </div>	

    <div id="mynoteeditor" style="z-index:2002;display:none;position:absolute; top:0px; left:0px ; width:100%; height:100%; background-color:rgba(255,255,255,0.7); ">
        <div class="container-fluid">
            
             <div class="row" data-bind="with: BodyDetail">
                 <div class="col-xs-12    col-sm-12    col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 noteditorpanel" >
                     <div class="row" style="padding:10px;">
                         <div class="col-md-12" style="height:50px; border-bottom:solid 1px #808080; padding-bottom:5px;">
                             <div  style="font-family:Abel; font-size:16px; float:left; width:80%" data-bind="html: Title()">
                                 
                             </div>
                              <div class="toolbaraction" style="float:right; width:15%;">
                                <a href="#" class="toolbaractionbtn" data-bind="click: CloseDetail" style="float:right;"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                         </div>
                     </div>
                     <div class="row">
                         <!-- ko if: LoadingBody() -->
                            <div style="margin-left:20px;margin-top:5px; background-color:#0094ff; color:#fff; font-family:Abel; font-size:13px; padding:5px; float:left; "> Loadding Content... </div>
                         <!-- /ko -->
                        
                         <div class="col-md-12 noteditorcontainer"  style="overflow:auto;" data-bind="html: Body">
                             
                         </div>
                     </div>
                     
                 </div>
             </div>
        </div>


    </div>

    <div id="myvideoviewer" style="z-index:2002;display:none;position:absolute; top:0px; left:0px ; width:100%; height:100%; background-color:rgba(255,255,255,0.7); ">
        <div class="container-fluid">
            <div class="row" >
                <div class="col-xs-12    col-sm-12    col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 videoviewerpanel" style="background-color:#000000;">
                    <div class="row" style="padding:10px;">
                         <div class="col-md-12" style="height:50px; padding-bottom:5px;">
                            
                              <div class="toolbaraction" style="float:right; width:15%;">
                                <a href="javascript:CloseVideoPlayer()" class="toolbaractionbtn"  style="float:right;"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                         </div>
                     </div>
                    
                     <div class="row" style="padding:10px; text-align:center;" >
                         <iframe id="ytplayer" width="640" height="390" src="" style="border:none 0px #ffffff;"></iframe>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN PANEL -->
@section popup{
}
@section scripts{

    

    @Html.Partial("_ViewScript")
}
