﻿.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
    
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
    list-style: none;
}

.validation-summary-errors li
{
    list-style: none;
}

.validation-summary-valid {
    display: none;
}