﻿@model dynamic
@{

    if (Model != null)
    {
        ViewBag.Title = Model.FrameTitle ?? "";
    }
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
 @(Html.Kendo().Window()
    .Name("Window")
    .Modal(true)
    .Width(650)
    .Height(0)
    .Draggable(true)
    .Resizable(resizing => resizing
    .MinWidth(450)
    .MinHeight(200))
    .Visible(false)
    .Content(@<text><div id="dialogContent"></div></text>)
    )
@using (Html.BeginForm(null,null,null,FormMethod.Post,new{id="formMaster"})) {
   @RenderBody()
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")  
}

<script type = "text/javascript" language="javascript">
    $(document).ready(function () {
        var btnAddNewItem = $('#btnAddChildItem');
        btnAddNewItem
                  .bind('click', function (e) {
                      e.preventDefault();
                      GetContentFrom($(this).attr('href'));
                  });
    });

    function ViewDialog(url) {
        GetContentFrom(url);
        return false;
    }
    function GetContentFrom(url) {
        $.get(url, function (data) {
            $('#dialogContent').html(data);
            var $form = $("#formDetail");
            var dialogTitle = "Window";
            //set up window title
            if ($("#FrameTitle").val() != undefined && $("#FrameTitle").val()!= "") {
                dialogTitle = $("#FrameTitle").val();
            }
            $('#Window').data('tWindow').title(dialogTitle).center().open();
            var windowElement = $('#Window').data('tWindow').element;
            $(windowElement).find(".t-window-content").css("height", "auto");
            //for dialog submit form
            $form.submit(function (e) {
                if ($(this).valid()) {
                    $.post(url, $(this).serialize(), function (data) {
                        var arr = data.split("||");
                        if (arr[0] == "True") {
                            $('#Window').data('tWindow').close();
                            var grid = $('#@Model.GridDetail.GridName').data('tGrid');
                            grid.ajaxRequest();
                        }
                        else {
                            $("#dialogContent").html(data);
                            $.validator.unobtrusive.parse($("#dynamicData"));
                            $(windowElement).find(".t-window-content").css("height", "auto");
                        }
                    });
                }
                e.preventDefault();
            });
            //for cancel button on dialog
            var btnCancel = $('#btn_cancel_dialog');
            btnCancel.bind('click', function (e) {
                e.preventDefault();
                $('#Window').data('tWindow').close();
            });
        });
    }
</script>
