﻿@model dynamic
@{
    if (Model != null)
    {
        ViewBag.Title = Model.FrameTitle ?? "";
    }
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
 @(Html.Kendo().Window()
    .Name("Window")
    .Modal(true)
    .Width(650)
    .Height(0)
    .Draggable(true)
    .Resizable(resizing => resizing.MinWidth(450).MinHeight(200))
    .Visible(false)
    .Content(@<text><div id="dialogContent"></div></text>)
    )
@RenderBody()
<script type = "text/javascript" language="javascript">
    function ViewDialog(url) {
        GetContentFrom(url);
        return false;
    }
    function GetContentFrom(url) {
        $.get(url, function (data) {
            $('#dialogContent').html(data);
            var $form = $("#formDetail");
            var dialogTitle = "Window";
            //set up window title
            if ($("#FrameTitle").val() != undefined && $("#FrameTitle").val().trim() != "") {
                dialogTitle = $("#FrameTitle").val();
            }
            $('#Window').data('tWindow').title(dialogTitle).center().open();
            var windowElement = $('#Window').data('tWindow').element;
            $(windowElement).find(".t-window-content").css("height", "auto");
            //for cancel button on dialog
            var btnCancel = $('#btn_cancel_dialog');
            btnCancel.bind('click', function (e) {
                e.preventDefault();
                $('#Window').data('tWindow').close();
            });
        });
    }
</script>
