﻿@{
    Layout = "~/Views/Shared/_MemeLayout.cshtml";    
}
<link rel="stylesheet" href="~/Content/magazines/vendor/prettyPhoto/css/prettyPhoto.css">

<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Lato:300,400,700,400italic,700italic|Droid+Serif' rel='stylesheet' type='text/css'>

<!-- base layout styling -->

<link rel="stylesheet" href="~/Content/magazines/css/base.css">

<!-- components styling -->
<link rel="stylesheet" href="~/Content/magazines/css/components.css">
		
<!-- template colorschemes -->
<link rel="stylesheet" href="~/Content/magazines/colorschemes/default.css">

<script src="~/Content/magazines/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

<!-- components styling -->
<link rel="stylesheet" href="~/Content/meme/overridemagazines.css">

<!-- MAIN PANEL -->
<div id="main" class="container" style="padding-top:0px;">

			<div class="section row entries bg-primary section-no-margin-bottom" style="margin-left:12px;">

				<div class="col-lg-6 col-xl-5">

					<div class="row">

						

					</div><!--/.row-->

				</div>

				

			</div><!--/section.row.entries-->

            
			
</div><!--#main.container-->
<!-- END MAIN PANEL -->
@section popup{
}
@section scripts{

    

    @Html.Partial("_IndexJScript")
}
