﻿
#help {
width: 710px;
padding-left: 30px;
padding-top: 20px;
background-color: #ffffff;
padding-bottom: 100px;
}

#help h1 {
margin: 10px 0 15px 0;
}

#help .questions li {
border-bottom: 1px solid #e8e8e8;
padding: 15px 5px 15px 0;
list-style: none;
}

#help .questions li h3 {
font-weight: normal;
color: #000;
margin: 0 0 0 0;
cursor: pointer;
font-size: 16px;
}

#help .questions li h3 img {
vertical-align: middle;
padding-left: 10px;
}

#help .questions li h3:hover {
  color: #008ed3;
}

#help .questions h2 {
font-size: 16px;
margin: 15px 0 0 0;
padding: 0;
float: left;
width: 100px;
}

#help .questions .group {
clear: both;
border-bottom: 1px solid #e8e8e8;
padding-bottom: 25px;
}

#help .questions .group:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#help .questions ul {
float: right;
margin: 0;
padding: 0;
width: 600px;
}

#help .questions li p {
display: none;
padding-top: 10px;
}

#help .questions li.active p {

}

#help .questions li p img {
border: 1px solid #ddd;
display: inline;
float: right;
padding: 4px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
box-shadow: 0 1px 2px rgba(0,0,0,.1);
margin: 0px 0 0px 15px;
}


#help .questions li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#help .questions li:first-child {

}

#help .questions li:last-child {
border-bottom: 0px;
}