<script type="text/javascript">
    var ZoneViewModel = function () {
        var self = this;
        self.GetUrl = {
            getZone: "@Url.Action("Get", "Zone")",
            saveZone: "@Url.Action("Save", "Zone")",
            removeZone: "@Url.Action("Remove", "Zone")",
            gotoMaster: "@Url.Action("Admin", "Zone")",
            getGUIDString: "@Url.Action("GetGUIDString", "Zone")"
        };
        self.ZoneID = ko.observable(null);
        self.Zone = ko.observable(null);
        self.Transition = ko.observable(null);
        self.Processing = ko.observable(null);
        self.FFInit = ko.observable(null);
        self.MapsVM = ko.observable(null);
        self.InitModel = function (transition, processing) {
            self.Transition = transition;
            self.Processing = processing;
        };
        self.SetFFInit = function (ffinit) {
            self.FFInit(ffinit);
        };
        self.SetZoneID = function (id) {
            self.ZoneID(id);
        }
        self.SetMapsVM = function (mapsvm) {
            self.MapsVM = mapsvm;
        };
        self.InitData = function () {
            InitZone();
        };
        self.startEditZone = function (zone) {
            zone.OldValue(ko.toJS(zone));
            zone.IsEdit(true);
        }
        self.finishEditZone = function (zone) {
            SaveZone(zone);
        }
        self.cancelEditZone = function (zone) {
            ResetZone(zone);
            zone.IsEdit(false);
        }
        self.removeZone = function (zone) {
            DeleteZone(zone);
        };
        self.completeZone = function (zone) {
            CompleteZone(zone);
        };
        self.goBackToHome = function () {
            window.location.href = self.GetUrl.gotoMaster;
        };
        function InitZone() {
            self.Processing().SetProcessing("Zone", true);
            if (self.ZoneID() > 0) {
                $.post(self.GetUrl.getZone, { id: self.ZoneID() }, FinishInitZone);
            } else {
                $.post(self.GetUrl.getGUIDString, {}, FinishInitZoneGUID);
            }
        };
        function FinishInitZone(data) {
            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                self.Zone(self.ConvertDataToZone(data.Zone));
            }
            if (self.FFInit() != null) self.FFInit()();
            self.Processing().SetProcessing("Zone", false);
        }
        function FinishInitZoneGUID(data) {
            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                var newZone = new Zone(
                       0,
                       0,
                       ""
                   );
                newZone.GUID(data.GUIDString);
                self.Zone(newZone);
                self.Zone().AllowEdit(true);
                self.Zone().AllowRemove(true);
                self.Zone().AllowSendTo(false);
                self.Zone().AllowPrint(false);
                self.Zone().AllowAddDetail(true);
                self.Zone().IsEdit(true);
            }
            self.Processing().SetProcessing("Zone", false);
        }
        function SaveZone(zone) {
            if (ValidateZone(zone)) {
                self.Processing().SetProcessing("Zone", true);
                $.post(self.GetUrl.saveZone, ConvertZoneToPostObject(zone), FinishSaveZone);
            }
        }
        function ValidateZone(item) {
            if (item.MapID() != null) {
                if (self.MapsVM() != null) {
                    var map = ko.utils.arrayFirst(self.MapsVM().ArrMap(), function (map1) {
                        return map1.MapID() == item.MapID();
                    });
                    if (map != null) {
                        item.MapName(map.Name());
                    }
                }
            }
            else {
                item.MapName("");
            }
            return true;
        }
        function FinishSaveZone(data) {
            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                self.Zone().ZoneID(data.Zone.ZoneID);
                self.ZoneID(data.Zone.ZoneID);
                self.Zone().IsEdit(false);
            } else {
                bootbox.alert("@MemeMVC.Resource.Zone.Admin.Message_SaveFail");
            }
            self.Processing().SetProcessing("Zone", false);
        }
        function DeleteZone(zone) {
            self.Processing().SetProcessing("Zone", true);
            bootbox.confirm("<b>@MemeMVC.Resource.Zone.Admin.Message_ConfirmDelete</b>", function (result) {
                if (result) {
                    if (zone != undefined) {
                        $.post(self.GetUrl.removeZone, { id: self.Zone().ZoneID() }, function (data) {
                            self.Processing().SetProcessing("Zone", false);
                            if (data.Result == "@Base.ViewModel.ResultType.Success") {
                                window.location.href = self.GetUrl.gotoMaster;
                            } else {
                                bootbox.alert("@MemeMVC.Resource.Zone.Admin.Message_NotConnectAPI");
                            }
                        });
                    }
                }
            });
        }
        function CompleteZone(zone) {
        }
        function ConvertZoneToPostObject(zone) {
            var postObject = {
                ZoneID: zone.ZoneID(),
                MapID: zone.MapID(),
                Data: zone.Data(),
                GUID: zone.GUID()
            };
            return postObject;
        }
        function ResetZone(zone) {
            zone.ZoneID(zone.OldValue().ZoneID);
            zone.MapID(zone.OldValue().MapID);
            zone.Data(zone.OldValue().Data);
        }
        self.ConvertDataToZone = function (dataItem) {
            var zone = new Zone(
                                         dataItem.ZoneID,
                                         dataItem.MapID,
                                         dataItem.Data
                                         );
            zone.MapName(dataItem.MapName);
            return zone;
        }
    };
</script>
