<!-- ko if: IsEdit()===false -->
        <div class="form-group">
            <label class="col-md-2 control-label">@MemeMVC.Resource.Media.Admin.Label_Table_Data</label>
            <div class="col-md-10">
                <span data-bind="html:Data" ></span>
            </div>
        </div>
<!-- /ko -->
<!-- ko if: IsEdit()===true -->
        <div class="form-group">
            <label for="ctrlData" class="col-md-2 control-label">@MemeMVC.Resource.Media.Admin.Label_Table_Data</label>
            <div class="col-md-10">
                <input id="ctrlData" type="text" data-bind="value:Data" class="form-control col-md-12" />
            </div>
        </div>
<!-- /ko -->
