<script type="text/javascript">
var MediaViewModel = function(){
var self = this;
    self.GetUrl = {
        getMedia : "@Url.Action("Get","Media")",
        saveMedia   : "@Url.Action("Save", "Media")",
        removeMedia : "@Url.Action("Remove", "Media")",
        gotoMaster       : "@Url.Action("Admin", "Media")",
        getGUIDString : "@Url.Action("GetGUIDString","Media")"
    };
    self.MediaID = ko.observable(null);
    self.Media = ko.observable(null);
    self.Transition = ko.observable(null);
    self.Processing = ko.observable(null);
    self.FFInit = ko.observable(null);
    self.InitModel = function(transition,processing){
        self.Transition = transition;
        self.Processing = processing;
    };
    self.SetFFInit = function(ffinit){
        self.FFInit(ffinit);
    };
    self.SetMediaID = function(id){
        self.MediaID(id);
    }
    self.InitData =function(){
        InitMedia();
    };
            self.startEditMedia = function(media){
                media.OldValue(ko.toJS(media));
                media.IsEdit(true);
             }
             self.finishEditMedia = function(media){
                SaveMedia(media);
             }
             self.cancelEditMedia = function(media){
                ResetMedia(media);
                media.IsEdit(false);
             }
             self.removeMedia = function(media){
                 DeleteMedia(media);
             };
             self.completeMedia = function(media){
                 CompleteMedia(media);
             };
             self.goBackToHome = function(){
                 window.location.href = self.GetUrl.gotoMaster;
             };
            function InitMedia(){
               self.Processing().SetProcessing("Media",true);
               if(self.MediaID()>0){
                  $.post(self.GetUrl.getMedia,{id:self.MediaID()},FinishInitMedia);
               }else{
                  $.post(self.GetUrl.getGUIDString,{},FinishInitMediaGUID);
               }
            };
            function FinishInitMedia(data){
                 if(data.Result == "@Base.ViewModel.ResultType.Success"){
                    self.Media(self.ConvertDataToMedia(data.Media));
                 }
                 if (self.FFInit() != null) self.FFInit()();
                 self.Processing().SetProcessing("Media",false);
            }
            function FinishInitMediaGUID(data){
                if(data.Result == "@Base.ViewModel.ResultType.Success"){
                         var newMedia = new Media(
                                0,
                                "",
                            );
                        newMedia.GUID(data.GUIDString);
                        self.Media(newMedia);
                        self.Media().AllowEdit(true);
                        self.Media().AllowRemove(true);
                        self.Media().AllowSendTo(false);
                        self.Media().AllowPrint(false);
                        self.Media().AllowAddDetail(true);
                        self.Media().IsEdit(true);
                  }
                self.Processing().SetProcessing("Media",false);
            }
            function SaveMedia(media){
                if(ValidateMedia(media )){
                  self.Processing().SetProcessing("Media",true);
                  $.post(self.GetUrl.saveMedia,ConvertMediaToPostObject(media),FinishSaveMedia);
                }
             }
             function ValidateMedia(item){
                return true;
             }
             function FinishSaveMedia(data){
                 if(data.Result == "@Base.ViewModel.ResultType.Success"){
                     self.Media().MediaID(data.Media.MediaID);
                     self.MediaID(data.Media.MediaID);
                     self.Media().IsEdit(false);
                 }else{
                    bootbox.alert("@MemeMVC.Resource.Media.Admin.Message_SaveFail");
                 }
                 self.Processing().SetProcessing("Media",false);
             }
             function DeleteMedia(media){
                 self.Processing().SetProcessing("Media",true);
                 bootbox.confirm("<b>@MemeMVC.Resource.Media.Admin.Message_ConfirmDelete</b>",
                                  function(result){
                            if(result){
                                if(media != undefined){
                                    $.post(self.GetUrl.removeMedia,{id: self.Media().MediaID()},
                                         function(data){
                                            self.Processing().SetProcessing("Media",false);
                                            if(data.Result == "@Base.ViewModel.ResultType.Success"){
                                                window.location.href = self.GetUrl.gotoMaster;
                                            }else{
                                                bootbox.alert("@MemeMVC.Resource.Media.Admin.Message_NotConnectAPI");
                                            }
                                        });
                                }
                            }
                        }
                 );
             }
            function CompleteMedia(media){
            }
             function ConvertMediaToPostObject(media){
                var postObject = {
                                 MediaID:media.MediaID(),
                                 Data:media.Data(),
                                 Media_Guid:media.Media_Guid(),
                                 GUID:media.GUID()
                                };
                return postObject;
             }
             function ResetMedia(media){
                 media.MediaID(media.OldValue().MediaID);
                 media.Data(media.OldValue().Data);
                 media.Media_Guid(media.OldValue().Media_Guid);
             }
             self.ConvertDataToMedia = function(dataItem){
                    var media = new Media(
                                                 dataItem.MediaID,
                                                 dataItem.Data,
                                                 dataItem.Media_Guid
                                                 );
                    return media;
             }
        };
</script>
